extends layout

block vars
  head
    //- overwrite any page specific meta here
    - var bodyClass ='error'
    - var pageTitle ='Something has gone awry'

block content
  section
    div.container
      article
        h4 找不到此页.
        a.btn(href="/") 回到首页
