

extends layout

block vars
  head
    //- overwrite any page specific meta here
    - var bodyClass          = 'max-container chinese'
    - var pageTitle          = '欢迎來到全新哈里森豪亭'
    - var ogTitle            = '欢迎來到全新哈里森豪亭'
    - var ogType             = 'article'
    - var ogUrl              = 'http://devsitelocation.com/projects/harrison/china/'
    - var ogImg              = 'img/2.jpg'
    - var ogDescription      = '哈里森比新楼了 这是住在旧金山的一个全新的方式 一个不只是有事情 但是，关于有经验 收集的时刻。储存记忆 哈里森能够像什么旧金山的生活从未见过 公寓都在一到三间卧室，从每层楼和煽情的设计由肯 富尔克令人惊叹的景观 就这样，奢侈品是有趣的一次'
    - var twitterCard        = 'summary'
    - var twitterSite        = '@TheHarrison_SF'
    - var twitterCreator     = '@TheHarrison_SF'
    - var twitterTitle       = '欢迎來到全新哈里森豪亭'
    - var twitterDescription = '哈里森比新楼了 这是住在旧金山的一个全新的方式 一个不只是有事情 但是，关于有经验 收集的时刻。储存记忆 哈里森能够像什么旧金山的生活从未见过 公寓都在一到三间卧室，从每层楼和煽情的设计由肯 富尔克令人惊叹的景观 就这样，奢侈品是有趣的一次'
    - var twitterImgSrc      = 'img/2.jpg'

block content

  div.overlay

  section.hero
    div.copy#hero-copy
      h1.fade-in-up 欢迎您来到赋予豪华生活新定义的 THE HARRISON
      hr.fade-in-up.delay-1(align="left")
      p.fade-in-up.delay-2 欢迎您来到自己的家。

  section.intro
    p The Harrison 不止是一栋新的大楼. 这是在旧 金山一种全新的生活方式。 这种生活方式孜孜 以求的不是拥有更多东西。 而是拥有更多的体 验。 珍惜那缘起缘灭的刹那。 珍藏那缘起不灭 的回忆。 The Harrison 让您能在旧金山用前所 未有的方式品位生活。 住宅单元从一到三居室 都有，从每一层楼都能领略壮观的美景和 Ken Fulk 令人耳目一新的设计细节。 就是这样，豪 华又变得有趣了。

  section.intro-gallery#design
    div
      img(data-action='zoom', src='img/new/Harrison_Salon.jpg')

    div
      img(data-action='zoom', src='img/new/Harrison_Living_Room.jpg')

    div
      img(data-action='zoom', src='img/5.jpg')

  section.full-height-1#views
    h2.fade-in-up 品味生活的新高度。
    p.fade-in-up.delay-1 从 The Harrison 上眺望美景，物我两忘，相看 两不厌。 从大楼各处可极目骋怀，欣赏海湾的 波光云影或旧金山风韵独特的城市景观。 这不 只是一栋大楼。 这不只是一个居住的地方。 这 是生活的最高境界。

  section.full-height-gallery
    div
      img(data-action='zoom', src='img/east_twilight_01.jpg')

    div
      img(data-action='zoom', src='img/north_twilight_01.jpg')

    div
      img(data-action='zoom', src='img/west_twilight.jpg')

    div
      img(data-action='zoom', src='img/south_twilight_01.jpg')

  section.full-height-2#amenities
    div.copy
      h2.fade-in-up 向您介绍 KEN FULK 设计大师
      p.fade-in-up.delay-1 Ken Fulk 设计师的作品巨细无遗。 他以层次 细腻的室内装潢及无与伦比的奢华派对而闻名。 旧金山的 Ken Fulk 是一位无师自通的设计大 师，所有客户均靠口口相传的推荐。 他善于将 不可能变为可能，因而在设计界独树一帜。 Ken Fulk 为客户精细打造生活的每个细节，从室内装潢到定做文具，还有他们的服饰、婚礼、晚宴，甚至全家的度假旅行。

  section.interior#interior
    div.figure-container
      figure
    div.copy
      h2#interior-headline.fade-in-up 请尽情享受这场视觉的飨宴！从 里到外。
      div.double
        p#interior-text.fade-in-up.delay-1 无论您是在落地长窗前眺望海湾大桥，还是从 高处俯瞰市区的万家灯火，Ken Fulk 的室内设 计令人耳目一新。 The Harrison 大楼四面都能 欣赏四周壮丽的景观。 而您脚下的斜格纹西伯 利亚橡木地板，水艺品把手和定做的黄铜及铸 造玻璃壁灯，这室内的精致设计一样值得您驻 足欣赏。 <br />
          a(href="http://devsitelocation.com/projects/harrison/china/The_Harrison.pdf" target="_blank").fade-in-up.delay-2.btn.grdnt.gold.lrg 下载宣传资料
        ul#interior-ul.fade-in-up.delay-1
          li 落地窗
          li 斜格纹西伯利亚橡木地板，表面经钢丝磨砂处理
          li 室内全部采用无漆黄铜把手
          li Subzero、Bertazzoni 及博世（Bosch）名牌家用电器
          li 如水疗中心般的浴室中采用水艺品（Waterworks）牌无漆黄铜把手和装置

      div.interior-gallery
        div
          img(data-action='zoom', src='img/32f.jpg')
        div
          img(data-action='zoom', src='img/new/Harrison_Bathroom.jpg')
        div
          img(data-action='zoom', src='img/new/Harrison_Bedroom.jpg')

      div.interior-gallery
        div
          img(data-action='zoom', src='img/32b_dark_living.jpg')
        div
          img(data-action='zoom', src='img/32b.jpg')
        div
          img(data-action='zoom', src='img/new/Harrison_Kitchen.jpg')

  section.amenities#amenitiestwo
    div.copy
      h3#amenities-headline.fade-in-up 不同一般的服务
      p.amenities-text.fade-in-up.delay-1 在 The Harrison，我们提供的服务无与伦比。 除了门房，我们还有专职的礼宾服务，让您轻 松往返于熙熙攘攘的魅力城市和恬静安逸的家
      p.amenities-text.fade-in-up.delay-1 位于 49 楼的哈利大叔休息厅是专供大楼住户 及其贵客使用的俱乐部。 在这里您可以相聚小 酌，在市内最具景观优势位置的落地长窗前俯 瞰那旧金山流动的美景。
      p.amenities-text.fade-in-up.delay-1 另外，我们 2500 平方英尺的健身中心有宽敞 的更衣室、室外温水游泳池和按摩浴池。
  section.full-height-3#residences
    div.copy
      h2.fade-in-up 旧金山从未看起来如此漂亮。
      p.fade-in-up.delay-1
      p.fade-in-up.delay-1 在 The Harrison，我们的做法与众不同。 从典 雅的大堂到顶楼的哈利大叔酒吧，我们精心设 计公共区域，使之充满艺术气息，让您乐于在 那里吟味静好的岁月。 但是，您抬脚一出门， 马上就置身于旧金山的生活中心－－活力四射 的 SOMA 区。 SOMA 是市场街以南（“South of Market Street”）的英文缩写。 这个充满活力的 社区已形成了一个文化中心，有众多的博物馆 、剧院、音乐会，还有鸡尾酒酒吧和各种多彩 多姿的夜生活。
      a(href="mailto:info@theharrisonsf.com").btn.grdnt.gold.lrg.fade-in-up.delay-2 现在就洽询详情

    svg.residences-logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 757.3 478.3', enable-background='new 0 0 757.3 478.3', xml:space='preserve')
      path(fill='#F1BC50', d='M609.9,26.2c3.1,0,3.1-1.4,3.1-3.1V2.4c0-1.7-1.4-2.4-3.1-2.4H422.3c-1.7,0-3.1,0.7-3.1,2.4v21.4\
        c0,1.7,0.6,2.9,3.1,2.9c31.1,0,37.8,4.4,37.8,22.6v76.1c0,47.7-10.2,53.8-81.3,53.8h-0.4c-71.1,0-81.3-6.2-81.3-53.8V49.3\
        c0-18.2,6.7-22.6,37.8-22.6c2.5,0,3.1-1.2,3.1-2.9V2.4c0-1.7-1.4-2.4-3.1-2.4H147.4c-1.7,0-3.1,0.7-3.1,2.4v20.7\
        c0,1.7,0,3.1,3.1,3.1c29.6,0,37.8,7.3,37.8,26.9v255.6c0,19.6-8.2,26.9-37.8,26.9c-3.1,0-3.1,1.4-3.1,3.1v20.7\
        c0,1.7,1.4,2.4,3.1,2.4h187.5c1.7,0,3.1-0.7,3.1-2.4V338c0-1.7-0.6-2.9-3.1-2.9c-31.1,0-37.8-4.4-37.8-22.6v-76.1\
        c0-47.7,10.2-53.8,81.3-53.8h0.4c71.1,0,81.3,6.2,81.3,53.8v76.1c0,18.2-6.7,22.6-37.8,22.6c-2.5,0-3.1,1.2-3.1,2.9v21.4\
        c0,1.7,1.4,2.4,3.1,2.4h187.5c1.7,0,3.1-0.7,3.1-2.4v-20.7c0-1.7,0-3.1-3.1-3.1c-29.6,0-37.8-7.3-37.8-26.9V53.1\
        C572.1,33.5,580.3,26.2,609.9,26.2')
      path.type(fill='#F1BC50', d='M32.1,474.8l8.5,0.1l-0.1,2.2c-4.9-0.1-9.8-0.1-14.7-0.1c-8.3,0-13.7,0.1-15,0.1v-2.2l8.6-0.1v-50.9\
        C7.6,424,4.1,427.1,2.7,436.8l-0.3,3.5L0,440.2l0.3-7.6c0.2-2.9,0.2-4.6,0.2-6.7c0-2.2,0-3.5-0.1-4.6l1.6-0.6c1,0.1,2,0.2,3,0.2\
        c1.9,0.2,11.1,0.2,20.1,0.2c8.6,0.1,17.9-0.1,18.8-0.2c1.9-0.1,3.7-0.2,4.4-0.2l1.6,0.6c-0.2,3.4-0.3,7-0.2,18.8l-2.3,0.2l-0.6-6.5\
        c-1.4-7.9-4.2-9.8-14.6-9.8V474.8z')
      path.type(fill='#F1BC50', d='M85.8,447.1c7.8-0.1,9.2-0.1,22.1,0v-24l-8-0.1v-2.2c0,0,6.6,0.1,14.7,0.1c4.5,0,9.2,0,13.7-0.1v2.2l-8,0.1\
        v51.6l8,0.1v2.2c-4.7-0.1-9.5-0.1-14.2-0.1c-4.8,0-9.6,0-14.2,0.1v-2.2l8-0.1v-25c-3.8,0.1-7.7,0.1-11.5,0.1c-5.7,0-7.9,0-10.5-0.1\
        v25l8,0.1v2.2C87.7,477,81,477,78.6,477c-4.5,0-9,0-13.5,0.1v-2.2l8.1-0.1v-51.6l-8.1-0.1v-2.2c4.7,0.1,9.4,0.1,14.1,0.1\
        c4.9,0,9.7,0,14.6-0.1v2.2l-8,0.1V447.1z')
      path.type(fill='#F1BC50', d='M165.3,448.7l0.3,25.3h4.1c7.7-0.1,11.9-0.2,15.3-2.4c4.1-2.7,4.6-6.8,5.4-12.7l2.5,0.1l-0.6,8.2\
        c-0.2,4.2-0.4,6.8-0.6,8.4c-0.2,1.3-0.3,1.5-2.9,1.5c-0.6,0-3.7-0.1-4.3-0.1c-9.1-0.1-18.1-0.2-27.2-0.2c-4.2,0-8.4,0.1-12.5,0.2\
        v-2.3l8-0.1v-51.3l-7.5-0.1v-2.3c14.7,0.1,30.2,0.2,44.1-0.4c0,2.6,0,4.1,0.2,7.3l0.5,8.2l-2.4,0.4c-1.8-10.3-4.6-12.8-17.8-12.8\
        l-4.4,0.1l-0.2,22.7l3.1-0.2c6.8-0.5,8.5-2.9,9.1-10.2h2.4c-0.2,2.7-0.4,5.3-0.4,14.8c0,1.4,0,4.8,0.2,8h-2.4\
        c-0.9-7.7-1.1-9.4-9.1-10L165.3,448.7z')
      path.type(fill='#F1BC50', d='M266,447.1c7.8-0.1,9.2-0.1,22.1,0v-24l-8-0.1v-2.2c0,0,6.6,0.1,14.7,0.1c4.5,0,9.2,0,13.7-0.1v2.2l-8,0.1\
        v51.6l8,0.1v2.2c-4.7-0.1-9.5-0.1-14.2-0.1c-4.8,0-9.6,0-14.2,0.1v-2.2l8-0.1v-25c-3.8,0.1-7.7,0.1-11.5,0.1c-5.7,0-7.9,0-10.5-0.1\
        v25l8,0.1v2.2c-6.1-0.1-12.8-0.1-15.3-0.1c-4.5,0-9,0-13.5,0.1v-2.2l8.1-0.1v-51.6l-8.1-0.1v-2.2c4.7,0.1,9.4,0.1,14.1,0.1\
        c4.9,0,9.7,0,14.6-0.1v2.2l-8,0.1V447.1z')
      path.type(fill='#F1BC50', d='M350.2,454.5l-1.5-4.8c-2.6-8.1-3.4-10.9-5.1-16.4l-6.4,21.2H350.2z M361.8,452.8c1.2,3.3,2.4,6.8,3.5,10.2\
        c2.3,6.8,2.6,7.8,4.2,11.8l6.3,0.1v2.2c-4.2-0.1-8.5-0.1-12.8-0.1c-4.7,0-9.4,0-14.1,0.1v-2.2l7.4-0.1l-5.3-17.7h-14.3l-5.3,17.7\
        h7.6v2.3c-2.9-0.1-5.7-0.1-8.6-0.1c-2.9,0-6.3,0-9.2,0.1v-2.3h6.4c1.9-5.1,3.4-9.9,7-21.3l4.3-13.9c3.5-11.7,4.2-14.2,5.6-19.7h6.9\
        c0.2,0.6,0.3,1.1,0.5,1.7c1,3.5,1.6,5.4,5.9,19L361.8,452.8z')
      path.type(fill='#F1BC50', d='M409,447c4.7,0,5.3,0,6.5-0.2c3.9-0.7,7.4-3.2,7.4-11.4c0-9.6-4-12.5-9.5-12.5c-0.2,0-3.7,0-4.3,0.9\
        c-0.2,0.2-0.2,0.4-0.2,2.2V447z M411.7,420.6c1.8-0.1,3.5-0.2,5.3-0.2c3,0,9.1,0.2,13.4,3.8c2.2,1.8,4.5,5.1,4.5,9.9\
        c0,6.4-4.1,12.3-14.1,13.8c-1.2,0.2-2.4,0.2-3.6,0.3l3,0.6c9.1,2.1,12.9,4.1,13.8,15.3l0.2,2.9c0.2,3.1,0.9,8.2,4.4,8.2\
        c0.2,0,1.4,0,1.4-1.1c0-0.5-0.7-2.3-0.7-2.8c0-1.4,1.3-2.5,2.6-2.5c1.6,0,2.9,1.4,2.9,3.2c0,3.1-3.4,5.7-9.3,5.7\
        c-11.5,0-12.5-9.3-12.8-12l-0.2-3.1c-0.6-7-1.1-13.1-10.2-13.1H409v25.2l7.9,0.1v2.2c-0.8,0-5.7-0.1-12.8-0.1\
        c-5.2,0-10.3,0-15.5,0.1v-2.2l7.9-0.1c0.2-3,0.2-5.5,0.3-15.1v-36.3l-7.4-0.1v-2.3c1.3,0,7.7,0.1,8.4,0.1c3.3,0,5.6-0.1,9.4-0.2\
        L411.7,420.6z')
      path.type(fill='#F1BC50', d='M480.6,447c4.7,0,5.3,0,6.5-0.2c3.9-0.7,7.4-3.2,7.4-11.4c0-9.6-4-12.5-9.5-12.5c-0.2,0-3.7,0-4.3,0.9\
        c-0.2,0.2-0.2,0.4-0.2,2.2V447z M483.3,420.6c1.8-0.1,3.5-0.2,5.3-0.2c3,0,9.1,0.2,13.4,3.8c2.2,1.8,4.5,5.1,4.5,9.9\
        c0,6.4-4.1,12.3-14.1,13.8c-1.2,0.2-2.4,0.2-3.6,0.3l3,0.6c9.1,2.1,12.9,4.1,13.8,15.3l0.2,2.9c0.2,3.1,0.9,8.2,4.4,8.2\
        c0.2,0,1.4,0,1.4-1.1c0-0.5-0.7-2.3-0.7-2.8c0-1.4,1.3-2.5,2.6-2.5c1.6,0,2.9,1.4,2.9,3.2c0,3.1-3.4,5.7-9.3,5.7\
        c-11.5,0-12.5-9.3-12.8-12l-0.2-3.1c-0.6-7-1.1-13.1-10.2-13.1h-3.3v25.2l7.9,0.1v2.2c-0.8,0-5.7-0.1-12.8-0.1\
        c-5.2,0-10.4,0-15.5,0.1v-2.2l7.9-0.1c0.2-3,0.2-5.5,0.3-15.1v-36.3l-7.4-0.1v-2.3c1.3,0,7.7,0.1,8.4,0.1c3.3,0,5.6-0.1,9.4-0.2\
        L483.3,420.6z')
      path.type(fill='#F1BC50', d='M552.4,474.8l8,0.1v2.2c-4.6-0.1-9.3-0.1-14-0.1c-4.9,0-9.7,0-14.6,0.1v-2.2l8-0.1v-51.6l-8-0.1v-2.2\
        c5.1,0.1,10.3,0.1,15.4,0.1c4.5,0,8.8,0,13.2-0.1v2.2l-8,0.1V474.8z')
      path.type(fill='#F1BC50', d='M581.2,457.9c0.8,4.7,2.9,17.1,15.5,17.1c8.1,0,12.2-5.3,12.2-10.4c0-6.1-4.9-7.8-10.1-9.6l-4.5-1.4\
        c-5.2-1.8-15.4-5.4-15.4-17c0-10.2,8.2-16.8,17.1-16.8c5.2,0,8.9,2.1,11.5,3.5l2.3-2.5l1.9,0.6c-0.4,4.5-0.5,6-0.5,8.4\
        c0,3.3,0.2,5.9,0.5,7.4l-2.5,0.6c-0.6-3.7-1-5.4-1.8-7.4c-1.8-4.3-6-8-11.7-8c-5.3,0-10,3.5-10,8.8c0,5.7,4.9,7.4,11,9.4l3.7,1.1\
        c5.3,1.9,15.4,5.5,15.4,17.5c0,10.3-7.7,18.8-18.7,18.8c-6.1,0-10.4-2.5-13.8-4.5l-2.1,3.3l-2.2-0.9c0.2-2.5,0.4-5.2,0.4-8.1\
        c0-3.2-0.3-7.5-0.5-9.6L581.2,457.9z')
      path.type(fill='#F1BC50', d='M660,422c-3.5,0-7.6,1.3-10.4,6.5c-3.4,6.1-3.7,17.3-3.7,20.8c0,9.3,1.6,26.7,14.3,26.7\
        c11.1,0,13.9-13.1,13.9-27.4C674.1,438.7,672.8,422,660,422 M659.9,478.3c-14.8,0-28.2-12.4-28.2-29.1c0-14.6,11.2-29.5,28-29.5\
        c15.6,0,28.8,12.5,28.8,29.5C688.5,466.2,674.8,478.3,659.9,478.3')
      path.type(fill='#F1BC50', d='M748.5,457.7c-0.1,8.8-0.1,10.4,0.2,19.3H743c-2.2-3.7-4-6.6-7.8-12.6l-24-37.7l0.3,48l8.6,0.1v2.2\
        c-3.5-0.1-7.1-0.1-10.6-0.1c-3,0-6.1,0-9.2,0.1v-2.2l8-0.1c-0.1-1.5-0.1-3-0.1-4.5c0-6.5-0.1-13.1-0.1-19.6c0-9,0.1-17.9,0.3-26.8\
        c-1.2-0.5-1.6-0.6-3.7-0.6l-4.4-0.1v-2.2c3.3,0.1,7.9,0.1,12.2,0.1c4.5,0,5.9,0,9.1-0.1c2.2,3.6,5.1,8.2,6.8,10.8l17.2,27.2\
        l0.5-35.7l-8.9-0.1v-2.2c3.3,0.1,6.7,0.1,10,0.1c3.3,0,6.8,0,10.1-0.1v2.2l-8,0.1c-0.1,2.2-0.4,13.1-0.4,15.4L748.5,457.7z')
