html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 16px;
  font-size: 100%;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}
b {
  font-weight: bold;
}
i {
  font-style: italic;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
h1 {
  font-size: 38.4px;
  font-size: 2.4rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h2 {
  font-size: 28.8px;
  font-size: 1.8rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h3 {
  font-size: 24px;
  font-size: 1.5rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h4 {
  font-size: 20.8px;
  font-size: 1.3rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h5 {
  font-size: 16px;
  font-size: 1rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h6 {
  font-size: 14.4px;
  font-size: 0.9rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
  text-transform: uppercase;
}
ul {
  margin: 5px 15px;
  margin: 0.32rem 0.94rem;
  padding-left: 1rem;
}
ul li {
  list-style-type: disc;
  padding: 2px 0;
  padding: 0.125rem;
}
ol {
  margin: 5px 18px;
  margin: 0.32rem 1.125rem;
  padding-left: 1rem;
}
ol li {
  list-style-type: decimal;
  padding: 2px 0;
  padding: 0.125rem;
}
::-moz-selection {
  background: #0074d9;
  color: #494949;
}
::selection {
  background: #0074d9;
  color: #494949;
}
p {
  font-size: 1rem;
  margin: 0.75em 0;
  line-height: 1.6em;
}
small {
  font-size: 55%;
  opacity: 0.6;
  font-weight: normal;
}
a {
  color: #0074d9;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
}
a:hover {
  border-bottom: 1px solid;
}
a:hover {
  color: #0063b8;
}
a:visited {
  opacity: 0.8;
}
blockquote {
  border-left: 4px solid #0074d9;
  margin: 1em 0;
  padding-left: 1.5em;
}
blockquote:after {
  content: "";
  display: table;
  clear: both;
}
blockquote > p {
  font-weight: 300;
  font-size: 127%;
  font-size: 1.27rem;
  line-height: 127%;
  line-height: 1.27rem;
  margin-top: 0;
}
blockquote > cite,
blockquote > footer,
blockquote > figcaption {
  color: #888;
}
blockquote > cite:before,
blockquote > footer:before,
blockquote > figcaption:before {
  content: '\2014';
}
.hyphenation {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
html {
  margin: 0;
  padding: 0;
  background: url("../img/harrison-tiled-wallpaper.png");
}
.max-container {
  *zoom: 1;
  width: auto;
  max-width: 1600px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}
.max-container:before,
.max-container:after {
  content: '';
  display: table;
}
.max-container:after {
  clear: both;
}
.container {
  position: relative;
  clear: both;
  *zoom: 1;
  width: auto;
  max-width: 1600px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 4%;
  *zoom: 1;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
@media only screen and (max-width: 1050px) {
  .container {
    max-width: 100%;
  }
}
a:hover,
a:link {
  border-bottom: none;
}
hr {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  height: 0;
  padding: 0;
  margin: 1.5em 0;
}
.circle {
  border-radius: 50%;
}
nav[role='navigation'] ul {
  margin: 0;
  padding: 0;
}
nav[role='navigation'] ul:after {
  content: "";
  display: table;
  clear: both;
}
nav[role='navigation'] ul li {
  float: left;
  margin-right: 20px;
  list-style-type: none;
}
nav[role='navigation'] ul li:last-child {
  margin-right: 0;
}
::-moz-selection {
  background: rgba(0,116,217,0.1);
  color: #494949;
}
::selection {
  background: rgba(0,116,217,0.1);
  color: #494949;
}
.black {
  color: #000;
}
.white {
  color: #fff;
}
.defaultType,
body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
small,
em,
strong,
input,
button {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 64px;
  font-size: 4rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h2 {
  font-size: 48px;
  font-size: 3rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h3 {
  font-size: 36px;
  font-size: 2.25rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h4 {
  font-size: 28px;
  font-size: 1.75rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h5 {
  font-size: 22px;
  font-size: 1.375rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h6 {
  font-size: 18px;
  font-size: 1.125rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 1rem 0;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 1rem;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
.animated,
.over-scale,
.fade-in-up,
.fade-in-right,
.fade-in-left {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.over-scale {
  -webkit-animation-name: overscale;
          animation-name: overscale;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.delay-1 {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.delay-2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.animated,
.over-scale,
.fade-in-up,
.fade-in-right,
.fade-in-left {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.overscale {
  -webkit-animation-name: overscale;
          animation-name: overscale;
}
.over-scale {
  -webkit-animation-name: overscale;
          animation-name: overscale;
}
.fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
}
.fade-in-up {
  -webkit-animation-name: fade-in-up;
          animation-name: fade-in-up;
}
.fade-in-right {
  -webkit-animation-name: fade-in-right;
          animation-name: fade-in-right;
}
.fade-in-left {
  -webkit-animation-name: fade-in-left;
          animation-name: fade-in-left;
}
.bounce {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}
.delay-1 {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.delay-2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes overscale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes overscale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes overscale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes overscale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes theme-toggle {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@keyframes theme-toggle {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@-webkit-keyframes color-toggle {
  0% {
    background-color: #19b4e7;
  }
  50% {
    background-color: #b89a69;
  }
  100% {
    background-color: #19b4e7;
  }
}
@keyframes color-toggle {
  0% {
    background-color: #19b4e7;
  }
  50% {
    background-color: #b89a69;
  }
  100% {
    background-color: #19b4e7;
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
.btn {
  font-size: 9px;
  padding: 0.625rem 2.1875rem;
  background-color: '#f1bc50';
  color: '#FFF';
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  white-space: nowrap;
}
.btn:hover {
  border: 1px solid '#FFF';
  cursor: pointer !important;
}
.btn:hover,
.btn:active {
  border: none;
}
.btn {
  font-size: 10px;
  padding: 0.625rem 2.1875rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  white-space: nowrap;
  border: 1px solid rgba(255,255,255,0.5);
  letter-spacing: 0.1em;
  margin-right: 1em;
  font-family: "franklin-gothic-urw", sans-serif;
  line-height: 0.75rem;
}
.btn:hover {
  border: 1px solid #fff;
  cursor: pointer !important;
}
.btn.lrg {
  font-size: 0.6875rem;
  max-width: 450px;
  padding: 0.75rem 4.375rem;
}
.btn.grdnt {
  background: -webkit-linear-gradient(right, rgba(236,165,21,0.7), rgba(241,188,80,0.75), rgba(34,34,34,0), rgba(34,34,34,0));
  background: linear-gradient(270deg, rgba(236,165,21,0.7), rgba(241,188,80,0.75), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.btn.grdnt:hover {
  background-position: 99% 50%;
  border: 1px solid rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.3);
  box-shadow: 0px 8px 5px rgba(34,34,34,0.3);
}
.btn.grdnt:active {
  box-shadow: none;
}
.btn.grdnt.quiet {
  background: -webkit-linear-gradient(right, rgba(255,255,255,0.1), rgba(255,255,255,0.1), rgba(34,34,34,0), rgba(34,34,34,0));
  background: linear-gradient(270deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  border: 1px solid rgba(255,255,255,0.2);
}
.btn.grdnt.quiet:hover {
  border: 1px solid rgba(255,255,255,0.1);
  background-position: 99% 50%;
}
.btn.gold {
  border: 1px solid rgba(241,188,80,0.8);
  color: #f1bc50;
}
.btn.gold:hover {
  color: #fff !important;
}
.btn.quiet {
  color: rgba(255,255,255,0.5);
  border-color: #fff;
}
.btn.quiet:hover {
  color: #fff;
  border-color: rgba(255,255,255,0.3);
}
.btn.dark {
  color: #b2b2b2;
  border-color: #b2b2b2;
}
.btn.dark:hover {
  color: #8e8e8e;
  border-color: #8e8e8e;
}
.btn:last-child {
  margin-right: 0;
}
form {
  margin: 0.625rem 0;
  height: auto;
  width: 100%;
}
form .field {
  width: 100%;
  position: relative;
  height: 70px;
  float: left;
}
form .field.short {
  width: 70%;
}
form .field.submit {
  width: 100%;
  height: auto;
  margin-top: 1.875rem;
}
form .field.submit input {
  font-size: 0.75rem;
  margin-right: 0.9375rem;
}
form .field.submit p {
  padding-top: 0.4375rem;
  display: inline-block;
}
form .field input:not([type="submit"]),
form .field textarea,
form .field select {
  margin-top: 15px;
  padding: 3px 2px;
  background: transparent;
  width: 100%;
  height: 45px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #3a4346;
  border-radius: 0;
  font-size: 24px;
  color: #999;
  -webkit-transition: border ease-in-out 0.3s;
  transition: border ease-in-out 0.3s;
}
form .field input:not([type="submit"])::-webkit-input-placeholder,
form .field textarea::-webkit-input-placeholder,
form .field select::-webkit-input-placeholder {
  font-size: 20px;
  color: #3a4346;
}
form .field input:not([type="submit"]):focus,
form .field textarea:focus,
form .field select:focus {
  outline: 0;
  color: #fff;
  border-color: #f1bc50;
}
form .field input:not([type="submit"]).invalid,
form .field textarea.invalid,
form .field select.invalid {
  border-color: #f1bc50 !important;
}
form .field input[type="submit"] {
  float: left;
}
form .field label {
  position: absolute;
  left: 0;
  opacity: 0;
  color: #d13f19;
  top: 15px;
  color: rgba(255,255,255,0.3);
  font-size: 10px;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Arial';
  text-transform: uppercase;
  -webkit-transition: all 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
form .field input.invalid {
  outline: none;
  color: #fff;
  border-bottom: 1px solid #f1bc50;
}
form .field select.invalid {
  outline: none;
  color: #fff;
  border: 1px solid #f1bc50 !important;
}
form .field input:focus + label {
  color: #f1bc50;
  opacity: 1;
  top: 0.3125rem;
}
form .field ::-webkit-input-placeholder {
  color: #8f9ea3;
}
form .field :-moz-placeholder {
  color: #8f9ea3;
}
form .field ::-moz-placeholder {
  color: #8f9ea3;
}
form .field :-ms-input-placeholder {
  color: #8f9ea3;
}
.sel {
  position: relative;
  float: left;
}
.sel:hover:before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f1bc50;
}
.sel::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #999;
  position: absolute;
  right: 15px;
  top: 22px;
}
.sel select {
  background: transparent;
  border: #d13f19;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  height: 45px;
  width: 95px;
  position: relative;
  top: 16px;
  font-size: 14px;
  margin-left: 13px;
  padding-left: 13px;
  color: #999;
  cursor: pointer;
  background: transparent;
  -webkit-transition: background 0.1s, color 0.1s, border 0.5s ease;
  transition: background 0.1s, color 0.1s, border 0.5s ease;
}
.sel select.invalid {
  outline: none;
  border: 1px solid #f1bc50 !important;
}
.sel select:focus {
  outline: none;
  border-bottom: 1px solid #ea963a;
}
.sel select:hover {
  color: #fff;
  background: rgba(85,85,85,0.3);
}
.sel select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #999;
}
.short select {
  position: relative;
  top: 0;
}
.long {
  width: 100%;
  margin: 7px 0;
  border: 1px solid rgba(255,255,255,0.3);
}
.long select {
  height: 45px;
  width: 100%;
  margin-left: 0;
  position: relative;
  top: 0;
}
section.full-height-gallery {
  width: 100%;
  height: auto;
  padding: 5rem 5.8% 3.75rem 5.8%;
  background-color: #1b2022;
  display: table;
  overflow: visible;
}
section.full-height-gallery div {
  height: auto;
  float: left;
  position: relative;
}
section.full-height-gallery div::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100.2%;
  height: 0%;
  padding-bottom: 66.6%;
  box-shadow: inset 0 0 0 0px transparent;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  pointer-events: none;
}
section.full-height-gallery div:hover::after {
  box-shadow: inset 0 0 0 5px #f1bc50;
}
@media only screen and (min-width: 600px) {
  section.full-height-gallery div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
  }
  section.full-height-gallery div:before,
  section.full-height-gallery div:after {
    content: '';
    display: table;
  }
  section.full-height-gallery div:after {
    clear: both;
  }
  section.full-height-gallery div:last-child {
    margin-right: 0%;
  }
}
@media only screen and (max-width: 800px) {
  section.full-height-gallery div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    margin-bottom: 20px;
  }
  section.full-height-gallery div:before,
  section.full-height-gallery div:after {
    content: '';
    display: table;
  }
  section.full-height-gallery div:after {
    clear: both;
  }
  section.full-height-gallery div:last-child {
    margin-right: 0%;
  }
  section.full-height-gallery div:nth-child(2n) {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 600px) {
  section.full-height-gallery div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    margin-bottom: 20px;
  }
  section.full-height-gallery div:before,
  section.full-height-gallery div:after {
    content: '';
    display: table;
  }
  section.full-height-gallery div:after {
    clear: both;
  }
  section.full-height-gallery div:last-child {
    margin-right: 0%;
  }
}
section.full-height-gallery div .zoom-img-wrap {
  width: 100%;
}
section.full-height-gallery div .zoom-img-wrap img {
  height: auto;
}
section.full-height-gallery div img {
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: #808080;
  cursor: pointer;
  float: left;
}
section.full-height-1 {
  width: 100%;
  height: 100vh;
  background-image: url("../img/east-night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 75px 5% 0 5%;
  position: relative;
}
@media only screen and (max-width: 800px) {
  section.full-height-1 {
    height: 55vh;
  }
}
section.full-height-1:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #1b2022;
  opacity: 0.25;
}
@media only screen and (min-width: 800px) {
  section.full-height-1:after {
    opacity: 0.15;
  }
}
@media only screen and (max-width: 800px) {
  section.full-height-1:after {
    height: 55vh;
  }
}
section.full-height-1 h2::-moz-selection,
section.full-height-1 p::-moz-selection {
  color: #f1bc50;
  background-color: #8f9ea3;
}
section.full-height-1 h2::selection,
section.full-height-1 p::selection {
  color: #f1bc50;
  background-color: #8f9ea3;
}
section.full-height-1 h2 {
  z-index: 2;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 40px;
}
section.full-height-1 h2:not(.active) {
  display: none;
}
section.full-height-1 h2.active {
  display: block;
}
@media only screen and (max-width: 800px) {
  section.full-height-1 h2 {
    font-size: 35px;
  }
}
section.full-height-1 p {
  display: none;
  z-index: 2;
  text-align: center;
  position: relative;
  max-width: 620px;
  color: #fff;
  *zoom: 1;
  width: auto;
  max-width: 620px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
}
section.full-height-1 p:before,
section.full-height-1 p:after {
  content: '';
  display: table;
}
section.full-height-1 p:after {
  clear: both;
}
section.full-height-1 p:not(.active) {
  display: none !important;
}
section.full-height-1 p.active {
  display: block;
}
@media only screen and (max-width: 800px) {
  section.full-height-1 p {
    font-size: 15px;
  }
}
@media only screen and (min-width: 800px) {
  section.full-height-1 {
    background-attachment: fixed;
  }
}
section.full-height-2 {
  min-height: 29.375rem;
  width: 100%;
  height: 100vh;
  background-image: url("../img/ken-fulk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding: 0 0 0 0;
  position: relative;
}
@media only screen and (max-width: 800px) {
  section.full-height-2 {
    padding: 6.25rem 0;
    height: auto;
  }
}
section.full-height-2:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #1b2022;
  opacity: 0.25;
}
@media only screen and (min-width: 800px) {
  section.full-height-2:after {
    opacity: 0.1;
  }
}
@media only screen and (max-width: 800px) {
  section.full-height-2:after {
    height: 100%;
  }
}
section.full-height-2 div.copy {
  z-index: 2;
  position: relative;
  padding: 0 9%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media only screen and (max-width: 800px) {
  section.full-height-2 div.copy {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
section.full-height-2 div.copy h2,
section.full-height-2 div.copy p {
  margin: 0;
}
section.full-height-2 div.copy h2::-moz-selection,
section.full-height-2 div.copy p::-moz-selection {
  color: #f1bc50;
  background-color: #8f9ea3;
}
section.full-height-2 div.copy h2::selection,
section.full-height-2 div.copy p::selection {
  color: #f1bc50;
  background-color: #8f9ea3;
}
section.full-height-2 div.copy h2 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 40px;
}
section.full-height-2 div.copy h2:not(.active) {
  display: none;
}
section.full-height-2 div.copy h2.active {
  display: block;
}
section.full-height-2 div.copy p {
  max-width: 500px;
  color: #fff;
  font-size: 16px;
}
section.full-height-2 div.copy p:not(.active) {
  display: none;
}
section.full-height-2 div.copy p.active {
  display: block;
}
section.full-height-3 {
  min-height: 35rem;
  width: 100%;
  height: 100vh;
  background-image: url("../img/aerial-building.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  padding: 0 0 0 0;
  position: relative;
}
section.full-height-3 .residences-logo {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 70px;
  width: 70px;
  z-index: 15;
}
@media only screen and (max-width: 800px) {
  section.full-height-3 .residences-logo {
    display: none;
  }
}
section.full-height-3 .residences-logo path {
  fill: #383838;
}
@media only screen and (max-width: 800px) {
  section.full-height-3 {
    padding: 6.25rem 0;
    height: auto;
  }
}
section.full-height-3:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(left, #1b2022, transparent);
  background: linear-gradient(to right, #1b2022, transparent);
  opacity: 0.9;
}
@media only screen and (max-width: 800px) {
  section.full-height-3:after {
    height: 100%;
    background: #1b2022;
    opacity: 0.56;
  }
}
section.full-height-3 div.copy {
  z-index: 2;
  position: relative;
  padding: 0 9%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media only screen and (max-width: 800px) {
  section.full-height-3 div.copy {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
section.full-height-3 div.copy h2,
section.full-height-3 div.copy p {
  margin: 0;
}
section.full-height-3 div.copy h2::-moz-selection,
section.full-height-3 div.copy p::-moz-selection {
  color: #f1bc50;
  background-color: #8f9ea3;
}
section.full-height-3 div.copy h2::selection,
section.full-height-3 div.copy p::selection {
  color: #f1bc50;
  background-color: #8f9ea3;
}
section.full-height-3 div.copy h2 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 40px;
}
section.full-height-3 div.copy h2:not(.active) {
  display: none;
}
section.full-height-3 div.copy h2.active {
  display: block;
}
section.full-height-3 div.copy p {
  max-width: 500px;
  color: #fff;
  font-size: 16px;
}
section.full-height-3 div.copy p:not(.active) {
  display: none;
}
section.full-height-3 div.copy p.active {
  display: block;
}
section.full-height-3 div.copy a.btn {
  margin-top: 45px;
  font-size: 12px;
  border-radius: 0px;
  border: 1px solid rgba(241,188,80,0.8);
  padding: 1rem 3.125rem;
  color: #f1bc50;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
section.full-height-3 div.copy a.btn:not(.active) {
  display: none;
}
.interior {
  height: auto;
  width: 100%;
  overflow: visible;
  padding-bottom: 100px;
  background-color: #1b2023;
}
.interior:after {
  display: none;
}
.interior div.figure-container {
  background-color: trasnaprent;
  overflow: hidden;
  position: relative;
}
.interior div.figure-container > * {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.interior div.figure-container::before {
  content: '';
  display: block;
  height: 0;
  padding-top: 75%;
}
.interior div.figure-container figure {
  height: 100%;
  margin: 0;
  background-color: #d13f19;
  width: 100%;
  background-image: url("../img/new/Harrison_Living_Room.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
}
@media only screen and (max-width: 800px) {
  .interior div.figure-container figure {
    background-attachment: scroll;
  }
}
.interior div.copy h2 {
  font-size: 35px;
  color: #fff;
  margin-top: 4.6875rem;
  margin-bottom: 3.125rem;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .interior div.copy h2 {
    padding: 0 5%;
    text-align: left;
  }
}
.interior div.copy .interior-gallery {
  margin-top: 75px;
  clear: both;
  padding: 0 4% 0 4%;
  width: 100%;
  height: auto;
  display: table;
  overflow: visible;
}
.interior div.copy .interior-gallery:last-child {
  margin-top: 20px;
}
@media only screen and (max-width: 800px) {
  .interior div.copy .interior-gallery:last-child {
    margin-top: 0px;
  }
}
.interior div.copy .interior-gallery .zoom-img-wrap {
  width: 100%;
}
.interior div.copy .interior-gallery .zoom-img-wrap img {
  height: auto;
}
.interior div.copy .interior-gallery div {
  margin-left: 20px;
  float: left;
  width: calc((100% / 3) - 14px);
  height: auto;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .interior div.copy .interior-gallery div {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
.interior div.copy .interior-gallery div::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  padding-bottom: 56.8%;
  box-shadow: inset 0 0 0 0px transparent;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  pointer-events: none;
}
@media only screen and (max-width: 800px) {
  .interior div.copy .interior-gallery div::after {
    padding-bottom: 56.9%;
  }
}
.interior div.copy .interior-gallery div:hover::after {
  box-shadow: inset 0 0 0 5px #f1bc50;
}
.interior div.copy .interior-gallery div img {
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: #808080;
  cursor: pointer;
  float: left;
}
.interior div.copy .interior-gallery div:first-of-type {
  margin-left: 0px;
}
.interior div.copy .double {
  padding: 0 4% 0 calc(6.7% + 40px);
  height: auto;
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  .interior div.copy .double {
    padding: 0 5% 0 5%;
  }
}
.interior div.copy .double p {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  font-size: 15px;
  color: #8f9ea3;
  line-height: 30px;
  position: relative;
}
.interior div.copy .double p:before,
.interior div.copy .double p:after {
  content: '';
  display: table;
}
.interior div.copy .double p:after {
  clear: both;
}
.interior div.copy .double p:last-child {
  margin-right: 0%;
}
.interior div.copy .double p .btn {
  margin-top: 40px;
}
@media only screen and (max-width: 800px) {
  .interior div.copy .double p .btn {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .interior div.copy .double p {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .interior div.copy .double p:first-child {
    margin-left: auto;
  }
  .interior div.copy .double p:last-child {
    margin-right: auto;
  }
}
.interior div.copy .double ul {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.interior div.copy .double ul:before,
.interior div.copy .double ul:after {
  content: '';
  display: table;
}
.interior div.copy .double ul:after {
  clear: both;
}
.interior div.copy .double ul:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  .interior div.copy .double ul {
    padding: 0;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .interior div.copy .double ul:first-child {
    margin-left: auto;
  }
  .interior div.copy .double ul:last-child {
    margin-right: auto;
  }
}
.interior div.copy .double ul li {
  margin-left: 10%;
  list-style: none;
  line-height: 30px;
  margin-bottom: 10px;
  color: #8f9ea3;
  position: relative;
  padding-left: 15px;
}
.interior div.copy .double ul li:before {
  content: "• ";
  position: absolute;
  top: 2px;
  left: 0px;
  color: #eeb450;
}
@media only screen and (max-width: 800px) {
  .interior div.copy .double ul li {
    margin: 0;
    margin-bottom: 10px;
  }
}
.amenities {
  background-color: #eee;
  min-height: 29.375rem;
  width: 100%;
  height: 100vh;
  background-image: url("../img/bow-tie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding: 0 0;
  position: relative;
}
.amenities:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #fff;
  opacity: 0.55;
}
@media only screen and (min-width: 800px) {
  .amenities:after {
    opacity: 0.15;
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .amenities:after {
    height: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .amenities {
    padding: 4.6875rem 0;
    height: auto;
    min-height: 40.625rem;
  }
}
.amenities div.copy {
  position: absolute;
  top: 50%;
  right: 13%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
}
@media only screen and (max-width: 800px) {
  .amenities div.copy {
    padding: 0 5%;
    -webkit-transform: none;
            transform: none;
    top: 0;
    left: 0;
    position: relative;
  }
}
.amenities div.copy h3 {
  font-size: 45px;
  color: #121818;
  margin: 0;
  margin-bottom: 45px;
}
.amenities div.copy h3:not(.active) {
  display: none;
}
.amenities div.copy h3.active {
  display: block;
}
.amenities div.copy p {
  margin: 0;
  max-width: 460px;
}
.amenities div.copy p:not(:last-child) {
  margin-bottom: 30px;
}
.amenities div.copy p:not(.active) {
  display: none;
}
.amenities div.copy p.active {
  display: block;
}
.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}
.page-active {
  height: 100%;
  position: fixed;
  width: 100%;
}
body {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
body.nav-open {
  -webkit-transform: translateX(90vw);
          transform: translateX(90vw);
}
body.nav-open html {
  height: 100vh;
}
div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #222;
  opacity: 0.8;
  display: none;
}
div.overlay.active {
  display: block;
}
.ham {
  margin-left: 3%;
  position: absolute;
  top: 45px;
  left: 2%;
  z-index: 3;
}
@media only screen and (max-width: 1030px) {
  .ham {
    top: calc((90px / 2) - (15px / 2));
  }
}
@media only screen and (max-width: 600px) {
  .ham {
    top: calc((60px / 2) - (15px / 2));
  }
}
.ham span {
  width: 0;
  position: relative;
  text-transform: uppercase;
  font-size: 0.8125rem;
  color: #fff;
  letter-spacing: 0.2em;
  font-weight: 700;
  white-space: nowrap;
  float: left;
  color: #f1bc50;
  top: 2px;
  font-family: "franklin-gothic-urw", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.5px rgba(255,255,255,0.3);
}
@media only screen and (min-width: 1030px) {
  .ham span {
    display: none;
  }
}
section.hero {
  width: 100%;
  height: calc(90vh - 90px);
  background-image: url("../img/exterior.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #1b2022;
  padding-top: 5.625rem;
  min-height: 43.75rem;
}
@media only screen and (max-width: 600px) {
  section.hero {
    padding-top: 3.75rem;
  }
}
@media only screen and (max-width: 800px) {
  section.hero {
    font-size: 28px;
    height: 50vh;
  }
}
section.hero div.copy {
  width: 100%;
  height: auto;
  background: rgba(22,26,28,0.75);
  padding: calc(2rem + 90px) 5% 2.9rem 5%;
  margin-top: -5.625rem;
}
@media only screen and (max-width: 600px) {
  section.hero div.copy {
    margin-top: -3.75rem;
    padding-top: calc(2rem + 60px);
  }
}
section.hero div.copy h1 {
  color: #fff;
  font-size: 38px;
  margin: 0;
}
@media only screen and (max-width: 800px) {
  section.hero div.copy h1 {
    font-size: 28px;
  }
}
section.hero div.copy hr {
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  height: 0;
  padding: 0;
  margin: 1.5em 0;
  width: 9.375rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0;
  margin-top: 22px;
}
section.hero div.copy p {
  margin: 0;
  color: #fff;
  margin-top: 25px;
  font-size: 15px;
}
@media only screen and (max-width: 800px) {
  section.hero div.copy p {
    margin-top: 20px;
  }
}
div.inquire-btn-menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  right: -90vw;
  background-color: #1b2022;
  z-index: 4;
  width: 90vw;
  height: 200vh;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  display: none;
}
div.inquire-btn-menu .form-container {
  padding: 0 6%;
  position: absolute;
  top: 156px;
}
div.inquire-btn-menu .inquire-headline {
  font-size: 28px;
  color: #fff;
  position: absolute;
  top: 107px;
  left: 6%;
  margin: 0;
  padding: 0;
}
div.inquire-btn-menu .inquire-headline::-moz-selection {
  color: #f1bc50;
  background-color: #8f9ea3;
}
div.inquire-btn-menu .inquire-headline::selection {
  color: #f1bc50;
  background-color: #8f9ea3;
}
div.inquire-btn-menu.active {
  display: block;
}
div.inquire-btn-menu #inquire-close-btn {
  max-width: 30px;
  height: 30px;
  stroke: #5b656a;
  fill: #5b656a;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
div.inquire-btn-menu #inquire-close-btn:hover {
  stroke: #fff;
  fill: #fff;
}
div.inquire-btn-menu form {
  height: 100%;
}
div.inquire-btn-menu form hr {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed rgba(255,255,255,0.3);
  margin-bottom: 25px;
  padding: 0;
}
div.inquire-btn-menu form .submit {
  float: left;
}
div.inquire-btn-menu form .submit:focus {
  outline: 0;
}
@media only screen and (max-width: 600px) {
  div.inquire-btn-menu form .submit {
    padding: 0.625rem 1.25rem;
  }
}
div.inquire-btn-menu form .cancel {
  float: right;
}
div.inquire-btn-menu form .cancel:focus {
  outline: 0;
}
@media only screen and (max-width: 600px) {
  div.inquire-btn-menu form .cancel {
    padding: 0.625rem 1.25rem;
  }
}
div.inquire-btn-menu form .zip {
  margin-bottom: 1.5625rem;
}
div.inquire-btn-menu form .pr {
  margin-bottom: 1.875rem;
}
section.intro-gallery {
  width: 100%;
  height: auto;
  padding: 20px 6.25% 80px 6.25%;
  background-color: #1b2022;
  display: table;
  overflow: visible;
  position: relative;
}
section.intro-gallery div {
  height: auto;
  float: left;
  position: relative;
}
section.intro-gallery div::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100.1%;
  height: 0%;
  padding-bottom: 57%;
  box-shadow: inset 0 0 0 0px transparent;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  pointer-events: none;
}
section.intro-gallery div:hover::after {
  box-shadow: inset 0 0 0 5px #f1bc50;
}
@media only screen and (min-width: 600px) {
  section.intro-gallery div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  section.intro-gallery div:before,
  section.intro-gallery div:after {
    content: '';
    display: table;
  }
  section.intro-gallery div:after {
    clear: both;
  }
  section.intro-gallery div:last-child {
    margin-right: 0%;
  }
  section.intro-gallery div:nth-child(3n) {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 800px) {
  section.intro-gallery div {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  section.intro-gallery div:first-child {
    margin-left: auto;
  }
  section.intro-gallery div:last-child {
    margin-right: auto;
  }
}
@media only screen and (max-width: 600px) {
  section.intro-gallery div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    margin-bottom: 20px;
  }
  section.intro-gallery div:before,
  section.intro-gallery div:after {
    content: '';
    display: table;
  }
  section.intro-gallery div:after {
    clear: both;
  }
  section.intro-gallery div:last-child {
    margin-right: 0%;
  }
}
section.intro-gallery div .zoom-img-wrap {
  width: 100%;
}
section.intro-gallery div .zoom-img-wrap img {
  height: auto;
}
section.intro-gallery div img {
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: #808080;
  cursor: pointer;
  float: left;
}
@media only screen and (min-width: 600px) {
  section.intro-gallery div img {
    margin-bottom: 10%;
  }
}
section.intro {
  background-color: #1b2022;
}
section.intro p {
  margin: 0 !important;
  padding: 75px 20.6%;
  line-height: 30px;
  color: #8f9ea3;
}
@media only screen and (max-width: 800px) {
  section.intro p {
    padding: 75px 10%;
  }
}
section.intro p::-moz-selection {
  color: #f1bc50;
  background-color: #8f9ea3;
}
section.intro p::selection {
  color: #f1bc50;
  background-color: #8f9ea3;
}
section.intro p a {
  color: #fff;
}
.ps-container {
  -ms-touch-action: none;
  overflow: hidden !important;
}
.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
}
.ps-container.ps-in-scrolling {
  pointer-events: none;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
}
.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
/* please don't change 'position' */
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  bottom: 3px;
/* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 8px;
}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
/* please don't change 'position' */
  background-color: #aaa;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  bottom: 0;
/* there must be 'bottom' for ps-scrollbar-x */
  height: 8px;
}
.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
/* please don't change 'position' */
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  right: 3px;
/* there must be 'right' for ps-scrollbar-y-rail */
  width: 8px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
/* please don't change 'position' */
  background-color: #aaa;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  right: 0;
/* there must be 'right' for ps-scrollbar-y */
  width: 8px;
}
.ps-container:hover.ps-in-scrolling {
  pointer-events: none;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
}
.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #999;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #999;
}
img[data-action="zoom"] {
  cursor: pointer;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 0.8;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}
footer[role="contentinfo"] {
  *zoom: 1;
  width: 100%;
  display: block;
  background: #1b2022;
  color: #5b656a;
  overflow: hidden;
}
footer[role="contentinfo"]:before,
footer[role="contentinfo"]:after {
  content: '';
  display: table;
}
footer[role="contentinfo"]:after {
  clear: both;
}
footer[role="contentinfo"] .top-links {
  width: 100%;
  *zoom: 1;
  padding: 0 12%;
  margin-top: 4.0625rem;
  position: relative;
  z-index: 11;
}
footer[role="contentinfo"] .top-links:before,
footer[role="contentinfo"] .top-links:after {
  content: '';
  display: table;
}
footer[role="contentinfo"] .top-links:after {
  clear: both;
}
@media only screen and (max-width: 1050px) {
  footer[role="contentinfo"] .top-links article {
    width: 50%;
    float: left;
    margin-right: 0;
    text-align: left;
    min-height: 14.375rem;
    margin: 1.875rem 0;
    border-bottom: solid 1px $quiet-border-dark;
  }
  footer[role="contentinfo"] .top-links article:last-of-type {
    width: 100%;
  }
}
footer[role="contentinfo"] .top-links article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
}
footer[role="contentinfo"] .top-links article:before,
footer[role="contentinfo"] .top-links article:after {
  content: '';
  display: table;
}
footer[role="contentinfo"] .top-links article:after {
  clear: both;
}
footer[role="contentinfo"] .top-links article:last-child {
  margin-right: 0%;
}
footer[role="contentinfo"] .top-links article p {
  color: #8f9ea3;
  text-transform: uppercase;
  font-size: 0.8125rem;
  padding-bottom: 1.25rem;
}
footer[role="contentinfo"] .top-links article ul li a {
  display: block;
  padding: 0.625rem 0;
  font-size: 1rem !important;
  color: #fff;
rgba(241,188,80,0.4)
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
footer[role="contentinfo"] .top-links article ul li a:hover {
  color: #fff;
}
footer[role="contentinfo"] .footer-content {
  width: 100%;
  position: relative;
  padding: 175px 5%;
  padding-bottom: 50px;
}
footer[role="contentinfo"] .footer-content path,
footer[role="contentinfo"] .footer-content polygon,
footer[role="contentinfo"] .footer-content rect {
  fill: #5b656a;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
footer[role="contentinfo"] .footer-content a {
  color: #5b656a;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
footer[role="contentinfo"] .footer-content a:hover {
  color: #9aa3a8;
}
footer[role="contentinfo"] .footer-content a:hover path,
footer[role="contentinfo"] .footer-content a:hover polygon,
footer[role="contentinfo"] .footer-content a:hover rect {
  fill: #9aa3a8;
}
footer[role="contentinfo"] .footer-content .bottom {
  width: 100%;
  height: 65px;
  position: relative;
  top: -65px;
  z-index: 10;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
footer[role="contentinfo"] .footer-content .bottom .social-wrap {
  float: right;
  padding-top: 1px;
  margin: -3px 0.94rem;
}
footer[role="contentinfo"] .footer-content .bottom .social-wrap li {
  display: inline-block;
  border-right: 1px solid rgba(255,255,255,0.1);
}
footer[role="contentinfo"] .footer-content .bottom .social-wrap li:last-child {
  border: none;
}
footer[role="contentinfo"] .footer-content .bottom .social-wrap a {
  width: 100%;
  text-align: center;
  float: left;
  height: 62px;
  cursor: pointer;
  display: block;
  padding: 0 20px;
}
footer[role="contentinfo"] .footer-content .bottom .social-wrap a svg {
  width: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
footer[role="contentinfo"] .footer-content .bottom .social-wrap a svg rect {
  fill: #5b656a;
}
footer[role="contentinfo"] .footer-content .bottom .maximus-logo {
  width: 70px;
  height: 50px;
  margin-left: 20px;
  position: relative;
}
footer[role="contentinfo"] .footer-content .bottom .mk-wrap {
  width: 130px;
  border-right: 1px solid rgba(255,255,255,0.1);
  float: left;
  padding-right: 1.25rem;
  height: 65px;
}
footer[role="contentinfo"] .footer-content .bottom .mk-wrap a {
  width: 100%;
  height: 70px;
  display: block;
}
footer[role="contentinfo"] .footer-content .bottom .mk-wrap a svg {
  width: 100%;
  height: 70px;
  margin-top: -5px;
}
footer[role="contentinfo"] .footer-content .bottom .mk-wrap a svg rect {
  fill: transparent;
}
footer[role="contentinfo"] .footer-content .license {
  position: relative;
  font-size: 12px;
  top: -3.125rem;
  letter-spacing: -0.2px;
  color: #5b656a;
  border: 1px solid transparent;
}
footer[role="contentinfo"] .footer-content .house {
  width: 20px;
  height: 25px;
  float: left;
  position: relative;
  top: -84px;
  left: 157px;
}
footer[role="contentinfo"] .footer-content .house path {
  fill: #5b656a;
}
footer[role="contentinfo"] .footer-content .legal-info {
  float: right;
  position: relative;
  top: -5.375rem;
}
footer[role="contentinfo"] .footer-content .legal-info li {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  letter-spacing: -0.2px;
}
footer[role="contentinfo"] .footer-content .footer-logo {
  position: absolute;
  left: calc(50% - 125px);
  top: 225px;
  width: 250px;
  display: block;
  margin-top: -96px;
  z-index: 10;
}
@media only screen and (max-width: 1050px) {
  footer[role="contentinfo"] .footer-content .footer-logo {
    width: 175px;
    top: 228px;
    left: calc(50% - 93px);
  }
  footer[role="contentinfo"] .footer-content .footer-logo svg {
    width: 100%;
  }
  footer[role="contentinfo"] .footer-content .footer-logo::before {
    top: 9px;
  }
}
footer[role="contentinfo"] .footer-content .footer-logo::before {
  content: '';
  display: block;
  width: 100%;
  height: 95px;
  background: #1b2022;
  position: absolute;
  top: 40px;
}
footer[role="contentinfo"] .footer-content .footer-logo svg {
  width: 250px;
  margin: 0 auto;
  position: relative;
  display: block;
  bottom: 212px;
  margin-bottom: -70px;
}
footer[role="contentinfo"] .footer-content .footer-logo svg path,
footer[role="contentinfo"] .footer-content .footer-logo svg polygon,
footer[role="contentinfo"] .footer-content .footer-logo svg rect {
  fill: #5b656a !important;
}
@media only screen and (max-width: 1050px) {
  footer[role="contentinfo"] .top-links {
    padding: 0 5%;
    text-align: center;
  }
  footer[role="contentinfo"] .footer-content {
    padding: 50px 0;
  }
  footer[role="contentinfo"] .footer-content .bottom {
    height: auto;
    position: relative;
    border-bottom: 0;
    top: 0;
  }
  footer[role="contentinfo"] .footer-content .bottom .social-wrap {
    float: none;
    *zoom: 1;
    width: auto;
    max-width: 230px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    height: auto;
    *zoom: 1;
  }
  footer[role="contentinfo"] .footer-content .bottom .social-wrap:before,
  footer[role="contentinfo"] .footer-content .bottom .social-wrap:after {
    content: '';
    display: table;
  }
  footer[role="contentinfo"] .footer-content .bottom .social-wrap:after {
    clear: both;
  }
  footer[role="contentinfo"] .footer-content .bottom .social-wrap:before,
  footer[role="contentinfo"] .footer-content .bottom .social-wrap:after {
    content: '';
    display: table;
  }
  footer[role="contentinfo"] .footer-content .bottom .social-wrap:after {
    clear: both;
  }
  footer[role="contentinfo"] .footer-content .bottom .social-wrap li {
    width: calc(100% / 3);
    display: block;
    float: left;
  }
  footer[role="contentinfo"] .footer-content .bottom .housing {
    *zoom: 1;
    *zoom: 1;
    width: auto;
    max-width: 250px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    margin-top: 320px;
    height: 65px;
    z-index: 5;
  }
  footer[role="contentinfo"] .footer-content .bottom .housing:before,
  footer[role="contentinfo"] .footer-content .bottom .housing:after {
    content: '';
    display: table;
  }
  footer[role="contentinfo"] .footer-content .bottom .housing:after {
    clear: both;
  }
  footer[role="contentinfo"] .footer-content .bottom .housing:before,
  footer[role="contentinfo"] .footer-content .bottom .housing:after {
    content: '';
    display: table;
  }
  footer[role="contentinfo"] .footer-content .bottom .housing:after {
    clear: both;
  }
  footer[role="contentinfo"] .footer-content .house {
    top: -25px;
    left: calc(50% + 50px);
  }
  footer[role="contentinfo"] .footer-content .license {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
    text-align: center;
    top: auto;
    margin-top: 1.25rem;
    padding-right: 67px;
  }
  footer[role="contentinfo"] .footer-content .maximus-logo {
    top: 3px;
  }
  footer[role="contentinfo"] .footer-content .legal-info {
    padding-top: 0;
    padding-right: 1.875rem;
    float: none;
    text-align: center;
    top: 23px;
    *zoom: 1;
  }
  footer[role="contentinfo"] .footer-content .legal-info:before,
  footer[role="contentinfo"] .footer-content .legal-info:after {
    content: '';
    display: table;
  }
  footer[role="contentinfo"] .footer-content .legal-info:after {
    clear: both;
  }
  footer[role="contentinfo"] .footer-content .footer-logo {
    width: 100%;
    left: 0;
    top: 200px;
    border-top: none;
    margin-top: 40px;
    z-index: 1;
  }
  footer[role="contentinfo"] .footer-content .footer-logo svg {
    position: relative;
    width: 250px;
  }
}
header[role="banner"] {
  *zoom: 1;
  width: auto;
  max-width: 1600px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 5.625rem;
  width: 100%;
  background-color: #1b2022;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  top: -200px;
  left: 50%;
  z-index: 10;
}
header[role="banner"]:before,
header[role="banner"]:after {
  content: '';
  display: table;
}
header[role="banner"]:after {
  clear: both;
}
header[role="banner"].active {
  top: 0;
}
@media only screen and (max-width: 600px) {
  header[role="banner"] {
    height: 60px;
  }
}
header[role="banner"] div.navigation-container ul.mobile-nav {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  left: -90vw;
  background-color: #1b2022;
  z-index: 4;
  width: 90vw;
  height: 100vh;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
header[role="banner"] div.navigation-container ul.mobile-nav .logo-mobile-menu {
  max-width: 80px;
  max-height: 80px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: block;
}
@media screen and (max-height: 690px) {
  header[role="banner"] div.navigation-container ul.mobile-nav .logo-mobile-menu {
    display: none;
  }
}
header[role="banner"] div.navigation-container ul.mobile-nav .logo-mobile-menu path {
  fill: #5b656a;
}
header[role="banner"] div.navigation-container ul.mobile-nav #mobile-close-btn {
  max-width: 30px;
  z-index: 5;
  height: 30px;
  stroke: #5b656a;
  fill: #5b656a;
  cursor: pointer;
  position: absolute;
  top: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  right: 15px;
}
header[role="banner"] div.navigation-container ul.mobile-nav #mobile-close-btn:hover {
  stroke: #fff;
  fill: #fff;
}
header[role="banner"] div.navigation-container ul.mobile-nav li {
  width: 100%;
  list-style-type: none;
  border-bottom: 1px solid #333a3c;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.5px rgba(255,255,255,0.3);
  display: block;
  height: auto;
  position: relative;
}
header[role="banner"] div.navigation-container ul.mobile-nav li:last-of-type {
  border-top: 1px solid transparent;
}
header[role="banner"] div.navigation-container ul.mobile-nav li a.mobile-nav-link {
  width: 90vw !important;
  height: 100%;
}
header[role="banner"] div.navigation-container ul.mobile-nav li a.mobile-nav-link:hover {
  text-decoration: none;
}
header[role="banner"] div.navigation-container ul.mobile-nav li a.mobile-nav-link:hover h4 {
  text-decoration: none;
  border: none;
  color: #fff;
}
header[role="banner"] div.navigation-container ul.mobile-nav li h4 {
  max-width: calc(100% - 55px);
  padding: 1.5625rem 0 1.5625rem 7.5%;
  color: #8c9ba0;
  margin: 0;
  font-size: 17px;
}
header[role="banner"] div.navigation-container ul.mobile-nav.active {
  display: block;
}
header[role="banner"] div.navigation-container a.logo-container {
  float: left;
  position: relative;
  text-decoration: none;
  border: none;
}
header[role="banner"] div.navigation-container a.logo-container:hover {
  text-decoration: none;
}
header[role="banner"] div.navigation-container a.logo-container::after {
  content: '';
  width: 1px;
  height: 70px;
  position: absolute;
  bottom: -8px;
  right: -40px;
  background: #2d3638;
}
@media only screen and (max-width: 1030px) {
  header[role="banner"] div.navigation-container a.logo-container::after {
    display: none;
  }
}
header[role="banner"] div.navigation-container a.logo-container svg.logo-large {
  width: 70px;
  height: 50px;
  dislay: block;
  margin-top: calc((90px / 2) - (50px / 2));
}
@media only screen and (max-width: 1030px) {
  header[role="banner"] div.navigation-container a.logo-container svg.logo-large {
    margin-left: calc((100vw / 2) - (140px / 2));
  }
}
@media only screen and (max-width: 600px) {
  header[role="banner"] div.navigation-container a.logo-container svg.logo-large {
    display: none;
  }
}
header[role="banner"] div.navigation-container a.logo-container svg.logo-small {
  width: auto;
  height: 30px;
  display: none;
  margin-top: calc((60px / 2) - (20px / 2));
}
@media only screen and (max-width: 600px) {
  header[role="banner"] div.navigation-container a.logo-container svg.logo-small {
    margin-left: calc((100vw / 2) - (88px / 2));
    display: block;
  }
}
header[role="banner"] div.navigation-container ul.navigation-items {
  float: left;
  margin-left: 3.75rem;
  margin-top: calc((90px / 2) - (18px / 2));
}
@media only screen and (max-width: 1030px) {
  header[role="banner"] div.navigation-container ul.navigation-items {
    display: none;
  }
}
header[role="banner"] div.navigation-container ul.navigation-items li {
  list-style-type: none;
  float: left;
}
header[role="banner"] div.navigation-container ul.navigation-items li:not(:last-of-type) {
  margin-right: 2.5rem;
}
header[role="banner"] div.navigation-container ul.navigation-items li a.navigation-item {
  font-size: 1rem;
  text-decoration: none;
  color: #8f9ea3;
}
header[role="banner"] div.navigation-container ul.navigation-items li a.navigation-item:hover {
  color: #fff;
  text-decoration: none;
}
header[role="banner"] div.navigation-container div.phone-container {
  float: right;
}
@media only screen and (max-width: 1200px) {
  header[role="banner"] div.navigation-container div.phone-container {
    display: none;
  }
}
header[role="banner"] div.navigation-container div.phone-container:hover h4.phone-number {
  color: #fff;
}
header[role="banner"] div.navigation-container div.phone-container svg.phone {
  float: left;
  margin-top: calc((90px / 2) - (20px / 2));
}
header[role="banner"] div.navigation-container div.phone-container h4.phone-number {
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
  margin: 0;
  margin-top: calc((90px / 2) - (16px / 2));
  margin-left: 0.625rem;
  float: left;
  font-size: 0.8125rem;
  color: #8f9ea3;
}
header[role="banner"] div.navigation-container a.btn {
  float: right;
  margin-top: calc((90px / 2) - (40px / 2));
  margin-left: 1.5625rem;
  font-size: 12px;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid rgba(241,188,80,0.8);
  padding: 0.8125rem 2.5rem;
  color: #f1bc50;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 1030px) {
  header[role="banner"] div.navigation-container a.btn {
    font-size: 9px;
    padding: 0.4375rem 1.125rem;
    margin-top: calc((90px / 2) - (25px / 2));
  }
}
@media only screen and (max-width: 600px) {
  header[role="banner"] div.navigation-container a.btn {
    margin-top: calc((60px / 2) - (25px / 2));
  }
}
body.error header,
body.error footer {
  display: none;
}
body.error .container {
  height: 100vh;
}
body.error article {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  *zoom: 1;
  width: auto;
  max-width: 400px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
body.error article:before,
body.error article:after {
  content: '';
  display: table;
}
body.error article:after {
  clear: both;
}

 /*# sourceMappingURL=site.css.map */