//
// Animations – defaults and variables
// –––––––––––––––––––––––––––––––––––––––––––

$duration = 0.3s
$easing   = ease-in-out

.animated
  animation-duration: .5s
  animation-fill-mode: both


@keyframes overscale
  0%
    transform: scale(0)

  70%
    transform: scale(1.1)

  100%
    transform: scale(1)

.over-scale
  animation-name: overscale
  animation-duration: .6s
  animation-delay: .3s
  animation-timing-function: $easing

// Add individual animations as needed

.delay-1
  animation-delay: .25s

.delay-2
  animation-delay: .5s




$duration = 0.8s
$easing   = $ease-out-back

.animated
  animation-duration: .5s
  animation-fill-mode: both
  animation-timing-function $easing

// add new classes here
.over-scale, .fade-in-up, .fade-in-right, .fade-in-up, .fade-in-left
  @extend .animated

@keyframes overscale
  0%
    transform: scale(0)
  70%
    transform: scale(1.1)
  100%
    transform: scale(1)

.overscale
  animation-name: overscale

@keyframes fade-in
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes fade-in-right
  0%
    opacity: 0
    transform: translateX(100px)

  100%
    opacity: 1
    transform: translateY(0)

@keyframes fade-in-left
  0%
    opacity: 0
    transform: translateX(-100px)

  100%
    opacity: 1
    transform: translateY(0)

@keyframes fade-in-up
  0%
    opacity: 0
    transform: translateY(60px)

  100%
    opacity: 1
    transform: translateY(0)

@keyframes theme-toggle
  0%
    background-position: 0% 2%
  50%
    background-position: 100% 99%
  100%
    background-position: 0% 2%

@keyframes color-toggle
  0%
    background-color: #19b4e7
  50%
    background-color: #b89a69
  100%
    background-color: #19b4e7

// Animation Classes
.over-scale
  animation-name: overscale

.fade-in
  animation-name: fade-in

.fade-in-up
  animation-name: fade-in-up

.fade-in-right
  animation-name: fade-in-right

.fade-in-left
  animation-name: fade-in-left

@keyframes bounce
  0%, 20%, 50%, 80%, 100%
    transform: translateY(0)

  40%
    transform: translateY(-10px)

  60%
    transform: translateY(-5px)

.bounce
  animation: bounce 2s infinite

// Mixin: Delay
delay($time = .25s)
  animation-delay: $time

.delay-1
  delay(.25s)

.delay-2
  delay(.5s)
