//
// Global styles and fun stuff
// –––––––––––––––––––––––––––––––––––––––––––

// Variables
$max-site-width = 1140px
$desktop-width = 940px
$tablet-width  = 720px
$mobile-width  = 100%

$base-font-size         = 16px
$global-border-radius   = 4px

// Repsonive scale, reference: http://jenius.github.io/rupture/
$scale           = 0px 768px 992px 1200px
$mobile-cutoff   = 768px
$tablet-cutoff   = 992px
$desktop-cutoff  = 1200px

// custom image base path for axis mixins
img-path = ''

//
// Global layout
// –––––––––––––––––––––

body, html
  margin: 0
  padding: 0
  background: url('../img/harrison-tiled-wallpaper.png')

.max-container
  center(1600px, 0)
  overflow-x: hidden

// Main responsive template styles here
.container
  position: relative
  clear: both
  center(1600px)
  padding: 0 4%
  cf()

  +below(4)
    max-width: 100%


// Some base styles

a:hover, a:link
  border-bottom: none


hr
  rule()

//
// Utility classes
// –––––––––––––––––––––

.circle
  border-radius: 50%

nav[role='navigation']
  ul
    inline-list()
