// Mixins available via axis
// http://axis.netlify.com/

// Function: Rem Calculator
//
// Calculates and returns the rem value based on px input. Default base font
// size is 16px, but can be changed with base-font-size.
//
// ex       : rem(30px) or rem(30)
// returns  : 1.875rem

// Button Mixin
button($font-size = 9px, $background-color =  '#f1bc50', $color = '#FFF')
  font-size: $font-size
  padding: rem(10px) rem(35px)
  background-color: $background-color
  color: $color
  cursor: pointer
  display: inline-block
  font-weight: 700
  line-height: 1em
  text-align: center
  text-transform: uppercase
  text-decoration: none
  transition: all .2s ease
  white-space: nowrap
  &:hover
    border: 1px solid $color
    cursor: pointer !important

rem($value)
  $base-font-size ?= 16px
  $type = unit($value)
  if $type == px
    return unit($value / $base-font-size, 'rem')
  else
    return unit($value, $type)

ratio-box($ratio = 1 / 1, $bg-color = rgba(#707F8C, 0.15))
  background-color: trasnaprent
  overflow: hidden
  position: relative
  > *
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
  &::before
    content: ''
    display: block
    height: 0
    padding-top: (1 / $ratio * 100%)
