block footer
  footer(role='contentinfo')

    .footer-content
      .bottom
        .housing
          .mk-wrap
            a(href='http://www.themarkcompany.com/', target='_blank')
              svg.mark_logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 210.7 108.3', enable-background='new 0 0 210.7 108.3', xml:space='preserve')
                rect(x='0', y='0', width='210.7', height='108.3')
                g
                  path(d='M19.6,84.5c0.4,0,0.8,0.1,1.1,0.2c0.3,0.1,0.5,0.3,0.7,0.5c0.2,0.2,0.3,0.4,0.4,0.7\
                  c0.1,0.3,0.1,0.5,0.1,0.8c0,0.3,0,0.5-0.1,0.8c-0.1,0.3-0.2,0.5-0.4,0.7c-0.2,0.2-0.4,0.4-0.7,0.5c-0.3,0.1-0.7,0.2-1.1,0.2H18v2.4\
                  h-1.5v-6.7H19.6z M19.1,87.7c0.2,0,0.3,0,0.5,0c0.2,0,0.3-0.1,0.4-0.1c0.1-0.1,0.2-0.2,0.3-0.3c0.1-0.1,0.1-0.3,0.1-0.5\
                  c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.2-0.2-0.3-0.3c-0.1-0.1-0.3-0.1-0.4-0.1c-0.2,0-0.3,0-0.5,0H18v2H19.1z')
                  path(d='M26.6,84.5l2.5,6.7h-1.5L27,89.8h-2.5L24,91.3h-1.5l2.6-6.7H26.6z M26.6,88.7l-0.9-2.5h0l-0.9,2.5H26.6z')
                  path(d='M35.1,86.3c-0.1-0.1-0.2-0.3-0.3-0.4c-0.1-0.1-0.3-0.2-0.4-0.3c-0.2-0.1-0.3-0.1-0.5-0.1\
                  c-0.3,0-0.6,0.1-0.9,0.2c-0.2,0.1-0.4,0.3-0.6,0.5c-0.1,0.2-0.3,0.5-0.3,0.7c-0.1,0.3-0.1,0.6-0.1,0.9c0,0.3,0,0.6,0.1,0.8\
                  c0.1,0.3,0.2,0.5,0.3,0.7c0.1,0.2,0.3,0.4,0.6,0.5c0.2,0.1,0.5,0.2,0.9,0.2c0.5,0,0.8-0.1,1.1-0.4c0.3-0.3,0.4-0.6,0.5-1.1h1.4\
                  c0,0.4-0.1,0.8-0.3,1.1c-0.2,0.3-0.4,0.6-0.6,0.9c-0.3,0.2-0.6,0.4-0.9,0.5c-0.3,0.1-0.7,0.2-1.1,0.2c-0.5,0-1-0.1-1.4-0.3\
                  c-0.4-0.2-0.8-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.9-0.2-1.4c0-0.5,0.1-1,0.2-1.4c0.2-0.4,0.4-0.8,0.7-1.1\
                  c0.3-0.3,0.6-0.6,1-0.8c0.4-0.2,0.9-0.3,1.4-0.3c0.4,0,0.7,0.1,1.1,0.2c0.3,0.1,0.6,0.3,0.9,0.5c0.3,0.2,0.5,0.5,0.6,0.8\
                  c0.2,0.3,0.3,0.6,0.3,1h-1.4C35.2,86.6,35.2,86.5,35.1,86.3z')
                  path(d='M40.3,84.5v6.7h-1.5v-6.7H40.3z')
                  path(d='M47.5,84.5v1.2h-3.3v1.6H47v1.2h-2.8v2.8h-1.5v-6.7H47.5z')
                  path(d='M50.9,84.5v6.7h-1.5v-6.7H50.9z')
                  path(d='M57.6,86.3c-0.1-0.1-0.2-0.3-0.3-0.4c-0.1-0.1-0.3-0.2-0.4-0.3c-0.2-0.1-0.3-0.1-0.5-0.1\
                  c-0.3,0-0.6,0.1-0.9,0.2c-0.2,0.1-0.4,0.3-0.6,0.5c-0.1,0.2-0.3,0.5-0.3,0.7c-0.1,0.3-0.1,0.6-0.1,0.9c0,0.3,0,0.6,0.1,0.8\
                  c0.1,0.3,0.2,0.5,0.3,0.7c0.1,0.2,0.3,0.4,0.6,0.5c0.2,0.1,0.5,0.2,0.9,0.2c0.5,0,0.8-0.1,1.1-0.4c0.3-0.3,0.4-0.6,0.5-1.1h1.4\
                  c0,0.4-0.1,0.8-0.3,1.1c-0.2,0.3-0.4,0.6-0.6,0.9c-0.3,0.2-0.6,0.4-0.9,0.5c-0.3,0.1-0.7,0.2-1.1,0.2c-0.5,0-1-0.1-1.4-0.3\
                  c-0.4-0.2-0.8-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1c-0.2-0.4-0.2-0.9-0.2-1.4c0-0.5,0.1-1,0.2-1.4c0.2-0.4,0.4-0.8,0.7-1.1\
                  c0.3-0.3,0.6-0.6,1-0.8c0.4-0.2,0.9-0.3,1.4-0.3c0.4,0,0.7,0.1,1.1,0.2c0.3,0.1,0.6,0.3,0.9,0.5c0.3,0.2,0.5,0.5,0.6,0.8\
                  c0.2,0.3,0.3,0.6,0.3,1h-1.4C57.8,86.6,57.7,86.5,57.6,86.3z')
                  path(d='M70.1,90.8c-0.5,0.4-1.2,0.7-2.1,0.7c-0.9,0-1.6-0.2-2.1-0.7c-0.5-0.4-0.8-1.1-0.8-2v-4.2h1.5v4.2\
                  c0,0.2,0,0.4,0,0.5c0,0.2,0.1,0.3,0.2,0.5c0.1,0.1,0.2,0.2,0.4,0.3c0.2,0.1,0.4,0.1,0.7,0.1c0.5,0,0.9-0.1,1.1-0.4\
                  c0.2-0.2,0.3-0.6,0.3-1.1v-4.2h1.5v4.2C70.8,89.7,70.6,90.3,70.1,90.8z')
                  path(d='M74.7,84.5l2.8,4.5h0v-4.5h1.4v6.7h-1.5l-2.8-4.5h0v4.5h-1.4v-6.7H74.7z')
                  path(d='M82.8,84.5v6.7h-1.5v-6.7H82.8z')
                  path(d='M85.1,86.5c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.8c0.4-0.2,0.9-0.3,1.4-0.3c0.5,0,1,0.1,1.4,0.3\
                  c0.4,0.2,0.8,0.4,1,0.8c0.3,0.3,0.5,0.7,0.7,1.1c0.2,0.4,0.2,0.9,0.2,1.4c0,0.5-0.1,0.9-0.2,1.4c-0.2,0.4-0.4,0.8-0.7,1.1\
                  c-0.3,0.3-0.6,0.6-1,0.7c-0.4,0.2-0.9,0.3-1.4,0.3c-0.5,0-1-0.1-1.4-0.3c-0.4-0.2-0.8-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1\
                  c-0.2-0.4-0.2-0.9-0.2-1.4C84.8,87.4,84.9,87,85.1,86.5z M86.4,88.8c0.1,0.3,0.2,0.5,0.3,0.7c0.1,0.2,0.3,0.4,0.6,0.5\
                  c0.2,0.1,0.5,0.2,0.9,0.2c0.3,0,0.6-0.1,0.9-0.2c0.2-0.1,0.4-0.3,0.6-0.5c0.1-0.2,0.2-0.5,0.3-0.7c0.1-0.3,0.1-0.5,0.1-0.8\
                  c0-0.3,0-0.6-0.1-0.9c-0.1-0.3-0.2-0.5-0.3-0.7c-0.1-0.2-0.3-0.4-0.6-0.5c-0.2-0.1-0.5-0.2-0.9-0.2c-0.3,0-0.6,0.1-0.9,0.2\
                  c-0.2,0.1-0.4,0.3-0.6,0.5c-0.1,0.2-0.3,0.5-0.3,0.7c-0.1,0.3-0.1,0.6-0.1,0.9C86.3,88.2,86.4,88.5,86.4,88.8z')
                  path(d='M95.1,84.5l2.8,4.5h0v-4.5h1.4v6.7h-1.5L95,86.8h0v4.5h-1.4v-6.7H95.1z')
                  path(d='M106.9,84.5v6.7h-1.5v-6.7H106.9z')
                  path(d='M110.7,84.5l2.8,4.5h0v-4.5h1.4v6.7h-1.5l-2.8-4.5h0v4.5h-1.4v-6.7H110.7z')
                  path(d='M116.8,85.8v-1.2h5.5v1.2h-2v5.5h-1.5v-5.5H116.8z')
                  path(d='M129.3,84.5v1.2h-3.6v1.4h3.3v1.2h-3.3V90h3.6v1.2h-5.1v-6.7H129.3z')
                  path(d='M135.1,84.5c0.3,0,0.6,0,0.8,0.1c0.2,0.1,0.5,0.2,0.6,0.4c0.2,0.2,0.3,0.4,0.4,0.6c0.1,0.2,0.1,0.5,0.1,0.7\
                  c0,0.4-0.1,0.7-0.2,1c-0.2,0.3-0.4,0.5-0.8,0.7v0c0.2,0.1,0.3,0.1,0.5,0.2c0.1,0.1,0.2,0.2,0.3,0.4c0.1,0.1,0.1,0.3,0.2,0.5\
                  c0,0.2,0.1,0.3,0.1,0.5c0,0.1,0,0.2,0,0.4c0,0.1,0,0.3,0,0.4c0,0.2,0,0.3,0.1,0.4c0,0.1,0.1,0.2,0.2,0.3h-1.5\
                  c-0.1-0.2-0.1-0.5-0.2-0.8c0-0.3,0-0.6-0.1-0.9c-0.1-0.4-0.2-0.6-0.3-0.8c-0.2-0.2-0.4-0.2-0.8-0.2h-1.5v2.6h-1.5v-6.7H135.1z\
                  M134.5,87.6c0.3,0,0.6-0.1,0.8-0.2c0.2-0.2,0.3-0.4,0.3-0.7c0-0.3-0.1-0.6-0.3-0.7c-0.2-0.1-0.4-0.2-0.8-0.2h-1.6v1.9H134.5z')
                  path(d='M140.8,84.5l2.8,4.5h0v-4.5h1.4v6.7h-1.5l-2.8-4.5h0v4.5h-1.4v-6.7H140.8z')
                  path(d='M150.8,84.5l2.5,6.7h-1.5l-0.5-1.5h-2.5l-0.5,1.5h-1.5l2.6-6.7H150.8z M150.9,88.7l-0.9-2.5h0l-0.9,2.5\
                  H150.9z')
                  path(d='M153.6,85.8v-1.2h5.5v1.2h-2v5.5h-1.5v-5.5H153.6z')
                  path(d='M162.5,84.5v6.7H161v-6.7H162.5z')
                  path(d='M164.8,86.5c0.2-0.4,0.4-0.8,0.7-1.1c0.3-0.3,0.6-0.6,1-0.8s0.9-0.3,1.4-0.3c0.5,0,1,0.1,1.4,0.3\
                  c0.4,0.2,0.8,0.4,1,0.8c0.3,0.3,0.5,0.7,0.7,1.1c0.2,0.4,0.2,0.9,0.2,1.4c0,0.5-0.1,0.9-0.2,1.4c-0.2,0.4-0.4,0.8-0.7,1.1\
                  c-0.3,0.3-0.6,0.6-1,0.7c-0.4,0.2-0.9,0.3-1.4,0.3c-0.5,0-1-0.1-1.4-0.3c-0.4-0.2-0.8-0.4-1-0.7c-0.3-0.3-0.5-0.7-0.7-1.1\
                  c-0.2-0.4-0.2-0.9-0.2-1.4C164.6,87.4,164.6,87,164.8,86.5z M166.1,88.8c0.1,0.3,0.2,0.5,0.3,0.7c0.1,0.2,0.3,0.4,0.6,0.5\
                  c0.2,0.1,0.5,0.2,0.9,0.2c0.3,0,0.6-0.1,0.9-0.2c0.2-0.1,0.4-0.3,0.6-0.5c0.1-0.2,0.2-0.5,0.3-0.7c0.1-0.3,0.1-0.5,0.1-0.8\
                  c0-0.3,0-0.6-0.1-0.9c-0.1-0.3-0.2-0.5-0.3-0.7c-0.1-0.2-0.3-0.4-0.6-0.5c-0.2-0.1-0.5-0.2-0.9-0.2c-0.3,0-0.6,0.1-0.9,0.2\
                  c-0.2,0.1-0.4,0.3-0.6,0.5c-0.1,0.2-0.3,0.5-0.3,0.7c-0.1,0.3-0.1,0.6-0.1,0.9C166,88.2,166.1,88.5,166.1,88.8z')
                  path(d='M174.8,84.5l2.8,4.5h0v-4.5h1.4v6.7h-1.5l-2.8-4.5h0v4.5h-1.4v-6.7H174.8z')
                  path(d='M184.7,84.5l2.5,6.7h-1.5l-0.5-1.5h-2.5l-0.5,1.5h-1.5l2.6-6.7H184.7z M184.8,88.7l-0.9-2.5h0l-0.9,2.5\
                  H184.8z')
                  path(d='M190.4,84.5V90h3.3v1.2h-4.8v-6.7H190.4z')
                rect(x='15.9', y='73.4', width='177.8', height='1')
                g
                  path(d='M115.7,46.8h-3.9l-4.3-7.4H87.1l-4.3,7.4h-3.9l16.8-29.7H99L115.7,46.8z M97.3,21l-8,14.5h16L97.3,21z')
                  path(d='M153.8,46.8H149l-8.4-12h-13.1v12h-3.9V17.2h18.4c5.4,0,11.3,2.1,11.3,8.8c0,5.6-4.8,8.2-8,8.5L153.8,46.8z\
                  M141.9,30.9c3.8,0,7.4-1,7.4-4.9c0-4.3-4.1-4.9-7.4-4.9h-14.5v9.9H141.9z')
                  path(d='M193.7,46.8h-4.9l-11.6-16.1l-7.9,7.3v8.8h-3.9V17.2h3.9v15.5l16.9-15.5h5.7L180,28L193.7,46.8z')
                  path(d='M89.1,59.2c-0.4,0.2-1.8,1.4-4.5,1.4c-3.2,0-5.5-1.9-5.5-4.7c0-2.7,2.3-4.6,5.3-4.6c2.5,0,3.8,1.1,4.6,1.7\
                  l-0.8,1.2c-0.9-0.6-2-1.4-3.8-1.4c-2.3,0-3.8,1.5-3.8,3.3c0,1.5,1.3,3.1,4,3.1c2.1,0,3.4-0.9,3.8-1.2L89.1,59.2z')
                  path(d='M102.6,60.6c-3.3,0-5.4-2.1-5.4-4.7c0-2.5,2-4.7,5.4-4.7c3.4,0,5.4,2.1,5.4,4.7\
                  C107.9,58.4,106,60.6,102.6,60.6z M106.5,55.9c0-1.7-1.5-3.2-3.9-3.2c-2.4,0-3.9,1.5-3.9,3.2c0,1.7,1.5,3.2,3.9,3.2\
                  C105,59.1,106.5,57.6,106.5,55.9z')
                  path(d='M126.3,60.3h-1.5v-6.2h0l-3.3,4.9l-3.3-4.9h0v6.2h-1.5v-8.8h1.5l3.3,5.1l3.3-5.1h1.5V60.3z')
                  path(d='M137.2,60.3h-1.5v-8.8h4.9c1.4,0,3.6,0.2,3.6,2.8c0,2.2-1.4,2.8-3.6,2.8h-3.4V60.3z M140.6,55.6\
                  c1.4,0,2.1-0.1,2.1-1.3c0-1.3-0.9-1.3-2.1-1.3h-3.4v2.6H140.6z')
                  path(d='M161.4,60.3h-1.8l-1.1-2.1h-5.4l-1.1,2.1h-1.7l4.7-8.8h1.5L161.4,60.3z M155.8,53.2l-1.9,3.6h3.8\
                  L155.8,53.2z')
                  path(d='M177.2,60.3h-1.5l-5.5-6.5v6.5h-1.5v-8.8h1.5l5.5,6.5v-6.5h1.5V60.3z')
                  path(d='M189.9,60.3h-1.5v-4l-3.8-4.8h1.9l2.7,3.4l2.7-3.4h1.9l-3.8,4.8V60.3z')
                  path(d='M25.7,55.3v1.5h-7.3v3.4h-1.5V52h1.5v3.4H25.7z')
                  path(d='M25.7,34.7v1.5h-3.8v5.4h3.8v1.5h-8.8v-1.5h3.5v-5.4h-3.5v-1.5H25.7z')
                  path(d='M25.7,17.4v7.9h-8.8v-7.7h1.5v6.2h2v-3.4h1.5v3.4h2.3v-6.4H25.7z')
                  path(d='M72.8,60.3h-3.9V25.1h-0.1L51.6,54.3L34.5,25.1h-0.1v35.3h-3.9V17.4h3.9l17.3,29.9l17.3-29.9h3.9V60.3z')
          a(href='http://www.maximusrepartners.com/', target='_blank')
            svg.maximus-logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='441.769px', height='288px', viewbox='0 0 441.769 288', enable-background='new 0 0 441.769 288', xml:space='preserve')
              path(fill='#526376', d='M131.71,138.434l23.384-13.5l89.175,51.486l-23.384,13.501L131.71,138.434z M164.604,119.443l23.384-13.501\
              l61.036,35.24v27L164.604,119.443z M258.536,103.197l23.384-13.5v27.001l-23.384,13.5V103.197z M192.746,97.706V70.705\
              l56.278,32.492v27.001L192.746,97.706z M258.536,141.18l32.895-18.992V84.205l23.384-13.5v64.984l-56.278,32.493V141.18z\
              M159.851,84.205l23.383-13.502v27.003l-23.383,13.5V84.205z M126.956,65.213l56.278-32.494V59.72l-32.895,18.994v37.984\
              l-23.383,13.5V65.213z M192.746,59.72V32.719l84.419,48.74L253.781,94.96L192.746,59.72z M197.5,24.483l23.383-13.501l89.176,51.485\
              l-23.384,13.501L197.5,24.483z M220.883,0l-103.44,59.722v81.458l103.442,59.722l103.44-59.722V59.721L220.883,0z')
              polygon(fill='#526376', points='45.254,229.603 33.44,267.368 33.275,267.368 21.296,229.603 4.325,229.603 0,287.001\
              13.227,287.001 15.306,247.903 15.557,247.903 27.951,287.001 38.598,287.001 50.91,247.903 51.077,247.903 53.323,287.001\
              66.55,287.001 62.306,229.603 ')
              path(fill='#526376', d='M106.874,244.325l7.154,20.632H99.72L106.874,244.325z M100.219,229.519l-21.628,57.482h13.976l4.075-11.563\
              h20.464l4.076,11.563h14.641l-21.628-57.482H100.219z')
              polygon(fill='#526376', points='182.354,229.603 171.623,248.486 160.894,229.603 144.92,229.603 162.721,257.22 143.671,287.001\
              159.727,287.001 171.623,265.622 183.437,287.001 199.491,287.001 180.44,257.22 198.325,229.603 ')
              rect(fill='#526376', x='214.164', y='229.603', width='13.476', height='57.398')
              polygon(fill='#526376', points='292.376,229.603 280.564,267.368 280.398,267.368 268.418,229.603 251.448,229.603 247.123,287.001\
              260.35,287.001 262.428,247.903 262.679,247.903 275.074,287.001 285.722,287.001 298.033,247.903 298.2,247.903 300.447,287.001\
              313.672,287.001 309.428,229.603 ')
              g
                path(fill='#526376', d='M380.139,263.043c0,8.07-1.415,13.643-5.491,18.053c-3.993,4.324-10.897,6.82-19.216,6.82\
                c-8.401,0-15.223-2.496-19.3-6.82c-3.992-4.41-5.407-9.982-5.407-18.053v-33.44h13.56v32.975c0,4.077,0.467,7.237,2.378,9.566\
                c1.831,2.163,5.025,3.577,8.77,3.577c3.742,0,6.937-1.414,8.767-3.577c1.914-2.329,2.379-5.489,2.379-9.566v-32.975h13.562V263.043\
                z')
                path(fill='#526376', d='M434.61,283.258c-4.332,3.244-9.988,4.742-16.528,4.742c-8.838,0-16.704-4.326-21.654-8.652l7.07-9.815\
                c4.42,4.325,11.225,7.236,15.911,7.236c4.597,0,8.13-2.078,8.13-5.905c0-3.911-4.507-5.408-7.158-6.323\
                c-2.652-0.915-7.247-2.412-9.281-3.243c-1.503-0.666-4.596-1.747-7.246-4.159c-2.653-2.33-4.773-5.657-4.773-11.065\
                c0-5.49,2.829-9.815,6.363-12.561c3.447-2.744,9.016-4.575,16.086-4.575c7.071,0,15.203,3.162,19.356,7.071l-6.098,9.4\
                c-3.537-3.329-9.016-5.823-13.611-5.823s-7.954,1.663-7.954,5.156c0,3.495,3.445,4.826,6.187,5.823\
                c2.651,0.999,7.157,2.496,9.103,3.245c1.681,0.582,5.745,2.079,8.484,4.659c2.564,2.412,4.773,5.905,4.773,11.063\
                C441.769,275.022,439.03,280.014,434.61,283.258')

      p.license CalBRE License #01527205

      svg.house(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 26.7 19.6', enable-background='new 0 0 26.7 19.6', xml:space='preserve')
        path(fill='#49545c', d='M26.7,6.8L13.3,0L0,6.8v2.8l1.5,0v10h23.7l0-10h1.6V6.8z M4.1,16.9V8.1l9.2-4.8l9.1,4.8v8.8H4.1z')
        line(fill='none', stroke='#49545c', stroke-width='2.9746', stroke-miterlimit='10', x1='13.3', y1='14.7', x2='13.3', y2='12.3')
        line(fill='#636466', stroke='#49545c', stroke-width='2.9947', stroke-miterlimit='10', x1='13.3', y1='10.4', x2='13.3', y2='8')

      ul.legal-info
        li © 401 Harrison Owner, L.L.C

      .footer-logo
        svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='500px', height='500px', viewbox='0 0 500 500', enable-background='new 0 0 500 500', xml:space='preserve')
          g
            path(fill='#526375', d='M410.246,267.703c0.16-0.017,0.325-0.07,0.5-0.164c0.174-0.097,0.328-0.244,0.463-0.448\
            c0.133-0.202,0.209-0.494,0.229-0.871h0.208v3.055h-6.794v-0.209l0.089-0.073c0.865-0.825,1.588-1.533,2.169-2.125\
            s1.046-1.154,1.393-1.69c0.348-0.537,0.597-1.098,0.745-1.684s0.224-1.291,0.224-2.116c0-0.407-0.015-0.776-0.044-1.109\
            s-0.091-0.621-0.18-0.864s-0.222-0.432-0.394-0.566c-0.175-0.134-0.404-0.201-0.692-0.201c-0.141,0-0.281,0.016-0.426,0.045\
            c-0.146,0.029-0.275,0.088-0.395,0.172c-0.119,0.085-0.216,0.201-0.291,0.351c-0.074,0.149-0.111,0.349-0.111,0.597\
            c0,0.029,0.005,0.084,0.017,0.164c0.009,0.08,0.02,0.164,0.028,0.253s0.021,0.174,0.03,0.253c0.008,0.08,0.014,0.134,0.014,0.164\
            c0,0.249-0.084,0.42-0.253,0.515s-0.367,0.142-0.596,0.142c-0.07,0-0.156-0.004-0.261-0.014c-0.104-0.011-0.204-0.039-0.299-0.083\
            c-0.095-0.045-0.177-0.118-0.246-0.224c-0.068-0.104-0.104-0.251-0.104-0.438c0-0.169,0.058-0.376,0.173-0.619\
            c0.112-0.243,0.291-0.476,0.535-0.692c0.242-0.218,0.561-0.404,0.954-0.559c0.393-0.154,0.866-0.23,1.423-0.23\
            c0.558,0,1.033,0.081,1.431,0.245c0.396,0.164,0.723,0.381,0.975,0.648c0.253,0.27,0.438,0.576,0.552,0.925\
            c0.114,0.348,0.172,0.705,0.172,1.072c0,0.159-0.021,0.348-0.067,0.565c-0.044,0.22-0.124,0.463-0.237,0.73\
            c-0.115,0.27-0.273,0.558-0.477,0.864c-0.203,0.308-0.47,0.631-0.798,0.969l-1.072,1.102l-2.205,2.176h3.277\
            C409.974,267.727,410.087,267.717,410.246,267.703z')
            path(fill='#526375', d='M416.222,263.054c0.029-0.361,0.087-0.75,0.171-1.162c0.086-0.412,0.209-0.824,0.373-1.236\
            s0.381-0.783,0.648-1.109c0.27-0.328,0.599-0.597,0.991-0.807c0.393-0.209,0.861-0.312,1.407-0.312\
            c0.605,0,1.118,0.111,1.535,0.336c0.417,0.223,0.761,0.507,1.027,0.849c0.268,0.341,0.475,0.727,0.618,1.153\
            c0.146,0.429,0.252,0.849,0.321,1.261c0.068,0.411,0.108,0.79,0.119,1.132c0.01,0.344,0.016,0.609,0.016,0.797\
            c0,0.239-0.016,0.54-0.045,0.902c-0.03,0.363-0.088,0.75-0.172,1.163c-0.085,0.412-0.209,0.821-0.373,1.228\
            c-0.164,0.408-0.38,0.778-0.648,1.111c-0.268,0.333-0.599,0.6-0.99,0.805c-0.393,0.203-0.862,0.306-1.408,0.306\
            c-0.605,0-1.117-0.109-1.534-0.328c-0.418-0.218-0.761-0.501-1.028-0.848c-0.269-0.349-0.475-0.734-0.618-1.156\
            c-0.146-0.422-0.252-0.836-0.321-1.244c-0.067-0.405-0.107-0.785-0.118-1.132c-0.011-0.349-0.015-0.616-0.015-0.807\
            C416.178,263.718,416.192,263.416,416.222,263.054z M418.226,266.369c0.026,0.677,0.093,1.228,0.203,1.655\
            c0.107,0.426,0.269,0.741,0.482,0.944c0.215,0.204,0.515,0.307,0.901,0.307s0.688-0.103,0.901-0.307\
            c0.213-0.203,0.375-0.519,0.485-0.944c0.107-0.428,0.176-0.979,0.2-1.655c0.023-0.675,0.036-1.479,0.036-2.414\
            c0-0.983-0.013-1.812-0.036-2.489c-0.024-0.675-0.093-1.223-0.2-1.645c-0.11-0.422-0.272-0.725-0.485-0.91\
            c-0.214-0.184-0.515-0.275-0.901-0.275s-0.687,0.103-0.901,0.307c-0.214,0.203-0.375,0.518-0.482,0.945\
            c-0.11,0.428-0.177,0.977-0.203,1.646c-0.023,0.672-0.036,1.478-0.036,2.421C418.189,264.888,418.201,265.694,418.226,266.369z')
            path(fill='#526375', d='M429.052,269.274v-0.209h1.4v-9.282c-0.328,0.179-0.656,0.362-0.983,0.551\
            c-0.328,0.188-0.651,0.373-0.969,0.551l-0.12-0.192c0.358-0.208,0.677-0.394,0.954-0.553c0.279-0.157,0.539-0.316,0.781-0.476\
            c0.244-0.158,0.49-0.335,0.738-0.527c0.249-0.194,0.521-0.432,0.819-0.709h0.597v10.64h1.371v0.208L429.052,269.274\
            L429.052,269.274z')
            path(fill='#526375', d='M440.808,258.53c0.069,0.069,0.185,0.168,0.343,0.292c0.159,0.124,0.352,0.245,0.574,0.364\
            c0.224,0.119,0.472,0.222,0.745,0.307c0.271,0.084,0.563,0.126,0.872,0.126c0.068,0,0.176-0.005,0.319-0.015\
            c0.145-0.011,0.304-0.051,0.476-0.12c0.175-0.069,0.359-0.175,0.553-0.312c0.193-0.14,0.381-0.339,0.558-0.597l0.194,0.089\
            c-0.328,0.468-0.608,0.854-0.843,1.163c-0.233,0.308-0.454,0.557-0.663,0.745c-0.209,0.188-0.42,0.32-0.633,0.394\
            c-0.216,0.075-0.465,0.112-0.754,0.112c-0.168,0-0.354-0.021-0.558-0.066c-0.204-0.046-0.407-0.102-0.611-0.172\
            c-0.203-0.068-0.399-0.143-0.589-0.216c-0.188-0.075-0.357-0.142-0.507-0.202l-0.537,3.264l0.03,0.029\
            c0.12-0.148,0.238-0.285,0.357-0.41c0.12-0.124,0.264-0.231,0.433-0.328c0.169-0.094,0.367-0.168,0.597-0.223\
            c0.228-0.055,0.508-0.082,0.834-0.082c0.468,0,0.906,0.074,1.318,0.225c0.413,0.149,0.775,0.359,1.088,0.634\
            c0.312,0.271,0.562,0.6,0.745,0.981c0.186,0.384,0.276,0.808,0.276,1.275c0,0.406-0.085,0.83-0.254,1.266s-0.417,0.834-0.745,1.191\
            c-0.327,0.357-0.727,0.65-1.199,0.879c-0.472,0.229-1.015,0.344-1.632,0.344c-0.387,0-0.748-0.045-1.081-0.135\
            c-0.333-0.089-0.621-0.209-0.863-0.357c-0.243-0.147-0.433-0.322-0.566-0.521c-0.132-0.199-0.2-0.407-0.2-0.626\
            c0-0.208,0.036-0.367,0.111-0.476c0.074-0.11,0.164-0.19,0.269-0.246c0.104-0.055,0.206-0.087,0.306-0.099\
            c0.1-0.009,0.174-0.014,0.224-0.014c0.378,0,0.624,0.065,0.737,0.2s0.171,0.286,0.171,0.455c0,0.029-0.005,0.076-0.015,0.142\
            c-0.01,0.063-0.018,0.134-0.021,0.209c-0.005,0.074-0.013,0.144-0.022,0.208c-0.009,0.063-0.015,0.111-0.015,0.144\
            c0,0.188,0.032,0.342,0.097,0.461c0.064,0.12,0.142,0.214,0.231,0.283c0.089,0.068,0.186,0.115,0.29,0.142\
            c0.104,0.024,0.196,0.037,0.274,0.037c0.199,0,0.41-0.02,0.634-0.06s0.428-0.164,0.612-0.373c0.183-0.208,0.337-0.541,0.461-0.999\
            c0.125-0.456,0.187-1.102,0.187-1.937c0-0.656-0.048-1.18-0.142-1.572c-0.095-0.392-0.224-0.691-0.388-0.9\
            c-0.164-0.208-0.353-0.347-0.566-0.41c-0.213-0.064-0.444-0.097-0.692-0.097c-0.327,0-0.605,0.064-0.834,0.193\
            s-0.424,0.282-0.582,0.462c-0.158,0.179-0.29,0.37-0.394,0.574c-0.104,0.203-0.192,0.379-0.261,0.527h-0.193l0.997-6.152h0.447\
            V258.53z')
          g
            path(fill='#526375', d='M63.659,258.651v2.565h-0.166c-0.083-0.165-0.166-0.413-0.249-0.662c-0.083-0.248-0.249-0.496-0.497-0.744\
            c-0.249-0.249-0.497-0.497-0.828-0.662c-0.332-0.166-0.745-0.249-1.242-0.249h-2.4v4.636h0.828c0.331,0,0.663-0.082,0.911-0.166\
            c0.249-0.082,0.497-0.248,0.662-0.413c0.166-0.166,0.332-0.414,0.414-0.663c0.083-0.248,0.166-0.579,0.249-0.91h0.166v4.636h-0.166\
            c-0.083-0.248-0.166-0.579-0.249-0.827c-0.083-0.249-0.248-0.497-0.414-0.746c-0.166-0.165-0.331-0.33-0.579-0.496\
            c-0.249-0.083-0.497-0.166-0.911-0.166h-0.994v5.381h2.483c0.497,0,0.911-0.082,1.242-0.248c0.331-0.166,0.662-0.331,0.993-0.662\
            c0.249-0.248,0.497-0.58,0.745-0.994c0.166-0.413,0.331-0.744,0.414-1.158h0.166v3.229h-9.438v-0.248h1.407v-10.183h-1.407v-0.248\
            H63.659z')
            path(fill='#526375', d='M69.122,265.936c0,0.083,0.083,0.248,0.083,0.497c0.083,0.165,0.083,0.414,0.248,0.662\
            c0.083,0.249,0.249,0.414,0.331,0.663c0.166,0.248,0.332,0.413,0.497,0.662c0.248,0.248,0.414,0.414,0.662,0.496\
            c0.249,0.083,0.414,0.166,0.58,0.248c0.166,0.083,0.414,0.083,0.58,0.083c0.166,0,0.331,0,0.497,0c0.497,0,0.993-0.083,1.324-0.248\
            s0.58-0.331,0.828-0.579c0.166-0.249,0.331-0.497,0.414-0.746c0.083-0.248,0.083-0.496,0.083-0.662c0-0.33-0.083-0.662-0.249-0.91\
            s-0.414-0.414-0.662-0.58c-0.249-0.165-0.58-0.33-0.993-0.413c-0.332-0.083-0.745-0.249-1.159-0.331\
            c-0.414-0.083-0.745-0.248-1.159-0.414c-0.332-0.166-0.663-0.331-0.994-0.58c-0.249-0.248-0.497-0.579-0.662-0.91\
            s-0.249-0.828-0.249-1.324c0-0.414,0.083-0.745,0.249-1.159c0.166-0.331,0.414-0.662,0.745-0.993\
            c0.331-0.248,0.662-0.497,1.159-0.662c0.414-0.166,0.911-0.248,1.407-0.248c0.331,0,0.58,0,0.828,0.082\
            c0.248,0.083,0.497,0.083,0.662,0.166c0.166,0.082,0.331,0.165,0.497,0.165c0.166,0.083,0.249,0.083,0.414,0.083\
            s0.248,0,0.248-0.083c0.083-0.083,0.083-0.165,0.166-0.248h0.249v2.814h-0.166c-0.083-0.331-0.249-0.662-0.414-0.993\
            c-0.166-0.332-0.331-0.662-0.497-0.911c-0.248-0.248-0.497-0.497-0.828-0.662s-0.745-0.248-1.242-0.248\
            c-0.414,0-0.745,0.083-1.076,0.165c-0.331,0.083-0.58,0.248-0.745,0.414c-0.249,0.166-0.331,0.414-0.497,0.58\
            c-0.083,0.248-0.166,0.414-0.166,0.662c0,0.331,0.083,0.662,0.248,0.828c0.166,0.248,0.414,0.413,0.745,0.579\
            c0.331,0.165,0.662,0.331,0.994,0.413c0.414,0.084,0.745,0.249,1.159,0.414c0.414,0.166,0.828,0.249,1.159,0.414\
            c0.414,0.166,0.745,0.332,0.993,0.58c0.331,0.248,0.58,0.496,0.745,0.828c0.166,0.33,0.248,0.744,0.248,1.241\
            s-0.083,0.911-0.331,1.407c-0.166,0.414-0.497,0.828-0.828,1.158c-0.331,0.332-0.828,0.58-1.325,0.746\
            c-0.497,0.165-1.076,0.33-1.655,0.33c-0.332,0-0.58,0-0.911-0.082c-0.331-0.083-0.58-0.083-0.828-0.166\
            c-0.248-0.082-0.497-0.165-0.662-0.165c-0.166-0.083-0.331-0.083-0.414-0.083c-0.166,0-0.248,0-0.331,0.083\
            c-0.083,0.083-0.083,0.165-0.166,0.248h-0.249v-3.312H69.122L69.122,265.936z')
            path(fill='#526375', d='M84.271,258.899c-0.331,0-0.662,0-0.993,0.083c-0.249,0.082-0.58,0.166-0.745,0.414\
            c-0.249,0.165-0.414,0.414-0.58,0.744c-0.166,0.332-0.331,0.746-0.497,1.242h-0.166v-2.731h9.354v2.731H90.48\
            c-0.166-0.496-0.332-0.91-0.497-1.242c-0.166-0.33-0.414-0.579-0.579-0.744c-0.249-0.166-0.497-0.332-0.745-0.414\
            c-0.249-0.083-0.58-0.083-0.994-0.083H86.92v10.183h1.407v0.248h-4.884v-0.248h1.407v-10.183H84.271z')
            path(fill='#526375', d='M93.294,267.592c0.248-0.248,0.497-0.332,0.745-0.332c0.248,0,0.497,0.084,0.745,0.332\
            c0.249,0.248,0.332,0.496,0.332,0.744c0,0.249-0.083,0.498-0.332,0.746c-0.248,0.165-0.497,0.33-0.745,0.33\
            c-0.249,0-0.497-0.082-0.745-0.33c-0.249-0.166-0.331-0.414-0.331-0.746C93.046,268.088,93.129,267.84,93.294,267.592z')
          path(fill='#526375', d='M110.513,117.177l2.98-1.242l0.332,0.745c-1.656,0.662-3.394,1.407-5.05,2.152\
          c-2.814,1.241-4.719,2.069-5.132,2.235l-0.332-0.745l2.98-1.324l-7.451-17.55c-4.056,1.738-4.801,3.311-3.808,6.871l0.414,1.242\
          l-0.828,0.332l-0.993-2.649c-0.331-0.993-0.663-1.655-0.911-2.318c-0.331-0.745-0.497-1.242-0.745-1.573l0.497-0.414\
          c0.331-0.083,0.745-0.248,1.076-0.331c0.662-0.248,3.808-1.573,6.954-2.897c2.98-1.242,6.126-2.649,6.457-2.815\
          c0.662-0.331,1.242-0.579,1.49-0.662h0.662c0.414,1.242,0.911,2.483,2.649,6.54l-0.745,0.414l-1.159-2.152\
          c-1.656-2.483-2.897-2.732-6.457-1.242L110.513,117.177z')
          path(fill='#526375', d='M127.401,100.042c2.814-0.911,3.311-1.076,7.864-2.401l-2.649-8.609l-2.897,0.828l-0.249-0.828\
          c0,0,2.401-0.662,5.298-1.573c1.656-0.497,3.312-0.993,4.884-1.49l0.249,0.828l-2.897,0.911l5.629,18.46l2.897-0.828l0.249,0.828\
          c-1.656,0.497-3.394,0.994-5.05,1.49c-1.738,0.497-3.394,1.076-5.05,1.573l-0.248-0.828l2.897-0.911l-2.731-8.94\
          c-1.325,0.414-2.732,0.911-4.139,1.325c-2.07,0.662-2.814,0.828-3.808,1.159l2.732,8.94l2.897-0.828l0.248,0.828\
          c-2.235,0.662-4.636,1.407-5.463,1.656c-1.573,0.497-3.229,0.993-4.801,1.49l-0.249-0.828l2.897-0.911l-5.629-18.46l-2.897,0.828\
          l-0.249-0.828c1.656-0.497,3.394-0.994,5.05-1.49c1.738-0.497,3.477-1.076,5.215-1.656l0.249,0.828l-2.897,0.91L127.401,100.042z')
          path(fill='#526375', d='M159.023,92.343l1.987,9.271l1.49-0.331c2.814-0.58,4.305-0.911,5.463-1.987\
          c1.325-1.325,1.159-2.897,1.076-5.05l0.911-0.166l0.414,3.063c0.249,1.573,0.331,2.483,0.414,3.146c0,0.497,0,0.58-0.911,0.745\
          c-0.249,0.083-1.325,0.249-1.573,0.331c-3.312,0.663-6.706,1.325-10.017,1.987c-1.573,0.331-3.063,0.662-4.553,0.994l-0.166-0.828\
          l2.98-0.662l-3.808-18.874L150,84.479l-0.166-0.828c5.381-1.076,11.093-2.152,16.143-3.477c0.166,0.993,0.331,1.49,0.579,2.649\
          l0.745,2.98l-0.828,0.332c-1.407-3.643-2.649-4.388-7.533-3.394l-1.573,0.331l1.573,8.361l1.159-0.331\
          c2.484-0.663,2.897-1.656,2.566-4.388l0.911-0.166c0.083,0.994,0.249,1.987,0.993,5.464c0.083,0.497,0.332,1.738,0.663,2.897\
          l-0.911,0.165c-0.911-2.731-1.076-3.394-4.056-2.98L159.023,92.343z')
          path(fill='#526375', d='M199.089,85.637c2.897-0.331,3.477-0.331,8.195-0.745l-0.828-8.94l-2.98,0.248l-0.083-0.828\
          c0,0,2.483-0.166,5.463-0.497c1.656-0.166,3.394-0.331,5.133-0.497l0.083,0.828l-2.98,0.331l1.738,19.205l2.98-0.248l0.083,0.828\
          c-1.738,0.166-3.56,0.249-5.298,0.414c-1.821,0.166-3.56,0.331-5.298,0.497l-0.083-0.828l2.98-0.332l-0.828-9.354\
          c-1.407,0.166-2.897,0.331-4.305,0.414c-2.152,0.166-2.98,0.248-3.891,0.331L200,95.819l2.98-0.248l0.083,0.828\
          c-2.318,0.166-4.801,0.414-5.712,0.497c-1.656,0.166-3.394,0.331-5.05,0.497l-0.083-0.828l3.062-0.331l-1.738-19.205l-3.063,0.248\
          l-0.083-0.828c1.738-0.166,3.477-0.249,5.298-0.414s3.643-0.331,5.464-0.497l0.083,0.828l-2.98,0.332L199.089,85.637z')
          path(fill='#526375', d='M232.45,86.382l-0.579-1.738c-1.076-2.98-1.408-4.056-2.07-6.043l-2.152,8.03L232.45,86.382z\
          M236.755,85.555c0.497,1.242,0.994,2.483,1.407,3.808c0.911,2.566,1.076,2.897,1.739,4.388h2.318v0.828\
          c-1.573,0-3.229,0.083-4.802,0.083c-1.738,0.083-3.477,0.083-5.298,0.166v-0.828l2.732-0.083l-2.152-6.54l-5.381,0.166l-1.821,6.705\
          l2.814-0.083v0.828c-1.076,0-2.152,0-3.228,0.083c-1.076,0-2.318,0.083-3.477,0.166v-0.828l2.401-0.083\
          c0.662-1.904,1.159-3.725,2.4-8.03l1.49-5.215c1.159-4.387,1.407-5.381,1.904-7.45l2.566-0.083c0.083,0.166,0.166,0.414,0.166,0.662\
          c0.414,1.325,0.662,1.987,2.4,7.037L236.755,85.555z')
          path(fill='#526375', d='M256.209,83.402c1.738,0.083,1.986,0.083,2.482,0c1.49-0.249,2.815-1.159,2.898-4.222\
          c0.082-3.56-1.408-4.719-3.395-4.802c-0.082,0-1.407,0-1.656,0.249c-0.082,0.083-0.082,0.166-0.082,0.828L256.209,83.402z\
          M257.45,73.634c0.663,0,1.325,0,1.987,0c1.158,0,3.394,0.166,4.967,1.573c0.828,0.745,1.655,1.987,1.572,3.725\
          c-0.082,2.401-1.655,4.553-5.381,5.05c-0.414,0.083-0.91,0.083-1.324,0.083l1.159,0.249c3.394,0.828,4.802,1.656,5.05,5.877v1.076\
          c0,1.159,0.248,3.063,1.572,3.146c0.083,0,0.497,0,0.497-0.414c0-0.166-0.249-0.911-0.249-1.076c0-0.497,0.497-0.911,0.994-0.911\
          c0.579,0,1.076,0.497,1.076,1.242c0,1.159-1.324,2.152-3.56,2.069c-4.305-0.083-4.554-3.56-4.719-4.636v-1.159\
          c-0.165-2.649-0.331-4.884-3.726-4.967h-1.241l-0.249,9.438l2.98,0.083v0.828c-0.331,0-2.152-0.083-4.801-0.166\
          c-1.904-0.083-3.891-0.083-5.795-0.083v-0.828l2.98,0.083c0.082-1.159,0.165-2.069,0.248-5.629l0.331-13.576l-2.732-0.083V73.8\
          c0.497,0,2.897,0.083,3.146,0.083c1.241,0,2.151,0,3.477,0L257.45,73.634z')
          path(fill='#526375', d='M284.852,84.81c1.738,0.166,1.986,0.166,2.4,0.083c1.49-0.166,2.896-0.911,3.146-3.974\
          c0.331-3.56-1.076-4.801-3.146-4.967c-0.083,0-1.408-0.083-1.656,0.166c-0.082,0.083-0.082,0.166-0.165,0.828L284.852,84.81z\
          M286.755,75.124c0.662,0,1.325,0.083,1.987,0.083c1.158,0.083,3.394,0.331,4.884,1.821c0.745,0.745,1.489,2.069,1.407,3.808\
          c-0.166,2.401-1.904,4.47-5.712,4.719c-0.414,0-0.911,0-1.325,0l1.076,0.331c3.312,1.076,4.719,1.904,4.637,6.126v1.076\
          c0,1.159,0.082,3.062,1.406,3.229c0.084,0,0.498,0.083,0.58-0.414c0-0.166-0.166-0.911-0.166-1.076\
          c0.084-0.497,0.58-0.911,1.076-0.828c0.58,0.083,0.994,0.579,0.994,1.242c-0.083,1.159-1.49,1.986-3.643,1.821\
          c-4.305-0.331-4.388-3.891-4.388-4.884v-1.159c0-2.649,0-4.884-3.394-5.215h-1.408l-0.827,9.354l2.897,0.249l-0.083,0.828\
          c-0.331,0-2.069-0.248-4.802-0.414c-1.903-0.166-3.891-0.331-5.794-0.497l0.083-0.828l2.979,0.248\
          c0.166-1.159,0.249-2.069,0.579-5.629l1.16-13.576l-2.732-0.249l0.083-0.828c0.497,0,2.897,0.249,3.146,0.331\
          c1.242,0.083,2.069,0.166,3.477,0.249L286.755,75.124z')
          path(fill='#526375', d='M311.921,98.386l2.979,0.497l-0.082,0.828c-1.739-0.249-3.478-0.497-5.216-0.745\
          c-1.821-0.249-3.56-0.497-5.381-0.745l0.083-0.828l2.98,0.414l2.731-19.123l-2.98-0.497l0.083-0.828\
          c1.904,0.331,3.808,0.579,5.712,0.828c1.655,0.249,3.312,0.497,4.884,0.662l-0.082,0.828l-2.98-0.414L311.921,98.386z')
          path(fill='#526375', d='M325.083,94.164c-0.083,1.821-0.166,6.54,4.388,7.45c2.979,0.58,4.884-1.076,5.215-2.897\
          c0.496-2.235-1.159-3.229-2.98-4.222l-1.572-0.828c-1.738-1.076-5.299-3.146-4.388-7.367c0.745-3.726,4.222-5.546,7.533-4.884\
          c1.903,0.414,3.146,1.407,3.974,2.152l0.993-0.745l0.662,0.414c-0.497,1.656-0.662,2.152-0.828,3.063\
          c-0.248,1.159-0.331,2.152-0.413,2.731l-0.994,0.083c0-1.407,0.083-2.069-0.082-2.814c-0.332-1.739-1.656-3.394-3.726-3.808\
          c-1.986-0.414-3.974,0.497-4.305,2.483c-0.414,2.07,1.242,3.063,3.312,4.305l1.241,0.662c1.821,1.076,5.216,3.146,4.305,7.533\
          c-0.745,3.808-4.222,6.292-8.278,5.463c-2.234-0.497-3.642-1.738-4.718-2.731l-0.994,1.076l-0.745-0.497\
          c0.249-0.91,0.497-1.904,0.745-2.98c0.249-1.159,0.414-2.732,0.58-3.56L325.083,94.164z')
          path(fill='#526375', d='M361.341,89.031c-1.241-0.331-2.814-0.331-4.47,1.242c-1.904,1.821-3.146,5.795-3.477,7.037\
          c-0.994,3.312-2.235,9.768,2.317,11.093c3.974,1.159,6.374-3.229,7.864-8.361C364.652,96.564,365.895,90.356,361.341,89.031\
          M355.298,109.23c-5.298-1.573-8.774-7.45-7.036-13.411c1.572-5.215,7.119-9.437,13.162-7.616c5.629,1.656,9.023,7.533,7.202,13.659\
          C366.888,107.906,360.679,110.803,355.298,109.23')
          path(fill='#526375', d='M392.384,114.611c-1.324,2.98-1.489,3.56-2.731,6.706l-1.986-0.828c-0.249-1.655-0.414-2.897-0.911-5.463\
          l-2.897-16.474l-6.788,16.639l2.98,1.242l-0.331,0.745c-1.159-0.497-2.4-1.076-3.643-1.573c-1.076-0.414-2.152-0.911-3.146-1.325\
          l0.331-0.745l2.731,1.159c0.166-0.497,0.414-1.076,0.662-1.573c0.911-2.235,1.821-4.553,2.814-6.788\
          c1.325-3.146,2.649-6.209,3.974-9.189c-0.331-0.331-0.496-0.414-1.241-0.745l-1.49-0.662l0.331-0.745\
          c1.159,0.497,2.731,1.159,4.222,1.821c1.573,0.662,2.069,0.828,3.146,1.324c0.249,1.573,0.58,3.56,0.745,4.719l1.987,11.92\
          l5.381-12.417l-3.063-1.325l0.331-0.745c1.159,0.497,2.318,0.994,3.478,1.49c1.158,0.497,2.317,0.993,3.477,1.407l-0.331,0.745\
          l-2.814-1.159c-0.331,0.745-1.987,4.47-2.401,5.298L392.384,114.611z')
          path(fill='#526375', d='M330.215,203.104c1.076,0,1.076-0.497,1.076-1.076v-7.451c0-0.579-0.496-0.828-1.076-0.828h-67.467\
          c-0.579,0-1.076,0.249-1.076,0.911v7.699c0,0.579,0.166,1.076,1.159,1.076c11.176,0,13.576,1.573,13.576,8.112v27.401\
          c0,17.135-3.643,19.371-29.222,19.371h-0.166c-25.58,0-29.222-2.235-29.222-19.371v-27.401c0-6.54,2.401-8.112,13.576-8.112\
          c0.911,0,1.159-0.414,1.159-1.076v-7.699c0-0.58-0.497-0.911-1.076-0.911H163.99c-0.58,0-1.076,0.249-1.076,0.828v7.451\
          c0,0.579,0,1.076,1.076,1.076c10.596,0,13.576,2.649,13.576,9.685v91.97c0,7.037-2.98,9.686-13.576,9.686\
          c-1.076,0-1.076,0.496-1.076,1.076v7.45c0,0.579,0.497,0.828,1.076,0.828h67.467c0.58,0,1.076-0.249,1.076-0.911v-7.698\
          c0-0.579-0.166-1.076-1.159-1.076c-11.175,0-13.576-1.573-13.576-8.112v-27.318c0-17.136,3.643-19.371,29.222-19.371h0.166\
          c25.579,0,29.222,2.235,29.222,19.371v27.4c0,6.54-2.4,8.113-13.576,8.113c-0.911,0-1.159,0.414-1.159,1.076v7.698\
          c0,0.579,0.497,0.911,1.076,0.911h67.467c0.58,0,1.076-0.248,1.076-0.828v-7.45c0-0.579,0-1.076-1.076-1.076\
          c-10.596,0-13.576-2.649-13.576-9.686V212.79C316.557,205.753,319.536,203.104,330.215,203.104')
          path(fill='#526375', d='M247.103,139.694c-31.623,0-61.424,12.334-83.775,34.685c-22.351,22.351-34.685,52.152-34.685,83.775\
          c0,31.622,12.334,61.424,34.685,83.774s52.152,34.686,83.775,34.686c31.622,0,61.424-12.335,83.775-34.686\
          c22.351-22.351,34.685-52.152,34.685-83.774c0-31.623-12.334-61.424-34.685-83.775C308.443,152.028,278.725,139.694,247.103,139.694\
          M247.103,381.333c-32.864,0-63.824-12.831-87.086-36.093s-36.093-54.223-36.093-87.086c0-32.865,12.831-63.825,36.093-87.086\
          s54.222-36.093,87.086-36.093s63.824,12.831,87.086,36.093s36.093,54.222,36.093,87.086c0,32.863-12.831,63.824-36.093,87.086\
          S279.967,381.333,247.103,381.333')
          path(fill='#526375', d='M124.751,422.724c0,0.165,0.083,0.331,0.083,0.496c0.083,0.249,0.166,0.414,0.249,0.663\
          c0.083,0.248,0.248,0.496,0.414,0.745c0.166,0.248,0.331,0.496,0.58,0.744c0.249,0.249,0.497,0.414,0.745,0.58\
          c0.248,0.165,0.497,0.248,0.662,0.248c0.249,0.083,0.414,0.083,0.58,0.083s0.331,0,0.497,0c0.58,0,1.076-0.083,1.407-0.248\
          c0.331-0.166,0.662-0.414,0.911-0.663c0.249-0.248,0.331-0.496,0.414-0.827c0.083-0.249,0.166-0.58,0.166-0.745\
          c0-0.414-0.083-0.745-0.249-0.993c-0.166-0.249-0.414-0.497-0.745-0.662c-0.331-0.166-0.662-0.332-1.076-0.414\
          c-0.414-0.083-0.828-0.249-1.242-0.331c-0.414-0.166-0.828-0.249-1.242-0.414c-0.414-0.166-0.745-0.414-1.076-0.662\
          c-0.331-0.249-0.579-0.58-0.745-0.994c-0.166-0.413-0.249-0.91-0.249-1.489c0-0.414,0.083-0.828,0.331-1.242\
          c0.166-0.414,0.497-0.745,0.828-1.076c0.332-0.331,0.745-0.579,1.242-0.745c0.497-0.165,0.994-0.248,1.573-0.248\
          c0.331,0,0.662,0,0.911,0.083c0.248,0.082,0.497,0.165,0.745,0.165c0.166,0.083,0.414,0.166,0.58,0.166\
          c0.166,0.083,0.331,0.083,0.414,0.083c0.166,0,0.248,0,0.331-0.083s0.083-0.166,0.166-0.249h0.249v3.063h-0.249\
          c-0.166-0.414-0.249-0.745-0.414-1.159c-0.166-0.331-0.331-0.662-0.579-0.993c-0.249-0.331-0.497-0.579-0.828-0.745\
          s-0.828-0.248-1.324-0.248c-0.414,0-0.828,0.082-1.159,0.165s-0.58,0.249-0.828,0.497c-0.249,0.165-0.414,0.414-0.497,0.662\
          c-0.083,0.248-0.166,0.497-0.166,0.745c0,0.414,0.083,0.662,0.332,0.91c0.166,0.249,0.497,0.497,0.828,0.662\
          c0.331,0.166,0.662,0.332,1.159,0.497c0.414,0.166,0.828,0.248,1.325,0.414c0.414,0.166,0.911,0.331,1.325,0.497\
          c0.414,0.165,0.828,0.413,1.159,0.662c0.331,0.248,0.58,0.579,0.828,0.91c0.166,0.331,0.331,0.828,0.331,1.407\
          c0,0.497-0.083,1.076-0.331,1.49c-0.249,0.497-0.497,0.91-0.911,1.242c-0.414,0.331-0.911,0.662-1.407,0.827\
          c-0.58,0.249-1.159,0.331-1.821,0.331c-0.331,0-0.663,0-0.994-0.082c-0.331-0.083-0.662-0.166-0.911-0.166\
          c-0.248-0.083-0.579-0.166-0.745-0.166c-0.249-0.082-0.414-0.082-0.497-0.082c-0.166,0-0.248,0-0.331,0.082\
          c-0.083,0.083-0.166,0.166-0.166,0.332h-0.248v-3.726H124.751z')
          path(fill='#526375', d='M145.281,421.564h3.726l-1.904-4.47L145.281,421.564z M143.129,426.117l4.884-11.837h0.414l5.132,11.837\
          h1.407v0.249h-5.463v-0.249h1.49l-1.904-4.387h-3.891l-1.821,4.387h1.49v0.249h-3.063v-0.249H143.129z')
          polygon(fill='#526375', points='167.136,414.776 172.599,422.476 172.599,422.476 172.599,414.942 171.109,414.942 171.109,414.776\
          174.338,414.776 174.338,414.942 172.848,414.942 172.848,426.366 172.434,426.366 165.066,415.936 165.066,415.936\
          165.066,426.117 166.556,426.117 166.556,426.366 163.328,426.366 163.328,426.117 164.818,426.117 164.818,414.942\
          163.328,414.942 163.328,414.776 ')
          path(fill='#526375', d='M196.275,414.942v-0.249h9.603v2.814h-0.249c-0.166-0.413-0.331-0.744-0.497-1.076\
          c-0.166-0.331-0.414-0.579-0.662-0.827s-0.497-0.414-0.828-0.497c-0.332-0.083-0.663-0.165-1.159-0.165H200v5.215h0.911\
          c0.414,0,0.745-0.083,0.993-0.165c0.249-0.083,0.497-0.249,0.663-0.497s0.331-0.497,0.497-0.745\
          c0.083-0.331,0.249-0.662,0.331-0.993h0.249v5.05h-0.249c-0.083-0.331-0.166-0.58-0.249-0.911c-0.083-0.331-0.248-0.579-0.414-0.745\
          c-0.166-0.248-0.414-0.414-0.663-0.496c-0.248-0.166-0.579-0.166-0.993-0.166H200v5.712h1.49v0.248h-5.381V426.2h1.49v-11.176\
          h-1.324V414.942z')
          path(fill='#526375', d='M220.116,419.992c0.497,0,0.911-0.083,1.159-0.166c0.248-0.166,0.497-0.331,0.662-0.497\
          c0.166-0.248,0.249-0.496,0.249-0.745c0-0.248,0.083-0.579,0.083-0.827c0-0.497,0-0.911-0.083-1.242\
          c-0.083-0.331-0.166-0.662-0.331-0.827c-0.166-0.249-0.332-0.414-0.663-0.497c-0.248-0.083-0.579-0.166-0.993-0.166\
          c-0.083,0-0.249,0-0.331,0c-0.083,0-0.249,0-0.331,0v5.05h0.579V419.992z M215.563,414.942v-0.249h2.483c0.497,0,0.911,0,1.325,0\
          c0.414,0,0.91,0,1.324,0s0.911,0.083,1.325,0.166c0.497,0.083,0.911,0.248,1.324,0.414c0.414,0.248,0.745,0.496,0.994,0.827\
          c0.248,0.331,0.414,0.828,0.414,1.325c0,0.414-0.083,0.827-0.331,1.076c-0.166,0.331-0.414,0.579-0.745,0.745\
          c-0.332,0.165-0.663,0.331-1.076,0.413c-0.414,0.083-0.745,0.166-1.159,0.166v0.083c0.497,0.083,0.993,0.165,1.407,0.331\
          c0.414,0.083,0.745,0.248,1.076,0.414c0.331,0.165,0.58,0.496,0.745,0.827S225,422.31,225,422.889\
          c0.083,0.663,0.083,1.242,0.166,1.656c0,0.414,0.083,0.745,0.166,0.993c0.083,0.248,0.166,0.414,0.249,0.497\
          c0.083,0.082,0.248,0.082,0.414,0.082c0.248,0,0.414-0.082,0.579-0.165c0.166-0.166,0.249-0.248,0.414-0.331l0.166,0.165\
          c-0.083,0.083-0.248,0.249-0.331,0.331c-0.083,0.083-0.249,0.166-0.331,0.249c-0.166,0.082-0.331,0.082-0.497,0.165\
          c-0.166,0-0.414,0.083-0.745,0.083c-0.58,0-1.076-0.083-1.407-0.248c-0.332-0.166-0.58-0.414-0.745-0.745\
          c-0.166-0.248-0.249-0.58-0.331-0.911c0-0.331-0.083-0.662-0.083-0.91c0-0.414-0.083-0.911-0.083-1.324\
          c0-0.414-0.166-0.828-0.249-1.076c-0.166-0.331-0.331-0.58-0.662-0.745c-0.249-0.166-0.663-0.331-1.159-0.331h-1.076v5.877h1.49\
          v0.249h-5.381V426.2h1.49v-11.175h-1.49V414.942z')
          path(fill='#526375', d='M238.08,421.564h3.725l-1.904-4.47L238.08,421.564z M235.927,426.117l4.884-11.837h0.414l5.132,11.837h1.408\
          v0.249h-5.464v-0.249h1.49l-1.904-4.387h-3.891l-1.821,4.387h1.49v0.249h-3.063v-0.249H235.927z')
          polygon(fill='#526375', points='259.852,414.776 265.314,422.476 265.314,422.476 265.314,414.942 263.824,414.942 263.824,414.776\
          267.136,414.776 267.136,414.942 265.646,414.942 265.646,426.366 265.148,426.366 257.864,415.936 257.781,415.936\
          257.781,426.117 259.271,426.117 259.271,426.366 256.043,426.366 256.043,426.117 257.533,426.117 257.533,414.942\
          256.043,414.942 256.043,414.776 ')
          path(fill='#526375', d='M286.258,418.088c-0.082-0.331-0.248-0.745-0.414-1.159c-0.165-0.414-0.413-0.745-0.662-1.076\
          c-0.248-0.331-0.579-0.579-0.993-0.828c-0.413-0.248-0.91-0.331-1.489-0.331c-0.828,0-1.408,0.166-1.904,0.414\
          c-0.497,0.331-0.828,0.662-1.076,1.242c-0.248,0.496-0.414,1.158-0.414,1.903c-0.083,0.745-0.083,1.49-0.083,2.401\
          c0,1.158,0.083,2.069,0.166,2.814c0.165,0.745,0.331,1.324,0.579,1.738s0.662,0.745,1.076,0.91c0.414,0.166,0.994,0.249,1.572,0.249\
          c0.498,0,0.911-0.083,1.325-0.331c0.414-0.166,0.745-0.414,1.076-0.745s0.579-0.662,0.745-1.076s0.331-0.828,0.496-1.325h0.249\
          v3.478h-0.249c-0.082-0.166-0.082-0.249-0.165-0.249c-0.083-0.082-0.165-0.082-0.331-0.082s-0.331,0-0.496,0.082\
          c-0.166,0.083-0.414,0.166-0.746,0.166c-0.248,0.083-0.579,0.165-0.91,0.165c-0.331,0.083-0.662,0.083-0.994,0.083\
          c-0.827,0-1.572-0.165-2.317-0.496s-1.407-0.745-1.986-1.242c-0.579-0.496-0.993-1.159-1.325-1.904\
          c-0.33-0.744-0.496-1.489-0.496-2.4c0-0.91,0.166-1.738,0.579-2.483c0.414-0.745,0.828-1.407,1.407-1.904\
          c0.58-0.496,1.242-0.91,1.986-1.241c0.746-0.248,1.408-0.414,2.152-0.414c0.332,0,0.663,0,0.994,0.083s0.58,0.165,0.828,0.165\
          c0.248,0.083,0.496,0.166,0.662,0.166c0.166,0.083,0.414,0.083,0.496,0.083c0.166,0,0.248,0,0.332-0.083\
          c0.082,0,0.165-0.166,0.165-0.248h0.249v3.311h-0.084V418.088z')
          polygon(fill='#526375', points='301.656,414.776 301.656,414.942 300.166,414.942 300.166,426.117 301.656,426.117 301.656,426.366\
          296.275,426.366 296.275,426.117 297.766,426.117 297.766,414.942 296.275,414.942 296.275,414.776 ')
          path(fill='#526375', d='M311.755,422.724c0,0.165,0.083,0.331,0.083,0.496c0.083,0.249,0.165,0.414,0.248,0.663\
          c0.083,0.248,0.248,0.496,0.414,0.745c0.166,0.248,0.331,0.496,0.579,0.744c0.249,0.249,0.497,0.414,0.745,0.58\
          c0.249,0.165,0.497,0.248,0.662,0.248c0.249,0.083,0.414,0.083,0.58,0.083c0.165,0,0.331,0,0.496,0c0.58,0,1.076-0.083,1.408-0.248\
          c0.331-0.166,0.662-0.414,0.91-0.663c0.248-0.248,0.331-0.496,0.414-0.827c0.083-0.249,0.165-0.58,0.165-0.745\
          c0-0.414-0.082-0.745-0.248-0.993c-0.165-0.249-0.414-0.497-0.745-0.662c-0.331-0.166-0.662-0.332-1.076-0.414\
          c-0.414-0.083-0.828-0.249-1.241-0.331c-0.414-0.166-0.828-0.249-1.242-0.414c-0.414-0.166-0.745-0.414-1.076-0.662\
          c-0.331-0.249-0.579-0.58-0.745-0.994c-0.165-0.413-0.248-0.91-0.248-1.489c0-0.414,0.083-0.828,0.331-1.242\
          c0.166-0.414,0.497-0.745,0.828-1.076s0.745-0.579,1.241-0.745c0.497-0.165,0.993-0.248,1.573-0.248c0.331,0,0.662,0,0.91,0.083\
          c0.249,0.082,0.497,0.165,0.745,0.165c0.166,0.083,0.414,0.166,0.58,0.166c0.165,0.083,0.331,0.083,0.413,0.083\
          c0.166,0,0.249,0,0.331-0.083c0.083-0.083,0.083-0.166,0.166-0.249h0.248v3.063h-0.248c-0.166-0.414-0.248-0.745-0.414-1.159\
          c-0.165-0.331-0.331-0.662-0.579-0.993c-0.249-0.331-0.497-0.579-0.828-0.745s-0.828-0.248-1.324-0.248\
          c-0.414,0-0.828,0.082-1.159,0.165s-0.579,0.249-0.828,0.497c-0.248,0.165-0.413,0.414-0.496,0.662s-0.166,0.497-0.166,0.745\
          c0,0.414,0.083,0.662,0.331,0.91c0.166,0.249,0.497,0.497,0.828,0.662c0.331,0.166,0.662,0.332,1.076,0.497\
          c0.414,0.166,0.828,0.248,1.324,0.414c0.414,0.166,0.911,0.331,1.325,0.497c0.413,0.165,0.827,0.413,1.076,0.662\
          c0.331,0.248,0.579,0.579,0.827,0.91c0.166,0.331,0.331,0.828,0.331,1.407c0,0.497-0.082,1.076-0.331,1.49\
          c-0.248,0.497-0.496,0.91-0.91,1.242c-0.414,0.331-0.911,0.662-1.407,0.827c-0.58,0.249-1.159,0.331-1.821,0.331\
          c-0.331,0-0.662,0-0.993-0.082c-0.332-0.083-0.663-0.166-0.911-0.166c-0.248-0.083-0.579-0.166-0.745-0.166\
          c-0.248-0.082-0.414-0.082-0.496-0.082c-0.166,0-0.249,0-0.332,0.082c-0.082,0.083-0.165,0.166-0.165,0.332h-0.248v-3.726H311.755z')
          path(fill='#526375', d='M339.735,418.088c-0.083-0.331-0.249-0.745-0.414-1.159c-0.166-0.414-0.414-0.745-0.662-1.076\
          c-0.249-0.331-0.58-0.579-0.993-0.828c-0.414-0.248-0.911-0.331-1.49-0.331c-0.828,0-1.407,0.166-1.904,0.414\
          c-0.497,0.331-0.828,0.662-1.076,1.242c-0.248,0.496-0.414,1.158-0.414,1.903c-0.083,0.745-0.083,1.49-0.083,2.401\
          c0,1.158,0.083,2.069,0.166,2.814c0.166,0.745,0.331,1.324,0.579,1.738c0.249,0.414,0.663,0.745,1.076,0.91\
          c0.414,0.166,0.994,0.249,1.573,0.249c0.497,0,0.91-0.083,1.324-0.331c0.414-0.166,0.745-0.414,1.076-0.745s0.58-0.662,0.745-1.076\
          c0.166-0.414,0.331-0.828,0.497-1.325h0.248v3.478h-0.248c-0.083-0.166-0.083-0.249-0.166-0.249\
          c-0.083-0.082-0.165-0.082-0.331-0.082c-0.165,0-0.331,0-0.496,0.082c-0.166,0.083-0.414,0.166-0.745,0.166\
          c-0.249,0.083-0.58,0.165-0.911,0.165c-0.331,0.083-0.662,0.083-0.993,0.083c-0.828,0-1.573-0.165-2.318-0.496\
          c-0.744-0.331-1.407-0.745-1.986-1.242c-0.579-0.496-0.993-1.159-1.324-1.904c-0.331-0.744-0.497-1.489-0.497-2.4\
          c0-0.91,0.166-1.738,0.58-2.483c0.413-0.745,0.827-1.407,1.407-1.904c0.579-0.496,1.241-0.91,1.986-1.241\
          c0.745-0.248,1.407-0.414,2.152-0.414c0.331,0,0.662,0,0.993,0.083s0.58,0.165,0.828,0.165c0.248,0.083,0.496,0.166,0.662,0.166\
          c0.166,0.083,0.414,0.083,0.497,0.083c0.165,0,0.248,0,0.331-0.083c0.082,0,0.165-0.166,0.165-0.248h0.249v3.311h-0.083V418.088z')
          path(fill='#526375', d='M352.649,423.386c0.165,0.745,0.331,1.324,0.579,1.738s0.662,0.745,1.076,0.911\
          c0.414,0.165,0.993,0.248,1.573,0.248c0.827,0,1.407-0.166,1.903-0.414c0.497-0.331,0.828-0.745,0.993-1.241\
          c0.249-0.497,0.414-1.159,0.414-1.904c0.083-0.745,0.083-1.49,0.083-2.318c0-0.745,0-1.489-0.083-2.152\
          c-0.083-0.662-0.165-1.324-0.414-1.821c-0.248-0.496-0.579-0.91-1.076-1.241c-0.496-0.331-1.076-0.497-1.903-0.497\
          c-0.745,0-1.407,0.166-1.821,0.414c-0.497,0.248-0.828,0.662-1.076,1.242c-0.248,0.496-0.414,1.158-0.497,1.821\
          c-0.082,0.745-0.082,1.489-0.082,2.4C352.483,421.73,352.566,422.641,352.649,423.386 M350.331,418.088\
          c0.414-0.745,0.828-1.407,1.407-1.904c0.58-0.496,1.242-0.91,1.987-1.241c0.745-0.249,1.407-0.414,2.152-0.414\
          c0.744,0,1.489,0.165,2.234,0.414c0.745,0.248,1.407,0.662,1.987,1.241c0.579,0.497,0.993,1.159,1.407,1.904\
          c0.331,0.745,0.496,1.572,0.496,2.483c0,0.828-0.165,1.572-0.496,2.317s-0.745,1.407-1.324,1.904\
          c-0.58,0.579-1.242,0.993-1.904,1.324c-0.745,0.331-1.49,0.497-2.318,0.497c-0.827,0-1.572-0.166-2.317-0.497\
          s-1.407-0.745-1.987-1.241c-0.579-0.497-0.993-1.159-1.324-1.904s-0.496-1.49-0.496-2.4C349.834,419.66,350,418.833,350.331,418.088\
          ')
