block header

  header(role="banner").active
    div.navigation-container.container
      a.ham(href='#')
        span.ham-menu 菜单
      a(href="#").logo-container
        svg.logo-large(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 757.3 478.3', enable-background='new 0 0 757.3 478.3', xml:space='preserve')
          path(fill='#F1BC50', d='M609.9,26.2c3.1,0,3.1-1.4,3.1-3.1V2.4c0-1.7-1.4-2.4-3.1-2.4H422.3c-1.7,0-3.1,0.7-3.1,2.4v21.4\
            c0,1.7,0.6,2.9,3.1,2.9c31.1,0,37.8,4.4,37.8,22.6v76.1c0,47.7-10.2,53.8-81.3,53.8h-0.4c-71.1,0-81.3-6.2-81.3-53.8V49.3\
            c0-18.2,6.7-22.6,37.8-22.6c2.5,0,3.1-1.2,3.1-2.9V2.4c0-1.7-1.4-2.4-3.1-2.4H147.4c-1.7,0-3.1,0.7-3.1,2.4v20.7\
            c0,1.7,0,3.1,3.1,3.1c29.6,0,37.8,7.3,37.8,26.9v255.6c0,19.6-8.2,26.9-37.8,26.9c-3.1,0-3.1,1.4-3.1,3.1v20.7\
            c0,1.7,1.4,2.4,3.1,2.4h187.5c1.7,0,3.1-0.7,3.1-2.4V338c0-1.7-0.6-2.9-3.1-2.9c-31.1,0-37.8-4.4-37.8-22.6v-76.1\
            c0-47.7,10.2-53.8,81.3-53.8h0.4c71.1,0,81.3,6.2,81.3,53.8v76.1c0,18.2-6.7,22.6-37.8,22.6c-2.5,0-3.1,1.2-3.1,2.9v21.4\
            c0,1.7,1.4,2.4,3.1,2.4h187.5c1.7,0,3.1-0.7,3.1-2.4v-20.7c0-1.7,0-3.1-3.1-3.1c-29.6,0-37.8-7.3-37.8-26.9V53.1\
            C572.1,33.5,580.3,26.2,609.9,26.2')
          path.type(fill='#F1BC50', d='M32.1,474.8l8.5,0.1l-0.1,2.2c-4.9-0.1-9.8-0.1-14.7-0.1c-8.3,0-13.7,0.1-15,0.1v-2.2l8.6-0.1v-50.9\
            C7.6,424,4.1,427.1,2.7,436.8l-0.3,3.5L0,440.2l0.3-7.6c0.2-2.9,0.2-4.6,0.2-6.7c0-2.2,0-3.5-0.1-4.6l1.6-0.6c1,0.1,2,0.2,3,0.2\
            c1.9,0.2,11.1,0.2,20.1,0.2c8.6,0.1,17.9-0.1,18.8-0.2c1.9-0.1,3.7-0.2,4.4-0.2l1.6,0.6c-0.2,3.4-0.3,7-0.2,18.8l-2.3,0.2l-0.6-6.5\
            c-1.4-7.9-4.2-9.8-14.6-9.8V474.8z')
          path.type(fill='#F1BC50', d='M85.8,447.1c7.8-0.1,9.2-0.1,22.1,0v-24l-8-0.1v-2.2c0,0,6.6,0.1,14.7,0.1c4.5,0,9.2,0,13.7-0.1v2.2l-8,0.1\
            v51.6l8,0.1v2.2c-4.7-0.1-9.5-0.1-14.2-0.1c-4.8,0-9.6,0-14.2,0.1v-2.2l8-0.1v-25c-3.8,0.1-7.7,0.1-11.5,0.1c-5.7,0-7.9,0-10.5-0.1\
            v25l8,0.1v2.2C87.7,477,81,477,78.6,477c-4.5,0-9,0-13.5,0.1v-2.2l8.1-0.1v-51.6l-8.1-0.1v-2.2c4.7,0.1,9.4,0.1,14.1,0.1\
            c4.9,0,9.7,0,14.6-0.1v2.2l-8,0.1V447.1z')
          path.type(fill='#F1BC50', d='M165.3,448.7l0.3,25.3h4.1c7.7-0.1,11.9-0.2,15.3-2.4c4.1-2.7,4.6-6.8,5.4-12.7l2.5,0.1l-0.6,8.2\
            c-0.2,4.2-0.4,6.8-0.6,8.4c-0.2,1.3-0.3,1.5-2.9,1.5c-0.6,0-3.7-0.1-4.3-0.1c-9.1-0.1-18.1-0.2-27.2-0.2c-4.2,0-8.4,0.1-12.5,0.2\
            v-2.3l8-0.1v-51.3l-7.5-0.1v-2.3c14.7,0.1,30.2,0.2,44.1-0.4c0,2.6,0,4.1,0.2,7.3l0.5,8.2l-2.4,0.4c-1.8-10.3-4.6-12.8-17.8-12.8\
            l-4.4,0.1l-0.2,22.7l3.1-0.2c6.8-0.5,8.5-2.9,9.1-10.2h2.4c-0.2,2.7-0.4,5.3-0.4,14.8c0,1.4,0,4.8,0.2,8h-2.4\
            c-0.9-7.7-1.1-9.4-9.1-10L165.3,448.7z')
          path.type(fill='#F1BC50', d='M266,447.1c7.8-0.1,9.2-0.1,22.1,0v-24l-8-0.1v-2.2c0,0,6.6,0.1,14.7,0.1c4.5,0,9.2,0,13.7-0.1v2.2l-8,0.1\
            v51.6l8,0.1v2.2c-4.7-0.1-9.5-0.1-14.2-0.1c-4.8,0-9.6,0-14.2,0.1v-2.2l8-0.1v-25c-3.8,0.1-7.7,0.1-11.5,0.1c-5.7,0-7.9,0-10.5-0.1\
            v25l8,0.1v2.2c-6.1-0.1-12.8-0.1-15.3-0.1c-4.5,0-9,0-13.5,0.1v-2.2l8.1-0.1v-51.6l-8.1-0.1v-2.2c4.7,0.1,9.4,0.1,14.1,0.1\
            c4.9,0,9.7,0,14.6-0.1v2.2l-8,0.1V447.1z')
          path.type(fill='#F1BC50', d='M350.2,454.5l-1.5-4.8c-2.6-8.1-3.4-10.9-5.1-16.4l-6.4,21.2H350.2z M361.8,452.8c1.2,3.3,2.4,6.8,3.5,10.2\
            c2.3,6.8,2.6,7.8,4.2,11.8l6.3,0.1v2.2c-4.2-0.1-8.5-0.1-12.8-0.1c-4.7,0-9.4,0-14.1,0.1v-2.2l7.4-0.1l-5.3-17.7h-14.3l-5.3,17.7\
            h7.6v2.3c-2.9-0.1-5.7-0.1-8.6-0.1c-2.9,0-6.3,0-9.2,0.1v-2.3h6.4c1.9-5.1,3.4-9.9,7-21.3l4.3-13.9c3.5-11.7,4.2-14.2,5.6-19.7h6.9\
            c0.2,0.6,0.3,1.1,0.5,1.7c1,3.5,1.6,5.4,5.9,19L361.8,452.8z')
          path.type(fill='#F1BC50', d='M409,447c4.7,0,5.3,0,6.5-0.2c3.9-0.7,7.4-3.2,7.4-11.4c0-9.6-4-12.5-9.5-12.5c-0.2,0-3.7,0-4.3,0.9\
            c-0.2,0.2-0.2,0.4-0.2,2.2V447z M411.7,420.6c1.8-0.1,3.5-0.2,5.3-0.2c3,0,9.1,0.2,13.4,3.8c2.2,1.8,4.5,5.1,4.5,9.9\
            c0,6.4-4.1,12.3-14.1,13.8c-1.2,0.2-2.4,0.2-3.6,0.3l3,0.6c9.1,2.1,12.9,4.1,13.8,15.3l0.2,2.9c0.2,3.1,0.9,8.2,4.4,8.2\
            c0.2,0,1.4,0,1.4-1.1c0-0.5-0.7-2.3-0.7-2.8c0-1.4,1.3-2.5,2.6-2.5c1.6,0,2.9,1.4,2.9,3.2c0,3.1-3.4,5.7-9.3,5.7\
            c-11.5,0-12.5-9.3-12.8-12l-0.2-3.1c-0.6-7-1.1-13.1-10.2-13.1H409v25.2l7.9,0.1v2.2c-0.8,0-5.7-0.1-12.8-0.1\
            c-5.2,0-10.3,0-15.5,0.1v-2.2l7.9-0.1c0.2-3,0.2-5.5,0.3-15.1v-36.3l-7.4-0.1v-2.3c1.3,0,7.7,0.1,8.4,0.1c3.3,0,5.6-0.1,9.4-0.2\
            L411.7,420.6z')
          path.type(fill='#F1BC50', d='M480.6,447c4.7,0,5.3,0,6.5-0.2c3.9-0.7,7.4-3.2,7.4-11.4c0-9.6-4-12.5-9.5-12.5c-0.2,0-3.7,0-4.3,0.9\
            c-0.2,0.2-0.2,0.4-0.2,2.2V447z M483.3,420.6c1.8-0.1,3.5-0.2,5.3-0.2c3,0,9.1,0.2,13.4,3.8c2.2,1.8,4.5,5.1,4.5,9.9\
            c0,6.4-4.1,12.3-14.1,13.8c-1.2,0.2-2.4,0.2-3.6,0.3l3,0.6c9.1,2.1,12.9,4.1,13.8,15.3l0.2,2.9c0.2,3.1,0.9,8.2,4.4,8.2\
            c0.2,0,1.4,0,1.4-1.1c0-0.5-0.7-2.3-0.7-2.8c0-1.4,1.3-2.5,2.6-2.5c1.6,0,2.9,1.4,2.9,3.2c0,3.1-3.4,5.7-9.3,5.7\
            c-11.5,0-12.5-9.3-12.8-12l-0.2-3.1c-0.6-7-1.1-13.1-10.2-13.1h-3.3v25.2l7.9,0.1v2.2c-0.8,0-5.7-0.1-12.8-0.1\
            c-5.2,0-10.4,0-15.5,0.1v-2.2l7.9-0.1c0.2-3,0.2-5.5,0.3-15.1v-36.3l-7.4-0.1v-2.3c1.3,0,7.7,0.1,8.4,0.1c3.3,0,5.6-0.1,9.4-0.2\
            L483.3,420.6z')
          path.type(fill='#F1BC50', d='M552.4,474.8l8,0.1v2.2c-4.6-0.1-9.3-0.1-14-0.1c-4.9,0-9.7,0-14.6,0.1v-2.2l8-0.1v-51.6l-8-0.1v-2.2\
            c5.1,0.1,10.3,0.1,15.4,0.1c4.5,0,8.8,0,13.2-0.1v2.2l-8,0.1V474.8z')
          path.type(fill='#F1BC50', d='M581.2,457.9c0.8,4.7,2.9,17.1,15.5,17.1c8.1,0,12.2-5.3,12.2-10.4c0-6.1-4.9-7.8-10.1-9.6l-4.5-1.4\
            c-5.2-1.8-15.4-5.4-15.4-17c0-10.2,8.2-16.8,17.1-16.8c5.2,0,8.9,2.1,11.5,3.5l2.3-2.5l1.9,0.6c-0.4,4.5-0.5,6-0.5,8.4\
            c0,3.3,0.2,5.9,0.5,7.4l-2.5,0.6c-0.6-3.7-1-5.4-1.8-7.4c-1.8-4.3-6-8-11.7-8c-5.3,0-10,3.5-10,8.8c0,5.7,4.9,7.4,11,9.4l3.7,1.1\
            c5.3,1.9,15.4,5.5,15.4,17.5c0,10.3-7.7,18.8-18.7,18.8c-6.1,0-10.4-2.5-13.8-4.5l-2.1,3.3l-2.2-0.9c0.2-2.5,0.4-5.2,0.4-8.1\
            c0-3.2-0.3-7.5-0.5-9.6L581.2,457.9z')
          path.type(fill='#F1BC50', d='M660,422c-3.5,0-7.6,1.3-10.4,6.5c-3.4,6.1-3.7,17.3-3.7,20.8c0,9.3,1.6,26.7,14.3,26.7\
            c11.1,0,13.9-13.1,13.9-27.4C674.1,438.7,672.8,422,660,422 M659.9,478.3c-14.8,0-28.2-12.4-28.2-29.1c0-14.6,11.2-29.5,28-29.5\
            c15.6,0,28.8,12.5,28.8,29.5C688.5,466.2,674.8,478.3,659.9,478.3')
          path.type(fill='#F1BC50', d='M748.5,457.7c-0.1,8.8-0.1,10.4,0.2,19.3H743c-2.2-3.7-4-6.6-7.8-12.6l-24-37.7l0.3,48l8.6,0.1v2.2\
            c-3.5-0.1-7.1-0.1-10.6-0.1c-3,0-6.1,0-9.2,0.1v-2.2l8-0.1c-0.1-1.5-0.1-3-0.1-4.5c0-6.5-0.1-13.1-0.1-19.6c0-9,0.1-17.9,0.3-26.8\
            c-1.2-0.5-1.6-0.6-3.7-0.6l-4.4-0.1v-2.2c3.3,0.1,7.9,0.1,12.2,0.1c4.5,0,5.9,0,9.1-0.1c2.2,3.6,5.1,8.2,6.8,10.8l17.2,27.2\
            l0.5-35.7l-8.9-0.1v-2.2c3.3,0.1,6.7,0.1,10,0.1c3.3,0,6.8,0,10.1-0.1v2.2l-8,0.1c-0.1,2.2-0.4,13.1-0.4,15.4L748.5,457.7z')

        svg.logo-small(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 757.3 478.3', enable-background='new 0 0 757.3 478.3', xml:space='preserve')
          path(fill='#F1BC50', d='M609.9,26.2c3.1,0,3.1-1.4,3.1-3.1V2.4c0-1.7-1.4-2.4-3.1-2.4H422.3c-1.7,0-3.1,0.7-3.1,2.4v21.4\
            c0,1.7,0.6,2.9,3.1,2.9c31.1,0,37.8,4.4,37.8,22.6v76.1c0,47.7-10.2,53.8-81.3,53.8h-0.4c-71.1,0-81.3-6.2-81.3-53.8V49.3\
            c0-18.2,6.7-22.6,37.8-22.6c2.5,0,3.1-1.2,3.1-2.9V2.4c0-1.7-1.4-2.4-3.1-2.4H147.4c-1.7,0-3.1,0.7-3.1,2.4v20.7\
            c0,1.7,0,3.1,3.1,3.1c29.6,0,37.8,7.3,37.8,26.9v255.6c0,19.6-8.2,26.9-37.8,26.9c-3.1,0-3.1,1.4-3.1,3.1v20.7\
            c0,1.7,1.4,2.4,3.1,2.4h187.5c1.7,0,3.1-0.7,3.1-2.4V338c0-1.7-0.6-2.9-3.1-2.9c-31.1,0-37.8-4.4-37.8-22.6v-76.1\
            c0-47.7,10.2-53.8,81.3-53.8h0.4c71.1,0,81.3,6.2,81.3,53.8v76.1c0,18.2-6.7,22.6-37.8,22.6c-2.5,0-3.1,1.2-3.1,2.9v21.4\
            c0,1.7,1.4,2.4,3.1,2.4h187.5c1.7,0,3.1-0.7,3.1-2.4v-20.7c0-1.7,0-3.1-3.1-3.1c-29.6,0-37.8-7.3-37.8-26.9V53.1\
            C572.1,33.5,580.3,26.2,609.9,26.2')

      ul.navigation-items

        li
          a(href="#design").navigation-item 大楼建筑

        li
          a(href="#views").navigation-item 无敌景观

        li
          a(href="#amenities").navigation-item 设计师

        li
          a(href="#interior").navigation-item 室内设计

        li
          a(href="#amenitiestwo").navigation-item 设施

      ul.mobile-nav.ps-container

        svg#mobile-close-btn(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='42px', height='42px', viewbox='0 0 42 42', enable-background='new 0 0 42 42', xml:space='preserve')
          path(d='M21,1c11.027,0,20,8.972,20,20s-8.973,20-20,20C9.972,41,1,32.028,1,21S9.972,1,21,1 M21,0 C9.402,0,0,9.401,0,21c0,11.598,9.402,21,21,21c11.598,0,21-9.402,21-21C42,9.401,32.598,0,21,0L21,0z')
          path(d='M28.256,28.124c-0.128,0-0.256-0.049-0.354-0.146L13.76,13.835c-0.195-0.195-0.195-0.512,0-0.707 s0.512-0.195,0.707,0l14.142,14.143c0.195,0.195,0.195,0.512,0,0.707C28.512,28.075,28.384,28.124,28.256,28.124L28.256,28.124z')
          path(d='M21.891,20.553l6.718-6.718c0.195-0.195,0.195-0.512,0-0.707s-0.512-0.195-0.707,0l-6.718,6.718 l-6.717-6.718c-0.195-0.195-0.512-0.195-0.707,0s-0.195,0.512,0,0.707l6.717,6.718L13.76,27.27c-0.195,0.195-0.195,0.512,0,0.707 c0.098,0.098,0.226,0.146,0.354,0.146s0.256-0.049,0.354-0.146l6.717-6.717l6.717,6.718c0.098,0.098,0.226,0.146,0.354,0.146 s0.256-0.049,0.354-0.146c0.195-0.195,0.195-0.512,0-0.707L21.891,20.553z')

        li
          a(href="#design").mobile-nav-link
              h4 大楼建筑

        li
          a(href="#views").mobile-nav-link
              h4 无敌景观

        li
          a(href="#amenities").mobile-nav-link
              h4 设计师

        li
          a(href="#interior").mobile-nav-link
              h4 室内设计

        li
          a(href="#amenitiestwo").mobile-nav-link
              h4 设施

        svg.logo-mobile-menu(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 757.3 478.3', enable-background='new 0 0 757.3 478.3', xml:space='preserve')
          path(fill='#F1BC50', d='M609.9,26.2c3.1,0,3.1-1.4,3.1-3.1V2.4c0-1.7-1.4-2.4-3.1-2.4H422.3c-1.7,0-3.1,0.7-3.1,2.4v21.4\
            c0,1.7,0.6,2.9,3.1,2.9c31.1,0,37.8,4.4,37.8,22.6v76.1c0,47.7-10.2,53.8-81.3,53.8h-0.4c-71.1,0-81.3-6.2-81.3-53.8V49.3\
            c0-18.2,6.7-22.6,37.8-22.6c2.5,0,3.1-1.2,3.1-2.9V2.4c0-1.7-1.4-2.4-3.1-2.4H147.4c-1.7,0-3.1,0.7-3.1,2.4v20.7\
            c0,1.7,0,3.1,3.1,3.1c29.6,0,37.8,7.3,37.8,26.9v255.6c0,19.6-8.2,26.9-37.8,26.9c-3.1,0-3.1,1.4-3.1,3.1v20.7\
            c0,1.7,1.4,2.4,3.1,2.4h187.5c1.7,0,3.1-0.7,3.1-2.4V338c0-1.7-0.6-2.9-3.1-2.9c-31.1,0-37.8-4.4-37.8-22.6v-76.1\
            c0-47.7,10.2-53.8,81.3-53.8h0.4c71.1,0,81.3,6.2,81.3,53.8v76.1c0,18.2-6.7,22.6-37.8,22.6c-2.5,0-3.1,1.2-3.1,2.9v21.4\
            c0,1.7,1.4,2.4,3.1,2.4h187.5c1.7,0,3.1-0.7,3.1-2.4v-20.7c0-1.7,0-3.1-3.1-3.1c-29.6,0-37.8-7.3-37.8-26.9V53.1\
            C572.1,33.5,580.3,26.2,609.9,26.2')
          path.type(fill='#F1BC50', d='M32.1,474.8l8.5,0.1l-0.1,2.2c-4.9-0.1-9.8-0.1-14.7-0.1c-8.3,0-13.7,0.1-15,0.1v-2.2l8.6-0.1v-50.9\
            C7.6,424,4.1,427.1,2.7,436.8l-0.3,3.5L0,440.2l0.3-7.6c0.2-2.9,0.2-4.6,0.2-6.7c0-2.2,0-3.5-0.1-4.6l1.6-0.6c1,0.1,2,0.2,3,0.2\
            c1.9,0.2,11.1,0.2,20.1,0.2c8.6,0.1,17.9-0.1,18.8-0.2c1.9-0.1,3.7-0.2,4.4-0.2l1.6,0.6c-0.2,3.4-0.3,7-0.2,18.8l-2.3,0.2l-0.6-6.5\
            c-1.4-7.9-4.2-9.8-14.6-9.8V474.8z')
          path.type(fill='#F1BC50', d='M85.8,447.1c7.8-0.1,9.2-0.1,22.1,0v-24l-8-0.1v-2.2c0,0,6.6,0.1,14.7,0.1c4.5,0,9.2,0,13.7-0.1v2.2l-8,0.1\
            v51.6l8,0.1v2.2c-4.7-0.1-9.5-0.1-14.2-0.1c-4.8,0-9.6,0-14.2,0.1v-2.2l8-0.1v-25c-3.8,0.1-7.7,0.1-11.5,0.1c-5.7,0-7.9,0-10.5-0.1\
            v25l8,0.1v2.2C87.7,477,81,477,78.6,477c-4.5,0-9,0-13.5,0.1v-2.2l8.1-0.1v-51.6l-8.1-0.1v-2.2c4.7,0.1,9.4,0.1,14.1,0.1\
            c4.9,0,9.7,0,14.6-0.1v2.2l-8,0.1V447.1z')
          path.type(fill='#F1BC50', d='M165.3,448.7l0.3,25.3h4.1c7.7-0.1,11.9-0.2,15.3-2.4c4.1-2.7,4.6-6.8,5.4-12.7l2.5,0.1l-0.6,8.2\
            c-0.2,4.2-0.4,6.8-0.6,8.4c-0.2,1.3-0.3,1.5-2.9,1.5c-0.6,0-3.7-0.1-4.3-0.1c-9.1-0.1-18.1-0.2-27.2-0.2c-4.2,0-8.4,0.1-12.5,0.2\
            v-2.3l8-0.1v-51.3l-7.5-0.1v-2.3c14.7,0.1,30.2,0.2,44.1-0.4c0,2.6,0,4.1,0.2,7.3l0.5,8.2l-2.4,0.4c-1.8-10.3-4.6-12.8-17.8-12.8\
            l-4.4,0.1l-0.2,22.7l3.1-0.2c6.8-0.5,8.5-2.9,9.1-10.2h2.4c-0.2,2.7-0.4,5.3-0.4,14.8c0,1.4,0,4.8,0.2,8h-2.4\
            c-0.9-7.7-1.1-9.4-9.1-10L165.3,448.7z')
          path.type(fill='#F1BC50', d='M266,447.1c7.8-0.1,9.2-0.1,22.1,0v-24l-8-0.1v-2.2c0,0,6.6,0.1,14.7,0.1c4.5,0,9.2,0,13.7-0.1v2.2l-8,0.1\
            v51.6l8,0.1v2.2c-4.7-0.1-9.5-0.1-14.2-0.1c-4.8,0-9.6,0-14.2,0.1v-2.2l8-0.1v-25c-3.8,0.1-7.7,0.1-11.5,0.1c-5.7,0-7.9,0-10.5-0.1\
            v25l8,0.1v2.2c-6.1-0.1-12.8-0.1-15.3-0.1c-4.5,0-9,0-13.5,0.1v-2.2l8.1-0.1v-51.6l-8.1-0.1v-2.2c4.7,0.1,9.4,0.1,14.1,0.1\
            c4.9,0,9.7,0,14.6-0.1v2.2l-8,0.1V447.1z')
          path.type(fill='#F1BC50', d='M350.2,454.5l-1.5-4.8c-2.6-8.1-3.4-10.9-5.1-16.4l-6.4,21.2H350.2z M361.8,452.8c1.2,3.3,2.4,6.8,3.5,10.2\
            c2.3,6.8,2.6,7.8,4.2,11.8l6.3,0.1v2.2c-4.2-0.1-8.5-0.1-12.8-0.1c-4.7,0-9.4,0-14.1,0.1v-2.2l7.4-0.1l-5.3-17.7h-14.3l-5.3,17.7\
            h7.6v2.3c-2.9-0.1-5.7-0.1-8.6-0.1c-2.9,0-6.3,0-9.2,0.1v-2.3h6.4c1.9-5.1,3.4-9.9,7-21.3l4.3-13.9c3.5-11.7,4.2-14.2,5.6-19.7h6.9\
            c0.2,0.6,0.3,1.1,0.5,1.7c1,3.5,1.6,5.4,5.9,19L361.8,452.8z')
          path.type(fill='#F1BC50', d='M409,447c4.7,0,5.3,0,6.5-0.2c3.9-0.7,7.4-3.2,7.4-11.4c0-9.6-4-12.5-9.5-12.5c-0.2,0-3.7,0-4.3,0.9\
            c-0.2,0.2-0.2,0.4-0.2,2.2V447z M411.7,420.6c1.8-0.1,3.5-0.2,5.3-0.2c3,0,9.1,0.2,13.4,3.8c2.2,1.8,4.5,5.1,4.5,9.9\
            c0,6.4-4.1,12.3-14.1,13.8c-1.2,0.2-2.4,0.2-3.6,0.3l3,0.6c9.1,2.1,12.9,4.1,13.8,15.3l0.2,2.9c0.2,3.1,0.9,8.2,4.4,8.2\
            c0.2,0,1.4,0,1.4-1.1c0-0.5-0.7-2.3-0.7-2.8c0-1.4,1.3-2.5,2.6-2.5c1.6,0,2.9,1.4,2.9,3.2c0,3.1-3.4,5.7-9.3,5.7\
            c-11.5,0-12.5-9.3-12.8-12l-0.2-3.1c-0.6-7-1.1-13.1-10.2-13.1H409v25.2l7.9,0.1v2.2c-0.8,0-5.7-0.1-12.8-0.1\
            c-5.2,0-10.3,0-15.5,0.1v-2.2l7.9-0.1c0.2-3,0.2-5.5,0.3-15.1v-36.3l-7.4-0.1v-2.3c1.3,0,7.7,0.1,8.4,0.1c3.3,0,5.6-0.1,9.4-0.2\
            L411.7,420.6z')
          path.type(fill='#F1BC50', d='M480.6,447c4.7,0,5.3,0,6.5-0.2c3.9-0.7,7.4-3.2,7.4-11.4c0-9.6-4-12.5-9.5-12.5c-0.2,0-3.7,0-4.3,0.9\
            c-0.2,0.2-0.2,0.4-0.2,2.2V447z M483.3,420.6c1.8-0.1,3.5-0.2,5.3-0.2c3,0,9.1,0.2,13.4,3.8c2.2,1.8,4.5,5.1,4.5,9.9\
            c0,6.4-4.1,12.3-14.1,13.8c-1.2,0.2-2.4,0.2-3.6,0.3l3,0.6c9.1,2.1,12.9,4.1,13.8,15.3l0.2,2.9c0.2,3.1,0.9,8.2,4.4,8.2\
            c0.2,0,1.4,0,1.4-1.1c0-0.5-0.7-2.3-0.7-2.8c0-1.4,1.3-2.5,2.6-2.5c1.6,0,2.9,1.4,2.9,3.2c0,3.1-3.4,5.7-9.3,5.7\
            c-11.5,0-12.5-9.3-12.8-12l-0.2-3.1c-0.6-7-1.1-13.1-10.2-13.1h-3.3v25.2l7.9,0.1v2.2c-0.8,0-5.7-0.1-12.8-0.1\
            c-5.2,0-10.4,0-15.5,0.1v-2.2l7.9-0.1c0.2-3,0.2-5.5,0.3-15.1v-36.3l-7.4-0.1v-2.3c1.3,0,7.7,0.1,8.4,0.1c3.3,0,5.6-0.1,9.4-0.2\
            L483.3,420.6z')
          path.type(fill='#F1BC50', d='M552.4,474.8l8,0.1v2.2c-4.6-0.1-9.3-0.1-14-0.1c-4.9,0-9.7,0-14.6,0.1v-2.2l8-0.1v-51.6l-8-0.1v-2.2\
            c5.1,0.1,10.3,0.1,15.4,0.1c4.5,0,8.8,0,13.2-0.1v2.2l-8,0.1V474.8z')
          path.type(fill='#F1BC50', d='M581.2,457.9c0.8,4.7,2.9,17.1,15.5,17.1c8.1,0,12.2-5.3,12.2-10.4c0-6.1-4.9-7.8-10.1-9.6l-4.5-1.4\
            c-5.2-1.8-15.4-5.4-15.4-17c0-10.2,8.2-16.8,17.1-16.8c5.2,0,8.9,2.1,11.5,3.5l2.3-2.5l1.9,0.6c-0.4,4.5-0.5,6-0.5,8.4\
            c0,3.3,0.2,5.9,0.5,7.4l-2.5,0.6c-0.6-3.7-1-5.4-1.8-7.4c-1.8-4.3-6-8-11.7-8c-5.3,0-10,3.5-10,8.8c0,5.7,4.9,7.4,11,9.4l3.7,1.1\
            c5.3,1.9,15.4,5.5,15.4,17.5c0,10.3-7.7,18.8-18.7,18.8c-6.1,0-10.4-2.5-13.8-4.5l-2.1,3.3l-2.2-0.9c0.2-2.5,0.4-5.2,0.4-8.1\
            c0-3.2-0.3-7.5-0.5-9.6L581.2,457.9z')
          path.type(fill='#F1BC50', d='M660,422c-3.5,0-7.6,1.3-10.4,6.5c-3.4,6.1-3.7,17.3-3.7,20.8c0,9.3,1.6,26.7,14.3,26.7\
            c11.1,0,13.9-13.1,13.9-27.4C674.1,438.7,672.8,422,660,422 M659.9,478.3c-14.8,0-28.2-12.4-28.2-29.1c0-14.6,11.2-29.5,28-29.5\
            c15.6,0,28.8,12.5,28.8,29.5C688.5,466.2,674.8,478.3,659.9,478.3')
          path.type(fill='#F1BC50', d='M748.5,457.7c-0.1,8.8-0.1,10.4,0.2,19.3H743c-2.2-3.7-4-6.6-7.8-12.6l-24-37.7l0.3,48l8.6,0.1v2.2\
            c-3.5-0.1-7.1-0.1-10.6-0.1c-3,0-6.1,0-9.2,0.1v-2.2l8-0.1c-0.1-1.5-0.1-3-0.1-4.5c0-6.5-0.1-13.1-0.1-19.6c0-9,0.1-17.9,0.3-26.8\
            c-1.2-0.5-1.6-0.6-3.7-0.6l-4.4-0.1v-2.2c3.3,0.1,7.9,0.1,12.2,0.1c4.5,0,5.9,0,9.1-0.1c2.2,3.6,5.1,8.2,6.8,10.8l17.2,27.2\
            l0.5-35.7l-8.9-0.1v-2.2c3.3,0.1,6.7,0.1,10,0.1c3.3,0,6.8,0,10.1-0.1v2.2l-8,0.1c-0.1,2.2-0.4,13.1-0.4,15.4L748.5,457.7z')



      a(href="mailto:info@theharrisonsf.com").btn.grdnt.gold.lrg 现在就洽询详情

      div.phone-container
        svg.phone(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='20px', height='20px', viewbox='0 0 20 20', enable-background='new 0 0 20 20', xml:space='preserve')
          g
            path(fill='none', stroke='#8B9396', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='M8.227,7.028\
            c0.634-0.634,0.686-1.61,0.115-2.181L6.792,3.298c-0.57-0.57-1.547-0.519-2.181,0.115L3.667,4.357\
            C2.848,5.176,2.664,6.396,3.223,7.282c2.399,3.803,5.692,7.097,9.496,9.495c0.884,0.559,2.107,0.373,2.925-0.443l0.944-0.944\
            c0.634-0.634,0.686-1.61,0.114-2.181l-1.549-1.55c-0.571-0.57-1.547-0.519-2.181,0.114l-0.574,0.574\
            c-1.716-1.375-3.37-3.029-4.745-4.746L8.227,7.028z')

        h4.phone-number +1-415-721-7788
