//
// Button base styles and mixins
// ––––––––––––––––––––––––––––––––––––––––––––––––

.btn
  button()

  // will be fixed with next version of axis
  &:hover, &:active
    border: none

.btn
  button(10px, transparent, #fff)
  border: 1px solid rgba(white, 0.5)
  letter-spacing: .1em
  margin-right: 1em
  font-family: "franklin-gothic-urw",sans-serif
  line-height: rem(12px)

  /// Large size
  &.lrg
    font-size: rem(11px)
    max-width: 450px
    padding: rem(12px) rem(70px)

  // "Luxury" Buttons
  &.grdnt
    background: linear-gradient(270deg, rgba(darken(#f1bc50, 20%), 0.7), rgba(#f1bc50, 0.75), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0))
    background-position: 1% 50%
    background-size: 300% 300%
    transition: all .7s ease


    //turn elements gold on hover (desktop only)
    &:hover
      background-position: 99% 50%
      border: 1px solid rgba(white, 0.1)
      border-top: 1px solid rgba(white, 0.3)
      box-shadow: 0px 8px 5px rgba(black, 0.3)

    &:active
      box-shadow: none

    &.quiet
      background: linear-gradient(270deg, rgba(#fff, 0.1), rgba(#fff, 0.1), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0))
      background-position: 1% 50%
      background-size: 300% 300%
      border: 1px solid rgba(white, 0.2)

      &:hover
        border: 1px solid rgba(white, 0.1)
        background-position: 99% 50%

  // Gold
  &.gold
    border: 1px solid rgba(#f1bc50, 0.8)
    color: #f1bc50

    &:hover
      color: #fff !important

  // Quiet
  &.quiet
    color: rgba(#fff, 0.5)
    border-color: rgba(#fff, 1)

    &:hover
      color: #fff
      border-color: rgba(#fff, 0.3)

  &.dark
    color: #b2b2b2
    border-color: #b2b2b2
    &:hover
      color: darken(#b2b2b2, 20%)
      border-color: darken(#b2b2b2, 20%)

  // No margins if only one button
  &:last-child
    margin-right: 0
