form
  margin: rem(10px) 0
  height: auto
  width: 100%
  .field
    width: 100%
    position: relative
    height: 70px
    float: left
    &.short
      width: 70%
    &.submit
      width: 100%
      height: auto
      margin-top: rem(30px)
      input
        font-size: rem(12px)
        margin-right: rem(15px)
      p
        padding-top: rem(7px)
        display: inline-block
    input:not([type="submit"]), textarea, select
      margin-top: 15px
      padding: 3px 2px
      background: transparent
      width: 100%
      height: 45px
      border-top: none
      border-left: none
      border-right: none
      border-bottom: 1px solid #3A4346
      border-radius: 0
      font-size: 24px
      header-font()
      color: #999
      transition: border ease-in-out .3s

      &::-webkit-input-placeholder
        font-size: 20px
        color: #3A4346

      &:focus
        outline:0
        color: #fff
        border-color: #f1bc50
      &.invalid
        border-color: #f1bc50 !important
    input[type="submit"]
      float: left
    label
      position: absolute
      left: 0
      opacity: 0
      color: red
      top: 15px
      color: rgba(#fff, 0.3)
      font-size: 10px
      font-size: 10px
      font-weight: bold
      font-family: 'Arial'
      text-transform: uppercase
      transition: all 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    input.invalid
      outline: none
      color: #fff
      border-bottom: 1px solid #f1bc50
    select.invalid
      outline: none
      color: #fff
      border: 1px solid #f1bc50 !important
    input:focus + label
      color: #f1bc50
      opacity: 1
      top: rem(5px)
    ::-webkit-input-placeholder
      color: #8f9ea3
    :-moz-placeholder
      color: #8f9ea3
    ::-moz-placeholder
      color: #8f9ea3
    :-ms-input-placeholder
      color: #8f9ea3
.sel
  position: relative
  float: left
  &:hover:before
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-top: 5px solid #f1bc50
  // &.invalid select {
  //   border: 1px solid #f1bc50;
  // }
  &::before
    content: ''
    width: 0
    height: 0
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-top: 5px solid #999
    position: absolute
    right: 15px
    top: 22px
  select
    background: transparent
    border: red
    -webkit-appearance: none
    -webkit-border-radius: 0px
    -moz-appearance: none
    height: 45px
    width: 95px
    position: relative
    top: 16px
    font-size: 14px
    margin-left: 13px
    padding-left: 13px
    color: #999
    cursor: pointer
    background: transparent
    transition: background .1s, color .1s, border .5s ease
    &.invalid
      outline: none
      border: 1px solid #f1bc50 !important
    &:focus
      outline: none
      border-bottom: 1px solid #ea963a
    &:hover
      color: #fff
      background: rgba(#555555, 0.3)
  select:-moz-focusring
    color: transparent
    text-shadow: 0 0 0 #999
.short
  select
    position: relative
    top: 0
.long
  width: 100%
  margin: 7px 0
  border:  1px solid rgba(#fff, 0.3);
  select
    height: 45px
    width: 100%
    margin-left: 0
    position: relative
    top: 0
