section.full-height-1
  width: 100%
  height: 100vh
  background-image: url('../img/east-night.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  padding: 75px 5% 0 5%
  position: relative

  +below(3)
    height: 55vh

  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100vh
    left: 0
    top: 0
    background-color: #1B2022
    opacity: .25

    +above(4)
      opacity: .15

    +below(3)
      height: 55vh

  h2, p
    &::selection
      color: #F1BC50
      background-color: #8f9ea3



  h2
    z-index: 2
    color: white
    text-align: center
    position: relative;
    font-size: 40px

    &:not(.active)
      display: none

    &.active
      display: block

    +below(3)
      font-size: 35px

  p
    display: none
    z-index: 2
    text-align: center
    position: relative;
    max-width: 620px
    color: white
    center(620px)
    font-size: 16px

    &:not(.active)
      display: none !important

    &.active
      display: block

    +below(3)
      font-size: 15px

  +above(4)
    background-attachment: fixed

section.full-height-2
  min-height: rem(470px)
  width: 100%
  height: 100vh
  background-image: url('../img/ken-fulk.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center top
  padding: 0 0 0 0
  position: relative

  +below(3)
    padding: rem(100px) 0
    height: auto

  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100vh
    left: 0
    top: 0
    background-color: #1B2022
    opacity: .25

    +above(4)
      opacity: .1

    +below(3)
      height: 100%

  div.copy
    z-index: 2
    position: relative
    padding: 0 9%
    vertically-align()

    +below(3)
      vertically-align(false)

    h2, p
      margin: 0

      &::selection
        color: #F1BC50
        background-color: #8f9ea3

    h2
      color: white
      font-size: 40px
      margin-bottom: 40px

      &:not(.active)
        display: none

      &.active
        display: block


    p
      max-width: 500px
      color: white
      font-size: 16px

      &:not(.active)
        display: none

      &.active
        display: block

section.full-height-3
  min-height: rem(560px)
  width: 100%
  height: 100vh
  background-image: url('../img/aerial-building.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: right top
  padding: 0 0 0 0
  position: relative

  .residences-logo
    position: absolute
    top: 50px
    right: 50px
    height: 70px
    width: 70px
    z-index: 15

    +below(3)
      display: none

    path
      fill: lighten(black, 10%)

  +below(3)
    padding: rem(100px) 0
    height: auto

  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100vh
    left: 0
    top: 0
    // background-color: #1B2022
    background: linear-gradient(to right, #1B2022 , transparent);
    opacity: .9

    +below(3)
      height: 100%
      background: #1B2022;
      opacity: .56

  div.copy
    z-index: 2
    position: relative
    padding: 0 9%
    vertically-align()

    +below(3)
      vertically-align(false)

    h2, p
      margin: 0

      &::selection
        color: #F1BC50
        background-color: #8f9ea3

    h2
      color: white
      font-size: 40px
      margin-bottom: 40px

      &:not(.active)
        display: none

      &.active
        display: block

    p
      max-width: 500px
      color: white
      font-size: 16px

      &:not(.active)
        display: none

      &.active
        display: block

    a.btn
      margin-top: 45px
      // margin-left: rem(25px)
      font-size: 12px
      border-radius: 0px
      // background-color: transparent
      border: 1px solid rgba(241,188,80,.8)
      padding: rem(16px) rem(50px)
      color: #f1bc50
      transition: all 1s ease

      &:not(.active)
        display: none

.interior
  height: auto
  width: 100%
  overflow: visible
  padding-bottom: 100px
  background-color: #1B2023

  &:after
    display: none

  div.figure-container
    ratio-box(4/3)

    figure
      height: 100%
      margin: 0
      background-color: red
      width: 100%
      background-image: url('../img/new/Harrison_Living_Room.jpg')
      background-repeat: no-repeat
      background-size: cover
      background-position: right top
      background-attachment: fixed

      +below(3)
        background-attachment: scroll

  div.copy
    h2
      font-size: 35px
      color: white
      margin-top: rem(75px)
      margin-bottom: rem(50px)
      text-align: center

      +below(3)
        padding: 0 5%
        text-align: left

    .interior-gallery
      margin-top: 75px
      clear: both
      padding: 0 4% 0 4%
      width: 100%
      height: auto
      display: table
      overflow: visible

      &:last-child
        margin-top: 20px

        +below(3)
          margin-top: 0px

      .zoom-img-wrap
        width: 100%

        img
          height: auto

      div
        margin-left: 20px
        float: left
        width: calc((100%/3) - 14px)
        height: auto
        position: relative

        +below(3)
          width: 100%
          margin: 0
          margin-bottom: 20px

        &::after
          position: absolute
          content: ''
          top: 0
          left: 0
          width: 100%
          height: 0%
          padding-bottom: 56.8%
          box-shadow: inset 0 0 0 0px transparent
          transition: box-shadow .3s $ease-out-quad
          pointer-events: none

          +below(3)
            padding-bottom: 56.9%

        &:hover
          &::after
            box-shadow: inset 0 0 0 5px #F1BC50

        img
          display: inline-block;
          width: 100%;
          height: auto;
          background-color: grey;
          cursor: pointer;
          float: left

        &:first-of-type
          margin-left: 0px

    .double
      padding: 0 4% 0 calc(6.7% + 40px)
      height: auto
      overflow: hidden

      +below(3)
        padding: 0 5% 0 5%

      p
        col(1/2)
        font-size: 15px
        color: #8f9ea3
        line-height: 30px
        position: relative;

        .btn
          margin-top: 40px;

          +below(3)
            margin-top: 30px;

        +below(3)
          stack()
          margin-bottom: 30px

      ul
        col(1/2)

        +below(3)
          padding: 0
          stack()

        li
          margin-left: 10%
          list-style: none
          line-height: 30px
          margin-bottom: 10px
          color: #8f9ea3
          position: relative
          padding-left: 15px

          &:before
            content: "• "
            position: absolute
            top: 2px
            left: 0px
            color: #EEB450

          +below(3)
            margin: 0
            margin-bottom: 10px

.amenities
  // overflow: visible
  // padding-bottom: 100px
  background-color: #EEEEEE
  min-height: rem(470px)
  width: 100%
  height: 100vh
  background-image: url('../img/bow-tie.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center top
  padding: 0 0
  position: relative

  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    z-index: 1
    background-color: white
    opacity: .55

    +above(4)
      opacity: .15
      display: none

    +below(3)
      height: 100%

  +below(3)
    padding: rem(75px) 0
    height: auto
    min-height: rem(650px)

  div.copy
    position: absolute;
    top: 50%
    right: 13%
    transform: translateY(-50%)
    z-index: 9

    +below(3)
      padding: 0 5%
      transform: none
      top: 0
      left: 0
      position: relative

    h3
      font-size: 45px
      color: #121818
      margin: 0
      margin-bottom: 45px

      &:not(.active)
        display: none

      &.active
        display: block

    p
      margin: 0
      max-width: 460px

      &:not(:last-child)
        margin-bottom: 30px

      &:not(.active)
        display: none

      &.active
        display: block
