section.full-height-gallery
  width: 100%
  height: auto
  padding: rem(80px) 5.8% rem(60px) 5.8%
  background-color: #1B2022
  display: table
  overflow: visible

  div
    height: auto
    float: left
    position: relative

    &::after
      position: absolute
      content: ''
      top: 0
      left: 0
      width: 100.2%
      height: 0%
      padding-bottom: 66.6%
      box-shadow: inset 0 0 0 0px transparent
      transition: box-shadow .3s $ease-out-quad
      pointer-events: none

    &:hover
      &::after
        box-shadow: inset 0 0 0 5px #F1BC50

    +above(3)
      col(1/4)

    +below(3)
      col(1/2)
      margin-bottom: 20px

      &:nth-child(2n)
        margin-right: 0px

    +below(2)
      col(1/1)
      margin-bottom: 20px

    // +above(3)
    //   width: calc(100% / 4)
    //
    // +below(3)
    //   width: calc(100% / 2)
    //
    // +below(2)
    //   width: 100%
    // col(1/4)
    // background-color: red
    // margin-right: 3%
    // ratio-box(2/1.35)
    // margin-bottom: 13px

    // background-color: transparent
    // position: relative
    // max-height: 200px
    // overflow: visible
    // display: table-row

    // +above(4)
    //   &:nth-child(4n)
    //     margin-right: 0px
    //
    // +below(3)
    //   col(1/2)
    //   margin-right: 3%
    //   margin-bottom: 3.3%
    //
    //   &:nth-child(2n)
    //     margin-right: 0px
    //
    // +below(2)
    //   col(1/1)
    //   margin-bottom: 5%

    // +above(3)
    //   &:not(:nth-child(4n))
    //     margin-right: 10px
    //
    // +below(3)
    //   &:not(:nth-child(2n))
    //     margin-right: inherit
    //
    //   &:not(:nth-child(2n))
    //     margin-right: 10px
    //
    // +below(2)
    //   &:not(:nth-child(1n))
    //     margin-right: inherit

    .zoom-img-wrap
      width: 100%

      img
        height: auto

    img
      display: inline-block;
      width: 100%;
      height: auto;
      background-color: grey;
      cursor: pointer;
      float: left
