.no-transition
  transition: none !important

.page-active
  height:100%
  position: fixed;
  width: 100%;

body
  transition: all .7s ease

  &.nav-open
    // overflow: hidden
    transform: translateX(90vw)

    html
      height: 100vh
      // overflow: hidden

    .overlay
      // overflow: hidden;

    // +above(3)
    //   transform: translateX(-87.1vw)
    //
    // +below(3)
    //   transform: translateX(-87.1vw)
    //
    // +below(2)
    //   transform: translateX(-90vw)

div.overlay
  position: absolute;
  top: 0;
  left: 0;
  height: 100%
  width: 100%
  background-color: black
  opacity: .8
  display: none

  &.active
    display: block

.ham
  margin-left: 3%
  position: absolute
  top: 45px
  left: 2%
  z-index: 3

  +below(1030px)
    top: calc((90px / 2) - (15px / 2))

  +below(2)
    top: calc((60px / 2) - (15px / 2))

  span
    width: 0
    position: relative
    text-transform: uppercase
    font-size: rem(13px)
    color: white
    letter-spacing: .2em
    font-weight: 700
    white-space: nowrap
    float: left
    color: #F1BC50
    top: 2px
    font-family: "franklin-gothic-urw",sans-serif
    -webkit-font-smoothing: antialiased
    -webkit-text-stroke: 0.5px rgba(white, 0.3)

    +above(1030px)
      display: none
