section.hero
  width: 100%
  height: calc(90vh - 90px)
  background-image: url('../img/exterior.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  background-color: #1B2022
  padding-top: rem(90px)
  min-height: rem(700px);

  +below(2)
    padding-top: rem(60px)

  +below(3)
    font-size: 28px
    height: 50vh

  div.copy
    width: 100%
    height: auto
    background: rgba(22,26,28,.75);
    padding: calc(2rem + 90px) 5% 2.9rem 5%;
    margin-top: rem(-90px)

    +below(2)
      margin-top: rem(-60px)
      padding-top: calc(2rem + 60px)


    h1
      color: #FFF
      font-size: 38px
      margin: 0
      // padding-top: 40px

      +below(3)
        font-size: 28px

    hr
      border: 0
      border-bottom: 1px solid rgba(255,255,255,.3)
      height: 0
      padding: 0
      margin: 1.5em 0
      width: 9.375rem
      transition: all .3s ease
      margin: 0
      margin-top: 22px

    p
      margin: 0
      color: #FFF
      margin-top: 25px
      font-size: 15px

      +below(3)
        margin-top: 20px
