div.inquire-btn-menu
  margin: 0
  padding: 0
  position: absolute
  top: 0px
  right: -90vw
  background-color: #1B2022
  z-index: 4
  width: 90vw
  height: 200vh
  transition: all .7s ease
  display: none
  // transform: translateX(90vw)
  // overflow: scroll

  // +above(3)
  //   width: 87.1vw
  //
  // +below(3)
  //   width: 87.1vw
  //
  // +below(2)
  //   width: 90vw

  .form-container
    padding: 0 6%
    position: absolute
    top: 156px

  .inquire-headline
    font-size: 28px
    color: #fff
    position: absolute
    top: 107px
    left: 6%
    margin: 0
    padding: 0

    &::selection
      color: #F1BC50
      background-color: #8f9ea3


  &.active
    display: block

  #inquire-close-btn
    max-width: 30px
    height: 30px
    stroke: #5b656a
    fill: #5b656a
    cursor: pointer
    position: absolute
    top: 30px
    right: 30px
    transition: all .3s ease

    &:hover
      stroke: #fff
      fill: #fff

  form
    height: 100%
    hr
      width: 100%
      height: 1px
      border-bottom: 1px dashed rgba(#fff, 0.3)
      margin-bottom: 25px
      padding: 0
    .submit
      float: left

      &:focus
        outline: 0

      +below(2)
        padding: rem(10px) rem(20px)

    .cancel
      float: right

      &:focus
        outline: 0

      +below(2)
        padding: rem(10px) rem(20px)

    .zip
      margin-bottom: rem(25px)
    .pr
      margin-bottom: rem(30px)
