section.intro
  background-color: #1B2022

  p
    margin: 0 !important
    padding: 75px 20.6%
    line-height: 30px
    color: #8f9ea3

    +below(3)
      padding: 75px 10%

    &::selection
      color: #F1BC50
      background-color: #8f9ea3

    a
      color: #FFF
