section.intro-gallery
  width: 100%
  height: auto
  padding: 20px 6.25% 80px 6.25%
  background-color: #1B2022
  display: table
  overflow: visible
  position: relative

  div
    // col(1/3)
    // max-height: 200px
    // ratio-box(2/2)
    // overflow: visible
    // height: 200px
    // display: table-row
    height: auto
    float: left
    position: relative

    &::after
      position: absolute
      content: ''
      top: 0
      left: 0
      width: 100.1%
      height: 0%
      padding-bottom: 57%
      box-shadow: inset 0 0 0 0px transparent
      transition: box-shadow .3s $ease-out-quad
      pointer-events: none

    &:hover
      &::after
        box-shadow: inset 0 0 0 5px #F1BC50

    +above(3)
      col(1/3)
      // margin-bottom: 40px
      //
      &:nth-child(3n)
        margin-right: 0px

    +below(3)
      stack()
      margin-bottom: 20px
      //
      // &:nth-child(1n)
      //   margin-right: 0px

    +below(2)
      col(1/1)
      margin-bottom: 20px
      // margin-bottom: 10px

    // .zoom-img-wrap
    //   // width: 100%
    //
    // +above(3)
    //   &:not(:nth-child(3n))
    //     img
    //       margin-right: 10px
    //
    // +below(3)
    //   &:not(:nth-child(3n))
    //     img
    //       margin-right: inherit
    //
    //   &:not(:nth-child(2n))
    //     img
    //       margin-right: 10px
    //
    // +below(2)
    //   &:not(:nth-child(2n))
    //     img
    //       margin-right: inherit

    .zoom-img-wrap
      width: 100%

      img
        height: auto

    img
      display: inline-block;
      width: 100%;
      height: auto;
      background-color: grey;
      cursor: pointer;
      float: left

      +above(3)
        margin-bottom: 10%
      // max-height: 200px
      // width: 100%
      // float: left
      // height: auto
      // cursor: pointer
      // margin-bottom: 10px

      // +above(3)
      //   width: calc((100% / 3) - 10px)
      //
      // +below(3)
      //   width: calc((100% / 2) - 10px)
      //
      // +below(2)
      //   width: 100%
      //
      // &:not(:first-of-type, :last-of-type)
      //   // margin: 0 auto
