//
// Footer Styles
// –––––––––––––––––––––––––––––––––––––––––––

footer[role="contentinfo"]
  cf()
  width: 100%
  display: block
  background: #1b2022
  color: #5b656a
  overflow: hidden
  .top-links
    width: 100%
    cf()
    padding: 0 12%
    margin-top: rem(65px)
    position: relative
    z-index: 11

    +below(4)
      article
        width: 50%
        float: left
        margin-right: 0
        text-align: left
        min-height: rem(230px)
        margin: rem(30px) 0
        border-bottom: solid 1px $quiet-border-dark
        &:last-of-type
          width: 100%
    article
      col(1 / 5)
      p
        color: #8f9ea3
        text-transform: uppercase
        font-size: rem(13px)
        // font-weight: $medium;
        padding-bottom: rem(20px)
      ul li a
        display: block
        padding: rem(10px) 0
        font-size: rem(16px) !important
        color: #fff
        underline(rgba(#f1bc50, 0.4))
        transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940)
        &:hover
          color: #fff

  .footer-content
    width: 100%
    position: relative
    padding: 175px 5%
    padding-bottom: 50px
    path, polygon, rect
      fill: #5b656a
      transition: all .2s ease
    a
      color: #5b656a
      transition: all .2s ease
    a:hover
      color: lighten(#5b656a, 40%)
      path, polygon, rect
        fill: lighten(#5b656a, 40%)
    .bottom
      width: 100%
      height: 65px
      position: relative
      top: -65px
      z-index: 10
      border-bottom: 1px solid rgba(#fff, 0.1)
      .social-wrap
        float: right
        padding-top: 1px
        margin: -3px 0.94rem

        li
          display: inline-block
          border-right: 1px solid rgba(#fff, 0.1)
          &:last-child
            border: none
        a
          width: 100%
          text-align: center
          float: left
          height: 62px
          cursor: pointer
          display: block
          padding: 0 20px
          svg
            width: 20px
            vertically-align()
            transition: fill .2s
            rect
              fill: #5b656a
      .maximus-logo
        width: 70px
        height: 50px
        margin-left: 20px
        position: relative
      .mk-wrap
        width: 130px
        border-right: 1px solid rgba(#fff, 0.1)
        float: left
        padding-right: rem(20px)
        height: 65px
        a
          width: 100%
          height: 70px
          display: block
          svg
            width: 100%
            height: 70px
            margin-top: -5px
            rect
              fill: transparent
    .license
      position: relative
      font-size: 12px
      top: rem(-50px)
      letter-spacing: -.2px
      color: #5b656a
      border: 1px solid transparent
    .house
      width: 20px
      height: 25px
      float: left
      position: relative
      top: -84px
      left: 157px
      path
        fill: #5b656a
    .legal-info
      float: right
      position: relative
      top: -5.375rem
      li
        display: inline-block
        margin-left: 10px
        font-size: 12px
        letter-spacing: -.2px
    .footer-logo
      position: absolute
      left: calc(50% - 125px)
      top: 225px
      width: 250px
      display: block
      margin-top: -96px
      z-index: 10

      +below(4)
        width: 175px
        top: 228px
        left: calc(50% - 93px)
        svg
          width: 100%
        &::before
          top: 9px

      &::before
        content: ''
        display: block
        width: 100%
        height: 95px
        background: #1b2022
        position: absolute
        top: 40px
      svg
        width: 250px
        margin: 0 auto
        position: relative
        display: block
        bottom: 212px
        margin-bottom: -70px
        path, polygon, rect
          fill: #5b656a !important

  +below(4)
    .top-links
      padding: 0 5%
      text-align: center
    .footer-content
      padding: 50px 0
      .bottom
        height: auto
        position: relative
        border-bottom: 0
        top: 0
        .social-wrap
          float: none
          center(230px)
          height: auto
          cf()
          li
            width: calc(100% / 3)
            display: block
            float: left
        .housing
          cf()
          center(250px)
          margin-top: 320px
          height: 65px
          z-index: 5
      .house
        top: -25px
        left: calc(50% + 50px)
      .license
        width: 100%
        float: none
        margin: 0
        padding: 0
        text-align: center
        top: auto
        margin-top: rem(20px)
        padding-right: 67px
      .maximus-logo
        top: 3px
      .legal-info
        padding-top: 0
        padding-right: rem(30px)
        float: none
        text-align: center
        top: 23px
        cf()
      .footer-logo
        width: 100%
        left: 0
        top: 200px
        border-top: none
        margin-top: 40px
        z-index: 1
        svg
          position: relative
          width: 250px
