//
// Header styles
// –––––––––––––––––––––––––––––––––––––––––––

header[role="banner"]
  center(1600px)
  transform: translateX(-50%)
  height: rem(90px)
  width: 100%
  background-color: #1B2022
  transition: all .3s ease
  position: fixed
  top: -200px
  left: 50%
  z-index: 10

  &.active
    top: 0

  +below(2)
    height: 60px

  div.navigation-container

    ul.mobile-nav
      margin: 0
      padding: 0
      position: absolute
      top: 0px
      left: -90vw
      background-color: #1B2022
      z-index: 4
      width: 90vw
      height: 100vh
      transition: all .7s ease
      display: none
      // transform: translateX(-94vw)
      overflow-x:  hidden
      overflow-y:  scroll

      // +above(4)
      //   top: -73px
      //
      // +below(1030px)
      //   top: -73px
      //
      // +below(2)
      //   top: -50px

      .logo-mobile-menu
        max-width: 80px
        max-height: 80px
        position: absolute
        bottom: 30px
        left: 30px
        display: block

        @media screen and (max-height: 690px)
          display: none

        path
          fill: #5B656A

      #mobile-close-btn
        max-width: 30px
        z-index: 5;
        height: 30px
        stroke: #5b656a
        fill: #5b656a
        cursor: pointer
        position: absolute
        top: 15px
        transition: all .3s ease
        right: 15px

        &:hover
          stroke: #fff
          fill: #fff

      li
        width: 100%
        list-style-type: none
        border-bottom: 1px solid #333A3C
        padding: 0
        -webkit-font-smoothing: antialiased
        -webkit-text-stroke: 0.5px rgba(white, 0.3)
        display: block
        height: auto
        position: relative

        &:last-of-type
          border-top: 1px solid transparent

        // div.preview
        //   width: 100px
        //   height: 100px
        //   background-color: red
        //   position: relative
        //   left: 5%

        a.mobile-nav-link
          width: 90vw !important
          height: 100%
          // max-height: 60px

          &:hover
            text-decoration: none

            h4
              text-decoration: none
              border: none
              color: #fff

        h4
          max-width: calc(100% - 55px)
          padding: rem(25px) 0 rem(25px) 7.5%
          // position: absolute
          // top: 0%
          // left: 0%
          color: #8C9BA0
          margin: 0
          font-size: 17px

        // &:nth-of-type(2) {
        //   border-top: 1px solid transparent
        //   top: 84px
        //   left: 0
        // }


      &.active
        display: block


    a.logo-container
      float: left
      position: relative
      text-decoration: none
      border: none

      &:hover
        text-decoration: none

      &::after
        content: ''
        width: 1px
        height: 70px
        position: absolute
        bottom: -8px
        right: -40px
        background: #2D3638

        +below(1030px)
          display: none

      svg.logo-large
        width: 70px
        height: 50px
        dislay: block
        margin-top: calc((90px / 2) - (50px / 2))

        +below(1030px)
          margin-left: calc((100vw / 2) - (140px / 2))

        +below(2)
          display: none

      svg.logo-small
        width: auto
        height: 30px
        display: none
        margin-top: calc((60px / 2) - (20px / 2))

        +below(2)
          margin-left: calc((100vw / 2) - (88px / 2))
          display: block

    ul.navigation-items
      float: left
      margin-left: rem(60px)
      margin-top: calc((90px / 2) - (18px / 2))

      +below(1030px)
        display: none

      li
        list-style-type: none
        float: left

        &:not(:last-of-type)
          margin-right: rem(40px)

        a.navigation-item
          font-size: 1rem
          text-decoration: none
          color: #8f9ea3

          &:hover
            color: #FFF
            text-decoration: none

    div.phone-container
      float: right

      +below(1200px)
        display: none

      &:hover
        h4.phone-number
          color: #FFF

      svg.phone
        float: left
        margin-top: calc((90px / 2) - (20px / 2))

      h4.phone-number
        transition: color .35s;
        margin: 0
        margin-top: calc((90px / 2) - (16px / 2))
        margin-left: rem(10px)
        float: left
        font-size: .8125rem
        color: #8f9ea3

    a.btn
      float: right
      margin-top: calc((90px / 2) - (40px / 2))
      margin-left: rem(25px)
      font-size: 12px
      border-radius: 0px
      background-color: transparent
      border: 1px solid rgba(241,188,80,.8)
      padding: rem(13px) rem(40px)
      color: #f1bc50
      transition: all .5s ease



      +below(1030px)
        font-size: 9px;
        padding: .4375rem 1.125rem;
        margin-top: calc((90px / 2) - (25px / 2))

      +below(2)
        margin-top: calc((60px / 2) - (25px / 2))
